<template>
  <div>
    <form @submit.prevent="submitChangePassword" class="changepass">
      <form-field :name="$t('account.currentPassword')">
        <input type="password" v-model="currentPassword">
      </form-field>
      <form-field :class="{ error: !passwordValid }" :name="$t('account.newPassword')">
        <password-field v-model="password" />
        <small class="note">{{ $t('account.passwordLength') }}</small>
      </form-field>
      <form-field :class="{ error: !passwordMatch }" :name="$t('account.confirmPassword')">
        <password-field v-model="confirm" />
      </form-field>
      <div class="actions">
        <button :disabled="!password.length || !currentPassword.length || !confirm.length || !passwordValid || !passwordMatch">
          <template v-if="working"><i class="la la-sync spinner"></i> {{ $t('account.changingPassword') }}</template>
          <template v-else><i class="la la-key"></i> {{ $t('account.changePassword') }}</template>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/global/names'
import FormField from '@/components/FormField.vue'
import PasswordField from '@/components/PasswordField.vue'
import { uppercaseChar, lowercaseChar, numberChar, specialChar } from '@/passwordRules'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FormField,
    PasswordField
  },
  data: () => ({
    working: false,
    currentPassword: '',
    password: '',
    confirm: ''
  }),
  computed: {
    passwordValid () {
      return !this.password.length ||
             (this.password.length >= 8 &&
             uppercaseChar.test(this.password) &&
             lowercaseChar.test(this.password) &&
             numberChar.test(this.password) &&
             specialChar.test(this.password))
    },
    passwordMatch () {
      return !this.confirm.length ||
             this.password === this.confirm
    }
  },
  methods: {
    ...mapActions([
      actions.changePassword
    ]),
    async submitChangePassword () {
      this.working = true

      try {
        await this.changePassword({ current: this.currentPassword, password: this.password })
        this.currentPassword = ''
        this.password = ''
        this.confirm = ''
        this.working = false
      } catch (error) {
        this.currentPassword = ''
        this.password = ''
        this.confirm = ''
        this.working = false
        throw error
      }
    }
  }
}
</script>

<style lang="less" scoped>
.changepass {
  display: grid;
  gap: 16px;
  max-width: 400px;
  margin: 16px auto;
  box-sizing: border-box;
  padding: 16px;

  .error /deep/ input {
    border-bottom-color: var(--form-field-border-error);
  }

  .note {
    font-size: .75rem;
    text-align: justify;
    width: 100%;
    display: inline-block;
  }

  .actions {
    display: flex;
    justify-content: center;

    .la {
      font-size: 1.5rem;
      vertical-align: middle;
    }

    button {
      padding: 8px 16px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      background: var(--confirm-button);

      .spinner {
        animation: spinner 1.4s infinite linear;
      }

      &:hover {
        background: var(--confirm-button-hover);
      }

      &[disabled] {
        cursor: not-allowed;
        color: var(--text-muted);
      }
    }
  }
}

.confirmation:not(:first-of-type) {
  padding-top: 16px;
}
</style>
