<template>
  <div>
    <navigation />
    <portal-target name="hello" />
    <div class="container">
      <router-view />
    </div>
    <portal to="footer">
      <footer>
        <span>{{ $t('global.madeWithHeart') }}<i alt="love" class="la la-heart"></i>{{ $t('global.byTheTeam') }}<abbr data-title="François Allard, Francis Pion & Marc-Olivier Rodrigue">{{ $t('global.team') }}</abbr></span>
        <span><a href="#" @click.prevent="openChangelog">v{{ version }}</a> <i class="la la-copyright"></i> {{ currentYear }} {{ $t('global.allRightsReserved') }}</span>
      </footer>
    </portal>
    <dialog-window
      v-if="showChangelog"
      @close="closeChangelog"
      :buttons="[{ text: $t('dialog.close'), action: closeChangelog }]"
    >
      <div class="markdown" v-if="$i18n.locale === 'en'" v-html="changelogEn" />
      <div class="markdown" v-if="$i18n.locale === 'fr'" v-html="changelogFr" />
    </dialog-window>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import { html as changelogEn } from '../../changelog.md'
import { html as changelogFr } from '../../changelog-fr.md'

export default {
  components: {
    Navigation,
    DialogWindow
  },
  data: () => ({
    currentYear: new Date().getFullYear(),
    version: import.meta.env.VITE_APP_VERSION,
    showChangelog: false,
    changelogEn,
    changelogFr
  }),
  methods: {
    openChangelog () {
      this.showChangelog = true
    },
    closeChangelog () {
      this.showChangelog = false
    }
  }
}
</script>

<style lang="less" scoped>
.container {
  margin: 0 auto;
  max-width: 1350px;
}

footer {
  font-weight: lighter;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted var(--text-footer);
  }

  abbr {
    text-decoration: none;
    border-bottom: 1px dotted var(--text-footer);
    position: relative;

    &:hover::after, &:focus::after {
      content: attr(data-title);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      width: 180px;
      text-align: center;
      background-color: var(--panel-1);
      color: var(--text-color);
      box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
      font-size: 14px;
      padding: 3px 5px;
    }
  }
}

.markdown ::v-deep {
  h1 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
  }

  ul {
    font-size: 0.85rem;
    line-height: 1rem;
    list-style: circle;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: unset;
  }
}
</style>
