<template>
  <div class="background-list-outer">
    <filter-wrapper @update="getBackgroundList" />
    <loader v-model="getBackgroundList">
      <div class="background-list">
        <background-list-item
          v-for="background in backgrounds"
          :key="background.id"
          :background="background"
        />
        <p v-if="!backgrounds.length">{{ $t('list.empty') }}</p>
      </div>
    </loader>
    <floating-button :to="{ name: 'New Background' }" type="confirm" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import BackgroundListItem from '@/components/BackgroundListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'
import FilterWrapper from '@/components/FilterWrapper.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FloatingButton,
    BackgroundListItem,
    Loader,
    FilterWrapper
  },
  computed: {
    ...mapState([
      state.backgrounds
    ])
  },
  methods: {
    ...mapActions([
      actions.getBackgroundList
    ])
  }
}
</script>

<style lang="less" scoped>
.background-list-outer {
  padding: 16px;
}

.background-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media only screen and (max-width: 1440px) {
  .background-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .background-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .background-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
