<template>
  <loader v-model="load">
    <background-form v-model="background" />
    <form-footer
      :message="$t('background.deletePrompt')"
      v-model="background"
      code
      @open-code="openCode"
      :back-route="{ name: 'Backgrounds' }"
      :requirements="[isValid, hasChanges]"
      @save="saveBackground"
      @delete="confirmDeleteBackground"
    />
    <dialog-window
      class="dialog"
      v-if="showCode"
      :buttons="[{ text: $t('dialog.close'), action: closeCode }]"
      @close="closeCode"
    >
      <div class="import-export">
        <form-field :name="$t('form.export')">
          <button @click="doExport" class="export">{{ $t('form.download') }}</button>
        </form-field>
        <form-field :name="$t('form.import')">
          <label class="import">
            {{ $t('form.upload') }}
            <input type="file" @change="doImport" accept=".background.json">
          </label>
        </form-field>
      </div>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { clone, equals } from '@/utils'
import BackgroundForm from '@/components/BackgroundForm.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FormField from '@/components/FormField.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    DialogWindow,
    BackgroundForm,
    FormField,
    FormFooter,
    Loader
  },
  data: () => ({
    initialBackground: null,
    showCode: false
  }),
  computed: {
    ...mapState([
      state.background
    ]),
    isValid () {
      return this.background &&
             this.background.name.length &&
             (this.background.specialty === null || this.background.specialty.name.length) &&
             (this.background.feature === null || this.background.feature.name.length)
    },
    hasChanges () {
      return !equals(this.initialBackground, this.background)
    },
    json () {
      const { id, createdAt, updatedAt, ...background } = this.background
      return JSON.stringify(background)
    }
  },
  methods: {
    ...mapActions([
      actions.getBackground,
      actions.saveBackground,
      actions.deleteBackground,
      actions.importBackground
    ]),
    async load () {
      await this.getBackground(this.$route.params.id)
    },
    async confirmDeleteBackground () {
      await this.deleteBackground()
      this.$router.push({ name: 'Backgrounds' })
    },
    openCode () {
      this.showCode = true
    },
    closeCode () {
      this.showCode = false
    },
    doExport () {
      const a = document.createElement('a')
      a.href = URL.createObjectURL(new Blob([this.json], { type: 'application/json' }))
      a.setAttribute('download', `${this.background.name}.background.json`)
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    },
    doImport (event) {
      const reader = new FileReader()
      reader.onload = event => {
        const obj = JSON.parse(event.target.result)
        const initialBackground = clone(this.initialBackground)
        this.importBackground(obj).then(() => {
          this.initialBackground = initialBackground
          this.closeCode()
        })
      }
      reader.readAsText(event.target.files[0])
    }
  },
  watch: {
    background () {
      if (this.initialBackground && this.background.id !== this.initialBackground.id) {
        this.$router.push({ name: 'Edit Background', params: { id: this.background.id } })
      }

      this.initialBackground = clone(this.background)
    }
  }
}
</script>

<style lang="less" scoped>
.background {
  padding: 16px;
}

.import-export {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  .export {
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;

    &:hover {
      background: var(--panel-1);
    }
  }

  .import {
    display: inline-block;
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    line-height: normal;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background: var(--panel-1);
    }

    input[type='file'] {
      display: none;
    }
  }
}
</style>
