<template>
  <div class="character-list">
    <filter-wrapper v-if="hasWorld" v-slot="{ filter }" @update="getCharacterList" :additional-sort-options="additionalSortOptions" :additional-state="additionalState">
      <label class="checkbox">
        <small>{{ $t('list.showArchived') }}</small>
        <input type="checkbox" v-model="filter.archived">
        <i v-if="filter.archived" class="la la-check-circle"></i>
        <i v-else class="la la-circle"></i>
      </label>
      <form-field :name="$t('list.player')" is-select>
        <select v-model="filter.player">
          <option :value="null">{{ $t('list.all') }}</option>
          <option v-for="player in players" :key="player" :value="player">{{ player }}</option>
        </select>
      </form-field>
      <form-field :name="$t('list.party')" is-select>
        <select v-model="filter.partyId">
          <option :value="null">{{ $t('list.all') }}</option>
          <option v-for="party in parties" :key="party.id" :value="party.id">{{ party.name }}</option>
        </select>
      </form-field>
    </filter-wrapper>
    <loader v-model="load">
      <div v-if="characters.length" class="character-list-own">
        <character-list-item
          v-for="character in characters"
          :key="character.id"
          :character="character"
        />
      </div>
      <p v-if="!characters.length">{{ $t('list.empty') }}</p>
      <div v-if="sharedCharacters.length">
        <h2>{{ $t('character.sharedWithMe') }}</h2>
        <div class="character-list-shared">
          <shared-character-list-item
            v-for="character in sharedCharacters"
            :key="character.id"
            :character="character"
          />
        </div>
      </div>
    </loader>
    <floating-button v-if="hasWorld" :to="{ name: 'New Character' }" type="confirm" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, mutations, state, moduleName } from '@/store/game/names'
import { state as globalState, moduleName as globalModuleName } from '@/store/global/names'
import CharacterListItem from '@/components/CharacterListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import FilterWrapper from '@/components/FilterWrapper.vue'
import Loader from '@/components/Loader.vue'
import SharedCharacterListItem from '@/components/SharedCharacterListItem.vue'
import FormField from '@/components/FormField.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    CharacterListItem,
    FloatingButton,
    FilterWrapper,
    Loader,
    SharedCharacterListItem,
    FormField
  },
  data () {
    return {
      additionalSortOptions: [
        {
          name: this.$t('list.playerAsc'),
          value: 'Player',
          desc: false
        },
        {
          name: this.$t('list.playerDesc'),
          value: 'Player',
          desc: true
        }
      ],
      additionalState: {
        archived: false,
        player: null,
        partyId: null
      }
    }
  },
  computed: {
    ...mapState([
      state.characters,
      state.players,
      state.parties,
      state.sharedCharacters
    ]),
    hasWorld () {
      return this.$store.state[globalModuleName][globalState.selectedWorld] !== null
    }
  },
  methods: {
    ...mapActions([
      actions.getCharacterList,
      actions.getPlayerList,
      actions.getPartyList,
      actions.getSharedCharacterList
    ]),
    async load () {
      if (this.hasWorld) {
        await this.getCharacterList()
      }
    }
  },
  async created () {
    if (this.hasWorld) {
      this.$store.commit(`${moduleName}/${mutations.setFilter}`, this.filter)
      await this.getPlayerList()
      await this.getPartyList()
    }

    await this.getSharedCharacterList()
  },
  watch: {
    filter: {
      deep: true,
      async handler (value) {
        this.$store.commit(`${moduleName}/${mutations.setFilter}`, value)
        await this.getCharacterList()
      }
    }
  }
}
</script>

<style lang="less" scoped>
.character-list {
  padding: 16px;

  .character-list-own, .character-list-shared {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  h2 {
    font-size: 1.25rem;
    display: inline-block;
    color: var(--text-muted);
    padding: 8px 48px 8px 0;
    border-bottom: 2px solid var(--form-field-border);
    margin: 8px 0;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;

  input {
    display: none;
  }

  .la {
    margin-left: 8px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1440px) {
  .character-list {
    .character-list-own, .character-list-shared {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .character-list {
    .character-list-own, .character-list-shared {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
</style>
