<template>
  <loader v-model="load">
    <portal to="hello">
      <temporary-world-warning v-if="temporaryWorld" v-model="temporaryWorld" />
    </portal>
    <character-form
      v-model="character"
      :backgrounds="backgrounds"
      :classes="classes"
      :character-accesses="characterAccesses"
      :character-classes="characterClasses"
      :races="races"
      :parties="parties"
      :background-info="background"
      :class-info="_class"
      :race-info="race"
      :languages="languages"
      @background-changed="backgroundChanged"
      @race-changed="raceChanged"
      @classes-changed="classesChanged"
      @accesses-changed="accessesChanged"
      @levelUp="openLevelUpDialog"
    />
    <dialog-window
      class="dialog"
      v-if="levelUpDialog"
      @close="closeLevelUpDialog"
    >
    <level-up-form
      v-model="character"
      :characterClasses="characterClasses"
      :classes="classes"
      @classes-changed="classesChanged"
      @close="closeLevelUpDialog"
      @confirm="confirmLevelUp"
    />
    </dialog-window>
    <form-footer
      :message="$t('character.deletePrompt')"
      v-model="character"
      :code="isOwner"
      @open-code="openCode"
      :back-route="{ name: 'Characters' }"
      :requirements="[isValid, hasChanges]"
      @save="saveAll"
      :has-delete="isOwner"
      @delete="confirmDeleteCharacter"
    />
    <floating-button v-if="character && character.id" :to="{ name: 'View Character', params: { id: character.id } }" icon="la-id-card" />
    <dialog-window
      class="dialog"
      v-if="showCode && character.owned"
      :buttons="[{ text: $t('dialog.close'), action: closeCode }]"
      @close="closeCode"
    >
      <div class="import-export">
        <form-field :name="$t('form.export')">
          <button @click="doExport" class="export">{{ $t('form.download') }}</button>
        </form-field>
        <form-field :name="$t('form.import')">
          <label class="import">
            {{ $t('form.upload') }}
            <input type="file" @change="doImport" accept=".character.json">
          </label>
        </form-field>
      </div>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { createHelpers } from 'vuex-map-fields'
import { actions, state, moduleName } from '@/store/game/names'
import { asyncForEach, clone, equals } from '@/utils'
import CharacterForm from '@/components/CharacterForm.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import FormField from '@/components/FormField.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'
import LevelUpForm from '@/components/LevelUpForm.vue'
import TemporaryWorldWarning from '@/components/TemporaryWorldWarning.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)
const { mapFields } = createHelpers({
  getterType: 'game/getField',
  mutationType: 'game/updateField'
})

export default {
  components: {
    DialogWindow,
    CharacterForm,
    FloatingButton,
    FormField,
    FormFooter,
    Loader,
    LevelUpForm,
    TemporaryWorldWarning
  },
  data: () => ({
    initialCharacter: null,
    initialCharacterAccesses: [],
    initialCharacterClasses: [],
    showCode: false,
    newBackgroundName: '',
    newRaceName: '',
    levelUpDialog: false
  }),
  computed: {
    ...mapState([
      state.backgrounds,
      state.background,
      state.character,
      state.languages,
      state.classes,
      state._class,
      state.races,
      state.race,
      state.parties
    ]),
    ...mapFields([
      state.characterAccesses,
      state.characterClasses
    ]),
    isValid () {
      return this.character &&
             this.character.name.length &&
             !this.inventoryError
    },
    inventoryError () {
      return this.character.attacks.some(x => !x.name || !x.damage || !x.damageType)
    },
    hasChanges () {
      return !equals(this.initialCharacter, this.character) ||
             !equals(this.initialCharacterAccesses, this.characterAccesses) ||
             !equals(this.initialCharacterClasses, this.characterClasses) ||
             this.newRaceName || this.newBackgroundName
    },
    temporaryWorld () {
      return this.$store.state.global.temporaryWorld
    },
    isOwner () {
      return this.character?.owned
    },
    json () {
      const { id, createdAt, updatedAt, ...character } = this.character
      return JSON.stringify({
        ...character,
        classes: this.characterClasses.map(value => ({
          ...value,
          classId: this.classes.find(_class => _class.id === value.classId || _class.name === value.name).name
        })),
        raceId: this.race?.name,
        backgroundId: this.background?.name,
        languageIds: this.character.languageIds.map(value => this.languages.find(language => language.id === value).name)
      })
    }
  },
  methods: {
    ...mapActions([
      actions.getBackground,
      actions.getSimpleBackgroundList,
      actions.createBackground,
      actions.getRace,
      actions.getSimpleRaceList,
      actions.createRace,
      actions.getSimpleLanguageList,
      actions.getCharacter,
      actions.saveCharacter,
      actions.deleteCharacter,
      actions.importCharacter,
      actions.getClass,
      actions.getSimpleClassList,
      actions.createClass,
      actions.getCharacterAccessList,
      actions.deleteCharacterAccess,
      actions.getCharacterClassList,
      actions.importCharacterClassList,
      actions.saveCharacterClass,
      actions.deleteCharacterClass,
      actions.getCharacterPartyList
    ]),
    async load () {
      await Promise.all([
        this.getSimpleBackgroundList(),
        this.getSimpleRaceList(),
        this.getSimpleClassList(),
        this.getSimpleLanguageList(),
        this.getCharacterClassList(this.$route.params.id)
      ])
      await this.getCharacter(this.$route.params.id)

      if (this.character.owned) {
        this.getCharacterAccessList(this.$route.params.id)
        this.getCharacterPartyList(this.$route.params.id)
      }
    },
    async confirmDeleteCharacter () {
      await this.deleteCharacter()
      this.$router.push({ name: 'Characters' })
    },
    confirmLevelUp (newFeatures) {
      this.character.bonuses = newFeatures.bonuses
      this.character.features = newFeatures.features
      this.closeLevelUpDialog()
    },
    openLevelUpDialog () {
      this.levelUpDialog = true
    },
    closeLevelUpDialog () {
      this.levelUpDialog = false
    },
    openCode () {
      this.showCode = true
    },
    closeCode () {
      this.showCode = false
    },
    doExport () {
      const a = document.createElement('a')
      a.href = URL.createObjectURL(new Blob([this.json], { type: 'application/json' }))
      a.setAttribute('download', `${this.character.name}.character.json`)
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    },
    doImport (event) {
      const reader = new FileReader()
      reader.onload = event => {
        const obj = JSON.parse(event.target.result)
        obj.classes = obj.classes.reduce((acc, value) => {
          const { classId, ...newValue } = value
          const foundClass = this.classes.find(_class => _class.name === value.classId)?.id
          return foundClass ? [...acc, { ...newValue, classId: foundClass }] : acc
        }, [])
        obj.raceId = this.races.find(race => race.name === obj.raceId)?.id || null
        obj.backgroundId = this.backgrounds.find(background => background.name === obj.backgroundId)?.id || null
        obj.languageIds = obj.languageIds.reduce((acc, value) => {
          const foundLanguage = this.languages.find(language => language.name === value)?.id
          return foundLanguage ? [...acc, foundLanguage] : acc
        }, [])
        const initialCharacter = clone(this.initialCharacter)
        const initialCharacterClasses = clone(this.initialCharacterClasses)
        this.importCharacter(obj).then(() => {
          this.initialCharacter = initialCharacter
          this.importCharacterClassList(obj.classes).then(() => {
            this.initialCharacterClasses = initialCharacterClasses
            this.closeCode()
          })
        })
      }
      reader.readAsText(event.target.files[0])
    },
    backgroundChanged (value) {
      this.newBackgroundName = !value?.id ? (value?.name ?? '') : ''
    },
    raceChanged (value) {
      this.newRaceName = !value?.id ? (value?.name ?? '') : ''
    },
    classesChanged (value) {
      this.characterClasses = value
    },
    accessesChanged (value) {
      this.characterAccesses = value
    },
    async saveAll () {
      const characterAccessIds = this.characterAccesses.map(_class => _class.id)
      const deletedCharacterAccesses = this.initialCharacterAccesses.filter(characterAccess => !characterAccessIds.includes(characterAccess.id))

      const characterClassIds = this.characterClasses.map(_class => _class.classId)
      const deletedCharacterClasses = this.initialCharacterClasses.filter(characterClass => !characterClassIds.includes(characterClass.classId))
      const modifiedCharacterClasses = this.characterClasses.filter(characterClass => {
        const existing = this.initialCharacterClasses.find(_class => _class.classId === characterClass.classId)
        return !existing || !equals(existing, characterClass)
      })

      if (!this.character.backgroundId && this.newBackgroundName) {
        const existingBackground = this.backgrounds.find(x => x.name === this.newBackgroundName)

        if (existingBackground) {
          this.character.backgroundId = existingBackground.id
        } else {
          await this.createBackground(this.newBackgroundName)
          this.character.backgroundId = this.background.id
        }
      }

      if (!this.character.raceId && this.newRaceName) {
        const existingRace = this.races.find(x => x.name === this.newRaceName)

        if (existingRace) {
          this.character.raceId = existingRace.id
        } else {
          await this.createRace(this.newRaceName)
          this.character.raceId = this.race.id
        }
      }

      await this.saveCharacter()

      await asyncForEach(deletedCharacterAccesses, async characterAccess => {
        await this.deleteCharacterAccess(characterAccess)
      })

      await asyncForEach(deletedCharacterClasses, async characterClass => {
        await this.deleteCharacterClass(characterClass)
      })

      await asyncForEach(modifiedCharacterClasses, async characterClass => {
        if (!characterClass.classId && characterClass.name) {
          const existingClass = this.classes.find(x => x.name === characterClass.name)

          if (existingClass) {
            await this.saveCharacterClass({ ...characterClass, classId: existingClass.id })
          } else {
            await this.createClass(characterClass.name)
            await this.saveCharacterClass({ ...characterClass, classId: this._class.id })
          }
        } else {
          await this.saveCharacterClass(characterClass)
        }
      })

      await this.getSimpleClassList()
      await this.getCharacterClassList(this.character.id)
      this.initialCharacterClasses = clone(this.characterClasses)
    }
  },
  watch: {
    character () {
      if (this.initialCharacter && this.character.id !== this.initialCharacter.id) {
        this.$router.push({ name: 'Edit Character', params: { id: this.character.id } })
      }

      this.initialCharacter = clone(this.character)
      this.initialCharacterAccesses = clone(this.characterAccesses)
      this.initialCharacterClasses = clone(this.characterClasses)
    },
    'character.backgroundId' (value) {
      this.getBackground(value)
    },
    'character.raceId' (value) {
      this.getRace(value)
    },
    characterClasses: {
      handler (value) {
        if (value.length) {
          const primaryClass = value.find(x => x.primary)

          if (primaryClass) {
            this.getClass(primaryClass.classId)
          } else {
            this.getClass()
          }
        } else {
          this.getClass()
        }
      },
      deep: true
    }
  }
}
</script>

<style lang="less" scoped>
.character {
  padding: 16px;
}

.import-export {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  .export {
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;

    &:hover {
      background: var(--panel-1);
    }
  }

  .import {
    display: inline-block;
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    line-height: normal;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background: var(--panel-1);
    }

    input[type='file'] {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .character {
    padding-top:  64px;
  }
}
</style>
