<template>
  <loader v-model="load">
    <class-form v-model="_class" />
    <form-footer
      :message="$t('class.deletePrompt')"
      v-model="_class"
      code
      @open-code="openCode"
      :back-route="{ name: 'Classes' }"
      :requirements="[isValid, hasChanges]"
      @save="saveClass"
      @delete="confirmDeleteClass"
    />
    <dialog-window
      class="dialog"
      v-if="showCode"
      :buttons="[{ text: $t('dialog.close'), action: closeCode }]"
      @close="closeCode"
    >
      <div class="import-export">
        <form-field :name="$t('form.export')">
          <button @click="doExport" class="export">{{ $t('form.download') }}</button>
        </form-field>
        <form-field :name="$t('form.import')">
          <label class="import">
            {{ $t('form.upload') }}
            <input type="file" @change="doImport" accept=".class.json">
          </label>
        </form-field>
      </div>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { clone, equals } from '@/utils'
import ClassForm from '@/components/ClassForm.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FormField from '@/components/FormField.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    ClassForm,
    DialogWindow,
    FormField,
    FormFooter,
    Loader
  },
  data: () => ({
    initialClass: null,
    showCode: false
  }),
  computed: {
    ...mapState([
      state._class
    ]),
    isValid () {
      return this._class &&
             this._class.name.length &&
             !this._class.equipment.some(x => !x.length)
    },
    hasChanges () {
      return !equals(this.initialClass, this._class)
    },
    json () {
      const { id, createdAt, updatedAt, ..._class } = this._class
      return JSON.stringify(_class)
    }
  },
  methods: {
    ...mapActions([
      actions.getClass,
      actions.saveClass,
      actions.deleteClass,
      actions.importClass
    ]),
    async load () {
      await this.getClass(this.$route.params.id)
    },
    async confirmDeleteClass () {
      this.showConfirmDialog = false
      await this.deleteClass()
      this.$router.push({ name: 'Classes' })
    },
    openCode () {
      this.showCode = true
    },
    closeCode () {
      this.showCode = false
    },
    doExport () {
      const a = document.createElement('a')
      a.href = URL.createObjectURL(new Blob([this.json], { type: 'application/json' }))
      a.setAttribute('download', `${this._class.name}.class.json`)
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    },
    doImport (event) {
      const reader = new FileReader()
      reader.onload = event => {
        const obj = JSON.parse(event.target.result)
        const initialClass = clone(this.initialClass)
        this.importClass(obj).then(() => {
          this.initialClass = initialClass
          this.closeCode()
        })
      }
      reader.readAsText(event.target.files[0])
    }
  },
  watch: {
    _class () {
      if (this.initialClass && this._class.id !== this.initialClass.id) {
        this.$router.push({ name: 'Edit Class', params: { id: this._class.id } })
      }

      this.initialClass = clone(this._class)
    }
  }
}
</script>

<style lang="less" scoped>
.class {
  padding: 16px;
}

.import-export {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  .export {
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;

    &:hover {
      background: var(--panel-1);
    }
  }

  .import {
    display: inline-block;
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    line-height: normal;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background: var(--panel-1);
    }

    input[type='file'] {
      display: none;
    }
  }
}
</style>
