<template>
  <div class="outer-class-list">
    <filter-wrapper @update="getClassList" :additional-sort-options="additionalSortOptions" />
    <loader v-model="getClassList">
      <div class="class-list">
        <class-list-item
          v-for="_class in classes"
          :key="_class.id"
          :_class="_class"
        />
        <p v-if="!classes.length">{{ $t('list.empty') }}</p>
      </div>
    </loader>
    <floating-button :to="{ name: 'New Class' }" type="confirm" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import ClassListItem from '@/components/ClassListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'
import FilterWrapper from '@/components/FilterWrapper.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FloatingButton,
    ClassListItem,
    Loader,
    FilterWrapper
  },
  data () {
    return {
      additionalSortOptions: [
        {
          name: this.$t('list.hitDieAsc'),
          value: 'HitDie',
          desc: false
        },
        {
          name: this.$t('list.hitDieDesc'),
          value: 'HitDie',
          desc: true
        }
      ]
    }
  },
  computed: {
    ...mapState([
      state.classes
    ])
  },
  methods: {
    ...mapActions([
      actions.getClassList
    ])
  }
}
</script>

<style lang="less" scoped>
.outer-class-list {
  padding: 16px;
}

.class-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media only screen and (max-width: 1440px) {
  .class-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .class-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .class-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
