<template>
  <div></div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/global/names'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  async created () {
    await this.confirm({ token: this.$route.query.token })
    this.$router.replace({ name: 'Login' })
  },
  methods: {
    ...mapActions([
      actions.confirm
    ])
  }
}
</script>
