<template>
  <loader v-model="load">
    <character-form-step-indicator
      v-model="step"
      :steps="6"
    />
    <div class="steps">
      <character-form-step-1
        v-show="step === 1"
        @next="changeStep(2)"
        v-model="character"
        :races="races"
        @race-changed="raceChanged"
      />
      <character-form-step-2
        v-show="step === 2"
        @previous="changeStep(1)"
        @next="changeStep(3)"
        v-model="character"
        :race-info="race"
        :background-info="background"
        :classes="classes"
        @class-changed="classChanged"
        :backgrounds="backgrounds"
        @background-changed="backgroundChanged"
        :languages="languages"
      />
      <character-form-step-3
        v-show="step === 3"
        @previous="changeStep(2)"
        @next="changeStep(4)"
        v-model="character"
        :race="race"
        :extra-abilities="extraAbilities"
        @extra-abilities-changed="extraAbilitiesChanged"
      />
      <character-form-step-4
        v-show="step === 4"
        @previous="changeStep(3)"
        @next="changeStep(5)"
        v-model="character"
      />
      <character-form-step-5
        v-show="step === 5"
        @previous="changeStep(4)"
        @next="changeStep(6)"
        v-model="character"
        :race-info="race"
        :background-info="background"
        :class-info="_class"
      />
      <character-form-step-6
        v-show="step === 6"
        @previous="changeStep(5)"
        @next="saveAll"
        v-model="character"
        :background-info="background"
        :class-info="_class"
      />
    </div>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { createHelpers } from 'vuex-map-fields'
import { actions, state } from '@/store/game/names'
import { asyncForEach } from '@/utils'
import Loader from '@/components/Loader.vue'
import CharacterFormStepIndicator from '@/components/CharacterFormStepIndicator.vue'
import CharacterFormStep1 from '@/components/CharacterFormStep1.vue'
import CharacterFormStep2 from '@/components/CharacterFormStep2.vue'
import CharacterFormStep3 from '@/components/CharacterFormStep3.vue'
import CharacterFormStep4 from '@/components/CharacterFormStep4.vue'
import CharacterFormStep5 from '@/components/CharacterFormStep5.vue'
import CharacterFormStep6 from '@/components/CharacterFormStep6.vue'
import Bonus from '@/models/bonus'
import bonusTypes from '@/enums/bonusTypes'
import stats from '@/enums/stats'

const { mapState, mapActions } = createNamespacedHelpers('game')
const { mapFields } = createHelpers({
  getterType: 'game/getField',
  mutationType: 'game/updateField'
})

export default {
  components: {
    Loader,
    CharacterFormStepIndicator,
    CharacterFormStep1,
    CharacterFormStep2,
    CharacterFormStep3,
    CharacterFormStep4,
    CharacterFormStep5,
    CharacterFormStep6
  },
  data: () => ({
    step: 1,
    newBackgroundName: '',
    newRaceName: '',
    extraAbilities: {}
  }),
  computed: {
    ...mapState([
      state.backgrounds,
      state.background,
      state.character,
      state.classes,
      state._class,
      state.races,
      state.race,
      state.languages
    ]),
    ...mapFields([
      state.characterClasses
    ]),
    isValid () {
      return this.character &&
             this.character.name.length
    },
    maximumHitPoints () {
      const statBonuses = this.character.bonuses.filter(x => x.type === 'Ability')
      const constitutionBonuses = statBonuses.filter(x => x.target === stats.constitution)
      const constitutionAbility = this.character.abilities[stats.constitution] || 0
      const raceModifier = this.race.abilities[stats.constitution] || 0
      const constitution = constitutionAbility + constitutionBonuses.reduce((a, x) => a + x.value, 0) + raceModifier
      const defaultHitPoints = Math.floor((constitution - 10) / 2)
      return this._class.hitDie + defaultHitPoints
    }
  },
  methods: {
    ...mapActions([
      actions.getBackground,
      actions.getSimpleBackgroundList,
      actions.createBackground,
      actions.getRace,
      actions.getSimpleRaceList,
      actions.createRace,
      actions.getCharacter,
      actions.saveCharacter,
      actions.getClass,
      actions.getSimpleClassList,
      actions.createClass,
      actions.saveCharacterClass,
      actions.getSimpleLanguageList
    ]),
    async load () {
      await Promise.all([
        this.getBackground(),
        this.getClass(),
        this.getRace(),
        this.getSimpleBackgroundList(),
        this.getSimpleRaceList(),
        this.getSimpleClassList(),
        this.getSimpleLanguageList()
      ])
      await this.getCharacter()
      this.character.abilities[stats.strength] = 10
      this.character.abilities[stats.dexterity] = 10
      this.character.abilities[stats.constitution] = 10
      this.character.abilities[stats.intelligence] = 10
      this.character.abilities[stats.wisdom] = 10
      this.character.abilities[stats.charisma] = 10
    },
    backgroundChanged (value) {
      this.newBackgroundName = !value.id ? value.name : ''
    },
    raceChanged (value) {
      this.newRaceName = !value.id ? value.name : ''
    },
    classChanged (value) {
      this.characterClasses = value
    },
    extraAbilitiesChanged (value) {
      this.extraAbilities = value
    },
    changeStep (value) {
      this.step = value
    },
    async saveAll () {
      if (!this.character.backgroundId && this.newBackgroundName) {
        const existingBackground = this.backgrounds.find(x => x.name === this.newBackgroundName)

        if (existingBackground) {
          this.character.backgroundId = existingBackground.id
        } else {
          await this.createBackground(this.newBackgroundName)
          this.character.backgroundId = this.background.id
        }
      }

      if (!this.character.raceId && this.newRaceName) {
        const existingRace = this.races.find(x => x.name === this.newRaceName)

        if (existingRace) {
          this.character.raceId = existingRace.id
        } else {
          await this.createRace(this.newRaceName)
          this.character.raceId = this.race.id
        }
      }

      Object.entries(this.extraAbilities).forEach(([key, value]) => {
        if (value) {
          const bonus = new Bonus()
          bonus.description = 'Race Extra Ability'
          bonus.target = key
          bonus.type = bonusTypes.ability
          bonus.value = value
          this.character.bonuses.push(bonus)
        }
      })

      this.character.currentHitPoints = Math.max(this.maximumHitPoints, 0)
      await this.saveCharacter()

      await asyncForEach(this.characterClasses, async characterClass => {
        if (!characterClass.classId && characterClass.name) {
          const existingClass = this.classes.find(x => x.name === characterClass.name)

          if (existingClass) {
            characterClass.classId = existingClass.id
          } else {
            await this.createClass(characterClass.name)
            characterClass.classId = this._class.id
          }
        }

        await this.saveCharacterClass(characterClass)
      })

      this.$router.push({ name: 'Edit Character', params: { id: this.character.id } })
    }
  },
  watch: {
    'character.backgroundId' (value) {
      this.getBackground(value)
    },
    'character.raceId' (value) {
      this.getRace(value)
    },
    characterClasses: {
      handler (value) {
        if (value.length === 1 && value[0].classId) {
          this.getClass(value[0].classId)
        } else {
          this.getClass()
        }
      },
      deep: true
    }
  }
}
</script>

<style lang="less" scoped>
.steps {
  padding: 16px;
}
</style>
