<template>
  <loader v-model="load">
    <div v-if="party" class="character-list">
      <drag-container v-if="dungeonMasterCharacters.length" class="character-list-outer">
        <div class="character-list-inner nav">
          <h1>{{ party.name }}</h1>
          <hr />
          <dungeon-master-character-list-item
            v-for="character in dungeonMasterCharacters"
            :key="character.id"
            :character="character"
          />
          <div @click="openMassEdit" class="mass-edit-button"><i class="icon la la-pencil"></i>{{ $t('dungeonMaster.massEdit') }}</div>
        </div>
        <div :id="`character-${character.id}`" v-for="character in dungeonMasterCharacters" :key="character.id" class="character-list-inner">
          <character-sheet class="small" :character="character" />
          <div @click="openEdit(character.id)" class="edit-button"><i class="icon la la-pencil"></i>{{ $t('list.edit') }}</div>
        </div>
      </drag-container>
      <p v-if="!dungeonMasterCharacters.length">There is nothing here yet.</p>
    </div>
    <dialog-window
      class="dialog"
      v-if="showMassEdit"
      :buttons="[{ text: massSaving ? $t('dialog.saving', { name: currentlySaving ? ` ${currentlySaving}` : '' }) : $t('dialog.save'), action: massSave, class: 'save', disabled: !isMassEditValid },
                 { text: $t('dialog.close'), action: closeMassEdit }]"
      @close="closeMassEdit"
    >
      <div class="character-mass-edit-dialog">
        <div>
          <form-field :name="$t('dungeonMaster.charactersToEdit')">
            <dungeon-master-edit-character-list-item
              v-for="character in dungeonMasterCharacters"
              :key="character.id"
              v-model="selectedCharacters"
              :character="character"
            />
          </form-field>
        </div>
        <div class="character-mass-edit-form">
          <form-field :name="$t('dungeonMaster.fieldToEdit')" is-select>
            <select v-model="fieldToEdit">
              <option value="experience">{{ $t('dungeonMaster.experience') }}</option>
              <option value="currentHitPoints">{{ $t('dungeonMaster.hitPoints') }}</option>
              <option value="temporaryHitPoints">{{ $t('dungeonMaster.temporaryHitPoints') }}</option>
            </select>
          </form-field>
          <form-field :name="$t('dungeonMaster.actionToPerform')" is-select>
            <select v-model="actionToPerform">
              <option value="add">{{ $t('dungeonMaster.add') }}</option>
              <option value="remove">{{ $t('dungeonMaster.remove') }}</option>
              <option value="set" v-if="fieldToEdit !== 'currentHitPoints'">{{ $t('dungeonMaster.set') }}</option>
              <option value="addMax" v-if="fieldToEdit === 'currentHitPoints'">{{ $t('dungeonMaster.addMax') }}</option>
            </select>
          </form-field>
          <form-field v-if="actionToPerform !== 'addMax'" :name="$t('dungeonMaster.valueToAffect')">
            <input type="number" v-model.number="valueToAffect">
          </form-field>
        </div>
      </div>
    </dialog-window>
    <dialog-window
      class="dialog"
      v-if="showEdit && character"
      :buttons="[{ text: $t('dialog.advancedEdit'), action: advancedEdit },
                 { text: $t('dialog.save'), action: saveAll, class: 'save', disabled: !isValid || !hasChanges },
                 { text: $t('dialog.close'), action: closeEdit }]"
      @close="closeEdit"
    >
      <div class="character-edit-dialog">
        <simple-character-form
          v-model="character"
          :backgrounds="backgrounds"
          :classes="classes"
          :character-classes="characterClasses"
          :races="races"
          :languages="languages"
          :background-info="background"
          :class-info="_class"
          :race-info="race"
        />
      </div>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { createHelpers } from 'vuex-map-fields'
import { actions, state, moduleName } from '@/store/game/names'
import { equals, clone, clamp, asyncForEach } from '@/utils'
import DungeonMasterCharacterListItem from '@/components/DungeonMasterCharacterListItem.vue'
import DungeonMasterEditCharacterListItem from '@/components/DungeonMasterEditCharacterListItem.vue'
import Loader from '@/components/Loader.vue'
import CharacterSheet from '@/components/CharacterSheet.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import SimpleCharacterForm from '@/components/SimpleCharacterForm.vue'
import DragContainer from '@/components/DragContainer.vue'
import FormField from '@/components/FormField.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)
const { mapFields } = createHelpers({
  getterType: 'game/getField',
  mutationType: 'game/updateField'
})

export default {
  components: {
    DungeonMasterCharacterListItem,
    DungeonMasterEditCharacterListItem,
    Loader,
    CharacterSheet,
    DialogWindow,
    SimpleCharacterForm,
    DragContainer,
    FormField
  },
  data: () => ({
    showEdit: false,
    showMassEdit: false,
    selectedCharacters: [],
    fieldToEdit: '',
    actionToPerform: '',
    valueToAffect: 0,
    massSaving: false,
    currentlySaving: ''
  }),
  computed: {
    ...mapState([
      state.backgrounds,
      state.background,
      state.character,
      state.classes,
      state._class,
      state.races,
      state.race,
      state.languages,
      state.party,
      state.dungeonMasterCharacters
    ]),
    ...mapFields([
      state.characterClasses
    ]),
    isValid () {
      return this.character &&
             this.character.name.length
    },
    hasChanges () {
      return !equals(this.initialCharacter, this.character) ||
             !equals(this.initialCharacterClasses, this.characterClasses)
    },
    isMassEditValid () {
      return this.selectedCharacters &&
             this.selectedCharacters.length &&
             this.isValidCombination(this.fieldToEdit, this.actionToPerform, this.valueToAffect)
    }
  },
  methods: {
    ...mapActions([
      actions.getBackground,
      actions.getSimpleBackgroundList,
      actions.getRace,
      actions.getSimpleRaceList,
      actions.getClass,
      actions.getSimpleClassList,
      actions.getSimpleLanguageList,
      actions.getCharacterClassList,
      actions.saveCharacterClass,
      actions.deleteCharacterClass,
      actions.getParty,
      actions.getCharacter,
      actions.saveCharacter,
      actions.getDungeonMasterCharacterList
    ]),
    isValidCombination (field, action, value) {
      if (value === 0 && (!action || action === 'add' || action === 'remove')) {
        return false
      }

      switch (field) {
        case 'experience':
          return action !== 'addMax' && value >= 0
        case 'currentHitPoints':
          if (action === 'set') {
            return false
          }

          return action === 'addMax' || value >= 0
        case 'temporaryHitPoints':
          return action !== 'addMax' && value >= 0
        default:
          return false
      }
    },
    async load () {
      await Promise.all([
        this.getSimpleBackgroundList(),
        this.getSimpleRaceList(),
        this.getSimpleClassList(),
        this.getSimpleLanguageList(),
        this.getParty(this.$route.params.id)
      ])
      await this.getDungeonMasterCharacterList()
      this.selectedCharacters = this.dungeonMasterCharacters.map(x => x.id)
    },
    async openEdit (value) {
      await this.getCharacterClassList(value)
      this.initialCharacterClasses = clone(this.characterClasses)
      await this.getCharacter(value)
      this.initialCharacter = clone(this.character)
      this.showEdit = true
    },
    openMassEdit () {
      this.showMassEdit = true
    },
    closeEdit () {
      this.showEdit = false
    },
    closeMassEdit () {
      if (!this.massSaving) {
        this.showMassEdit = false
        this.fieldToEdit = ''
        this.actionToPerform = ''
        this.valueToAffect = 0
      }
    },
    advancedEdit () {
      this.$router.push({ name: 'Edit Character', params: { id: this.character.id } })
    },
    async saveAll () {
      await this.saveCharacter()
      this.initialCharacter = clone(this.character)

      await asyncForEach(this.characterClasses, async characterClass => {
        await this.saveCharacterClass(characterClass)
      })

      await this.getCharacterClassList(this.character.id)
      this.initialCharacterClasses = clone(this.characterClasses)
      await this.getDungeonMasterCharacterList()
      this.closeEdit()
    },
    async massSave () {
      if (!this.massSaving) {
        this.massSaving = true
        await asyncForEach(this.selectedCharacters, async selectedCharacterId => {
          const selectedCharacter = this.dungeonMasterCharacters.find(x => x.id === selectedCharacterId)

          if (selectedCharacter) {
            this.currentlySaving = selectedCharacter.name
            await this.getCharacter(selectedCharacterId)

            if (this.character) {
              switch (this.actionToPerform) {
                case 'add':
                  this.addToField(this.fieldToEdit, this.valueToAffect, selectedCharacter)
                  break
                case 'remove':
                  this.removeFromField(this.fieldToEdit, this.valueToAffect, selectedCharacter)
                  break
                case 'set':
                  this.assignToField(this.fieldToEdit, this.valueToAffect, selectedCharacter)
                  break
                case 'addMax':
                  this.character[this.fieldToEdit] = selectedCharacter.hitPointMaximum
                  break
              }

              await this.saveCharacter()
            }
          }
        })
        this.currentlySaving = ''
        await this.getDungeonMasterCharacterList()
        this.massSaving = false
        this.closeMassEdit()
      }
    },
    addToField (field, value, sheet) {
      switch (field) {
        case 'experience':
          this.character.experience += value
          break
        case 'currentHitPoints':
          this.character.currentHitPoints = clamp(this.character.currentHitPoints + value, 0, sheet.hitPointMaximum)
          break
        case 'temporaryHitPoints':
          this.character.temporaryHitPoints += value
          break
      }
    },
    removeFromField (field, value, sheet) {
      switch (field) {
        case 'experience':
          this.character.experience = (this.character.experience - value > 0) ? this.character.experience - value : 0
          break
        case 'currentHitPoints':
          this.character.currentHitPoints = clamp(this.character.currentHitPoints - value, 0, sheet.hitPointMaximum)
          break
        case 'temporaryHitPoints':
          this.character.temporaryHitPoints = (this.character.temporaryHitPoints - value > 0) ? this.character.temporaryHitPoints - value : 0
          break
      }
    },
    assignToField (field, value, sheet) {
      switch (field) {
        case 'experience':
          this.character.experience = value
          break
        case 'currentHitPoints':
          this.character.currentHitPoints = clamp(value, 0, sheet.hitPointMaximum)
          break
        case 'temporaryHitPoints':
          this.character.temporaryHitPoints = value > 0 ? value : 0
          break
      }
    }
  }
}
</script>

<style lang="less" scoped>
.character-edit-dialog {
  width: 1024px;
}

.character-mass-edit-dialog {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.character-list {
  .edit-button, .mass-edit-button {
    display: block;
    height: 48px;
    line-height: 48px;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    padding: 0 16px;
    color: var(--panel-1-link);
    position: absolute;

    &:hover {
      cursor: pointer;
      background: var(--panel-1-hover);
      color: var(--panel-1-link-hover);
    }

    .icon {
      width: 16px;
      margin-right: 8px;
      text-align: center;
    }
  }

  .edit-button {
    top: 0;
    right: 0;
  }

  .mass-edit-button {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .character-list-outer {
    overflow: scroll;
    height: calc(100vh - 96px);
    position: absolute;
    left: 0;
    white-space: nowrap;overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }

    .character-list-inner {
      scroll-margin-left: 250px;
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
      position: relative;
    }

    .nav {
      position: sticky;
      top: 0;
      left: 0;
      height: calc(100vh - 96px);
      background: var(--panel-2);
      width: 250px;
      z-index: 1;

      h1 {
        font-size: 1.5rem;
        padding: 16px 16px 0;
      }

      hr {
        border: 0;
        border-bottom: 2px solid var(--form-field-border);
        margin: 8px 16px;
      }
    }
  }

  h2 {
    font-size: 1.25rem;
    display: inline-block;
    color: var(--text-muted);
    padding: 8px 48px 8px 0;
    border-bottom: 2px solid var(--form-field-border);
    margin: 8px 0;
  }
}

@media screen and (max-width: 1024px) {
  .character-list {
    .character-list-outer {
      height: calc(100vh - 128px);

      .nav {
        height: calc(100vh - 128px);
      }
    }
  }
}
</style>
