<template>
  <div class="home">
    <language-changer class="language-changer" />
    <theme-changer class="theme-changer" />
    <router-link class="main-link" to="/">
      <main-title />
    </router-link>
    <div class="sections">
      <section-world />
      <div class="section-buttons">
        <router-link class="router-link big" :to="{ name: 'Characters' }">
          <i class="icon la la-id-card"></i>
          <span class="label">{{ $t('global.characters') }}</span>
        </router-link>
        <router-link :disabled="!hasWorld" class="router-link big" :to="{ name: 'Parties' }">
          <i class="icon la la-users"></i>
          <span class="label">{{ $t('global.parties') }}</span>
        </router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Races' }">
          <i class="icon la la-paw"></i>
          <span class="label">{{ $t('global.races') }}</span>
        </router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Classes' }">
          <i class="icon la la-user-ninja"></i>
          <span class="label">{{ $t('global.classes') }}</span>
        </router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Backgrounds' }">
          <i class="icon la la-user-secret"></i>
          <span class="label">{{ $t('global.backgrounds') }}</span>
        </router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Languages' }">
          <i class="icon la la-language"></i>
          <span class="label">{{ $t('global.languages') }}</span>
        </router-link>
        <!--
        <router-link disabled class="router-link" :to="{ name: 'Not Found' }">
          <i class="icon la la-book-dead"></i>
          <span class="label">Spells</span>
        </router-link>
        <router-link disabled class="router-link" :to="{ name: 'Not Found' }">
          <i class="icon la la-dragon"></i>
          <span class="label">Monsters</span>
        </router-link>
        <router-link disabled class="router-link" :to="{ name: 'Not Found' }">
          <i class="icon la la-ring"></i>
          <span class="label">Items</span>
        </router-link>
        <router-link disabled class="router-link" :to="{ name: 'Not Found' }">
          <i class="icon la la-scroll"></i>
          <span class="label">Feats</span>
        </router-link>
        -->
        <router-link class="router-link small" :to="{ name: 'Account' }">
          <i class="icon la la-user-circle"></i>
          <span class="label">{{ $t('global.account') }}</span>
        </router-link>
        <router-link class="router-link small" :to="{ name: 'Logout' }">
          <i class="icon la la-sign-out-alt"></i>
          <span class="label">{{ $t('global.logout') }}</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { state, moduleName } from '@/store/global/names'
import MainTitle from '@/components/MainTitle.vue'
import SectionWorld from '@/components/SectionWorld.vue'
import LanguageChanger from '@/components/LanguageChanger.vue'
import ThemeChanger from '@/components/ThemeChanger.vue'

const { mapState } = createNamespacedHelpers(moduleName)

export default {
  components: {
    MainTitle,
    SectionWorld,
    LanguageChanger,
    ThemeChanger
  },
  computed: {
    ...mapState([
      state.selectedWorld
    ]),
    hasWorld () {
      return this.selectedWorld !== null
    }
  }
}
</script>

<style lang="less" scoped>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;

  .language-changer {
    position: absolute;
    top: 0;
    left: 0;
  }

  .theme-changer {
    position: absolute;
    top: 0;
    right: 0;
  }

  .main-link {
    color: inherit;
    text-decoration: none;
    font-size: 3rem;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 16px;
  text-align: center;
  width: 100%;
}

.section-buttons {
  padding-top: 16px;
  width: 800px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.router-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 128px;
  background: var(--panel-1);
  color: var(--panel-1-link);

  &.big {
    grid-column: span 2;
  }

  &[disabled] {
    color: var(--panel-1-hover);
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background: var(--panel-1-hover);
    color: var(--panel-1-link-hover);
  }

  .icon {
    font-size: 4rem;
  }

  .label {
    text-transform: uppercase;
    font-size: .8rem;
    font-family: var(--font-title);
  }

  &.small {
    grid-column-start: 2;
    height: 64px;
    flex-direction: row;

    .icon {
      font-size: 3rem;
    }

    & + .small {
      grid-column-start: 3;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home .main-link {
    font-size: 3rem;
    margin: 64px 0 16px;
  }

  .section-buttons {
    width: 400px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 64px;

    .router-link.small {
      grid-column-start: unset;

      & + .small {
        grid-column-start: unset;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .sections, .section {
    width: 100%;
  }

  .section-buttons {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px 16px 0;
    box-sizing: border-box;
    width: 100%;
  }

  .router-link {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &.big {
      grid-column: span 1;
    }

    .icon {
      font-size: 2rem;
      padding: 16px;
    }

    &.small .icon {
      font-size: 2rem;
    }
  }
}
</style>
