<template>
  <div class="language-list">
    <filter-wrapper @update="getLanguageList" :additional-sort-options="additionalSortOptions" />
    <loader v-model="getLanguageList">
      <div v-if="languages.length" class="character-list-items">
        <language-list-item
          v-for="language in languages"
          :key="language.id"
          :language="language"
        />
      </div>
      <p v-if="!languages.length">{{ $t('list.empty') }}</p>
    </loader>
    <floating-button :to="{ name: 'New Language' }" type="confirm" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import LanguageListItem from '@/components/LanguageListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'
import FilterWrapper from '@/components/FilterWrapper.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FloatingButton,
    LanguageListItem,
    Loader,
    FilterWrapper
  },
  data () {
    return {
      additionalSortOptions: [
        {
          name: this.$t('list.scriptAsc'),
          value: 'Script',
          desc: false
        },
        {
          name: this.$t('list.scriptDesc'),
          value: 'Script',
          desc: true
        }
      ]
    }
  },
  computed: {
    ...mapState([
      state.languages,
      state.languageScripts
    ])
  },
  methods: {
    ...mapActions([
      actions.getLanguageList,
      actions.getLanguageScriptList
    ])
  },
  created () {
    this.getLanguageScriptList()
    this.$store.commit('game/setFilter', this.filter)
    this.getLanguageList()
  },
  watch: {
    filter: {
      deep: true,
      handler (value) {
        this.$store.commit('game/setFilter', value)
        this.getLanguageList()
      }
    }
  }
}
</script>

<style lang="less" scoped>
.language-list {
  padding: 16px;

  .character-list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

@media only screen and (max-width: 1440px) {
  .language-list {
    .character-list-items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .language-list {
    .character-list-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 600px) {
  .language-list {
    .character-list-items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
</style>
