<template>
  <loader v-model="load">
    <language-form v-model="language"/>
    <form-footer
      :message="$t('language.deletePrompt')"
      v-model="language"
      code
      @open-code="openCode"
      :back-route="{ name: 'Languages' }"
      :requirements="[isValid, hasChanges]"
      @save="saveLanguage"
      @delete="confirmDeleteLanguage"
    />
    <dialog-window
      class="dialog"
      v-if="showCode"
      :buttons="[{ text: $t('dialog.close'), action: closeCode }]"
      @close="closeCode"
    >
      <div class="import-export">
        <form-field :name="$t('form.export')">
          <button @click="doExport" class="export">{{ $t('form.download') }}</button>
        </form-field>
        <form-field :name="$t('form.import')">
          <label class="import">
            {{ $t('form.upload') }}
            <input type="file" @change="doImport" accept=".language.json">
          </label>
        </form-field>
      </div>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { clone, equals } from '@/utils'
import LanguageForm from '@/components/LanguageForm.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FormField from '@/components/FormField.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    Loader,
    LanguageForm,
    DialogWindow,
    FormField,
    FormFooter
  },
  data: () => ({
    initialLanguage: null,
    showCode: false
  }),
  computed: {
    ...mapState([
      state.language
    ]),
    isValid () {
      return this.language &&
             this.language.name.length
    },
    hasChanges () {
      return !equals(this.initialLanguage, this.language)
    },
    json () {
      const { id, createdAt, updatedAt, ...language } = this.language
      return JSON.stringify(language)
    }
  },
  methods: {
    ...mapActions([
      actions.getLanguage,
      actions.saveLanguage,
      actions.deleteLanguage,
      actions.importLanguage
    ]),
    async load () {
      await this.getLanguage(this.$route.params.id)
    },
    async confirmDeleteLanguage () {
      this.showConfirmDialog = false
      await this.deleteLanguage()
      this.$router.push({ name: 'Languages' })
    },
    openCode () {
      this.showCode = true
    },
    closeCode () {
      this.showCode = false
    },
    doExport () {
      const a = document.createElement('a')
      a.href = URL.createObjectURL(new Blob([this.json], { type: 'application/json' }))
      a.setAttribute('download', `${this.language.name}.language.json`)
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    },
    doImport (event) {
      const reader = new FileReader()
      reader.onload = event => {
        const obj = JSON.parse(event.target.result)
        const initialLanguage = clone(this.initialLanguage)
        this.importLanguage(obj).then(() => {
          this.initialLanguage = initialLanguage
          this.closeCode()
        })
      }
      reader.readAsText(event.target.files[0])
    }
  },
  watch: {
    language () {
      if (this.initialLanguage && this.language.id !== this.initialLanguage.id) {
        this.$router.push({ name: 'Edit Language', params: { id: this.language.id } })
      }

      this.initialLanguage = clone(this.language)
    }
  }
}
</script>

<style lang="less" scoped>
.language {
  padding: 16px;
}

.import-export {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  .export {
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;

    &:hover {
      background: var(--panel-1);
    }
  }

  .import {
    display: inline-block;
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    line-height: normal;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background: var(--panel-1);
    }

    input[type='file'] {
      display: none;
    }
  }
}
</style>
