<template>
  <form @submit.prevent="submitLogin" class="login">
    <form-field :name="$t('account.email')">
      <input type="text" v-model="username">
    </form-field>
    <form-field :name="$t('account.password')">
      <password-field v-model="password" />
      <router-link class="recover" :to="{ name: 'Recover Password', params: { email: username } }">{{ $t('account.forgotPassword') }}</router-link>
    </form-field>
    <div class="actions">
      <button :disabled="!username.length || !password.length">
        <template v-if="working"><i class="la la-sync spinner"></i> {{ $t('account.loggingIn') }}</template>
        <template v-else><i class="la la-sign-in-alt"></i> {{ $t('account.login') }}</template>
      </button>
      <router-link class="recover" :to="{ name: 'Register', params: { email: username } }">{{ $t('account.dontHaveAnAccount') }}</router-link>
    </div>
  </form>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/global/names'
import FormField from '@/components/FormField.vue'
import PasswordField from '@/components/PasswordField.vue'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FormField,
    PasswordField
  },
  data: () => ({
    working: false,
    username: '',
    password: ''
  }),
  methods: {
    ...mapActions([
      actions.login
    ]),
    async submitLogin () {
      this.working = true

      try {
        await this.login({ username: this.username, password: this.password, remember: true })
        this.$nextTick(() => {
          this.$router.push({ name: 'Home' })
        })
      } catch (error) {
        this.username = ''
        this.password = ''
        this.working = false
        throw error
      }
    }
  }
}
</script>

<style lang="less" scoped>
.login {
  display: grid;
  gap: 16px;
  max-width: 400px;
  margin: 16px auto;
  box-sizing: border-box;
  padding: 16px;

  .recover {
    font-size: .75rem;
    display: inline-block;
    margin: 8px 0;
    color: var(--text-color);
  }

  .checkbox {
    display: flex;
    align-items: center;

    input[type=checkbox] {
      display: none;
    }

    .la {
      font-size: 1.5rem;
    }

    .label {
      font-size: .75rem;
      padding-left: 16px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    .la {
      font-size: 1.5rem;
      vertical-align: middle;
    }

    button {
      padding: 8px 16px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      background: var(--confirm-button);
      margin-bottom: 16px;

      .spinner {
        animation: spinner 1.4s infinite linear;
      }

      &:hover {
        background: var(--confirm-button-hover);
      }
    }
  }
}
</style>
