<template>
  <div></div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/global/names'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  async created () {
    await this.logout()
    this.$router.replace('/login')
  },
  methods: {
    ...mapActions([
      actions.logout
    ])
  }
}
</script>
