<template>
  <div class="not-found">
    <router-link class="home" :to="{ name: 'Home' }"><main-title /></router-link>
    <span class="message">{{ $t('global.notFound') }}</span>
    <div class="links">
      <a class="link" href="javascript:history.back()">{{ $t('global.notFoundBack') }}</a>
      <router-link class="link" :to="{ name: 'Home' }">{{ $t('global.notFoundHome') }}</router-link>
    </div>
  </div>
</template>

<script>
import MainTitle from '@/components/MainTitle.vue'

export default {
  components: {
    MainTitle
  }
}
</script>

<style lang="less" scoped>
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .home {
    font-size: 3rem;
    color: inherit;
    text-decoration: none;
  }

  .message {
    font-size: 2rem;
    text-align: center;
    padding: 16px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .link {
      font-size: 1.25rem;
      color: inherit;
      text-decoration: none;
      padding: 16px 48px;
      border: 2px solid var(--panel-1-link);
      margin: 8px;
    }
  }
}

@media screen and (max-width: 530px) {
  .links {
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;

    .link {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
    }
  }
}
</style>
