<template>
  <loader v-model="load">
    <party-form v-model="party" :characters="characters" />
    <form-footer
      :message="$t('party.deletePrompt')"
      v-model="party"
      :back-route="{ name: 'Parties' }"
      :requirements="[isValid, hasChanges]"
      @save="saveAll"
      @delete="confirmDeleteParty"
    />
    <floating-button v-if="party && party.id" :to="{ name: 'View Party', params: { id: party.id } }" icon="la-users" />
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { asyncForEach, clone, equals } from '@/utils'
import PartyForm from '@/components/PartyForm.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    PartyForm,
    FloatingButton,
    FormFooter,
    Loader
  },
  data: () => ({
    initialParty: null,
    initialPartyCharacters: []
  }),
  computed: {
    ...mapState([
      state.party,
      state.partyCharacters,
      state.characters
    ]),
    isValid () {
      return this.party &&
             this.party.name.length
    },
    hasChanges () {
      return !equals(this.initialParty, this.party) ||
             !equals(this.initialPartyCharacters, this.partyCharacters)
    }
  },
  methods: {
    ...mapActions([
      actions.getParty,
      actions.saveParty,
      actions.deleteParty,
      actions.getSimpleCharacterList,
      actions.savePartyCharacter,
      actions.deletePartyCharacter,
      actions.getPartyCharacterList
    ]),
    async load () {
      await this.getParty(this.$route.params.id)
      await this.getSimpleCharacterList()
      await this.getPartyCharacterList()
      this.initialPartyCharacters = clone(this.partyCharacters)
    },
    async confirmDeleteParty () {
      await this.deleteParty()
      this.$router.push({ name: 'Parties' })
    },
    async saveAll () {
      const partyCharacterIds = this.partyCharacters.map(character => character.id)
      const deletedPartyCharacters = this.initialPartyCharacters.filter(partyCharacter => !partyCharacterIds.includes(partyCharacter.id))
      const modifiedPartyCharacters = this.partyCharacters.filter(partyCharacter => {
        const existing = this.initialPartyCharacters.find(character => character.id === partyCharacter.id)
        return !existing || !equals(existing, partyCharacter)
      })

      await this.saveParty()

      await asyncForEach(deletedPartyCharacters, async partyCharacter => {
        await this.deletePartyCharacter(partyCharacter)
      })

      await asyncForEach(modifiedPartyCharacters, async partyCharacter => {
        await this.savePartyCharacter(partyCharacter)
      })

      this.initialPartyCharacters = clone(this.partyCharacters)
    }
  },
  watch: {
    party () {
      if (this.initialParty && this.party.id !== this.initialParty.id) {
        this.$router.push({ name: 'Edit Party', params: { id: this.party.id } })
      }

      this.initialParty = clone(this.party)
    }
  }
}
</script>

<style lang="less" scoped>
.party {
  padding: 16px;
}

.import-export {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  .export {
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;

    &:hover {
      background: var(--panel-1);
    }
  }

  .import {
    display: inline-block;
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    line-height: normal;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background: var(--panel-1);
    }

    input[type='file'] {
      display: none;
    }
  }
}
</style>
