<template>
  <div>
    <loader v-model="getPartyList">
      <div class="party-list">
        <party-list-item
          v-for="party in orderedParties"
          :key="party.id"
          :party="party"
        />
        <p v-if="!parties.length">{{ $t('list.empty') }}</p>
      </div>
    </loader>
    <floating-button :to="{ name: 'New Party' }" type="confirm" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import PartyListItem from '@/components/PartyListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FloatingButton,
    PartyListItem,
    Loader
  },
  computed: {
    ...mapState([
      state.parties
    ]),
    orderedParties () {
      return [...this.parties].sort((a, b) => a.name.localeCompare(b.name))
    }
  },
  methods: {
    ...mapActions([
      actions.getPartyList
    ])
  }
}
</script>

<style lang="less" scoped>
.party-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

@media only screen and (max-width: 1440px) {
  .party-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .party-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .party-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
