<template>
  <div v-if="show" class="container">
    <printable-character-sheet :character="characterSheet" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import PrintableCharacterSheet from '@/components/PrintableCharacterSheet.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    PrintableCharacterSheet
  },
  data: () => ({
    show: false
  }),
  computed: {
    ...mapState([
      state.characterSheet
    ])
  },
  async created () {
    await this.getCharacterSheet(this.$route.params.id)
    document.title = `${this.characterSheet.name} - ${document.title}`
  },
  methods: {
    ...mapActions([
      actions.getCharacterSheet
    ])
  },
  watch: {
    characterSheet () {
      this.show = true
    }
  }
}
</script>
