<template>
  <div class="race-list-outer">
    <filter-wrapper @update="getRaceList" :additional-sort-options="additionalSortOptions" />
    <loader v-model="getRaceList">
      <div class="race-list">
        <race-list-item
          v-for="race in races"
          :key="race.id"
          :race="race"
        />
        <p v-if="!races.length">{{ $t('list.empty') }}</p>
      </div>
    </loader>
    <floating-button :to="{ name: 'New Race' }" type="confirm" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import RaceListItem from '@/components/RaceListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'
import FilterWrapper from '@/components/FilterWrapper.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    RaceListItem,
    FloatingButton,
    Loader,
    FilterWrapper
  },
  data () {
    return {
      additionalSortOptions: [
        {
          name: this.$t('list.sizeAsc'),
          value: 'Size',
          desc: false
        },
        {
          name: this.$t('list.sizeDesc'),
          value: 'Size',
          desc: true
        }
      ]
    }
  },
  computed: {
    ...mapState([
      state.races
    ])
  },
  methods: {
    ...mapActions([
      actions.getRaceList
    ])
  }
}
</script>

<style lang="less" scoped>
.race-list-outer {
  padding: 16px;
}

.race-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media only screen and (max-width: 1440px) {
  .race-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .race-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .race-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
