<template>
  <loader v-model="load">
    <race-form v-model="race" :languages="languages"/>
    <form-footer
      :message="$t('race.deletePrompt')"
      v-model="race"
      code
      @open-code="openCode"
      :back-route="{ name: 'Races' }"
      :requirements="[isValid, hasChanges]"
      @save="saveRace"
      @delete="confirmDeleteRace"
    />
    <dialog-window
      class="dialog"
      v-if="showCode"
      :buttons="[{ text: $t('dialog.close'), action: closeCode }]"
      @close="closeCode"
    >
      <div class="import-export">
        <form-field :name="$t('form.export')">
          <button @click="doExport" class="export">{{ $t('form.download') }}</button>
        </form-field>
        <form-field :name="$t('form.import')">
          <label class="import">
            {{ $t('form.upload') }}
            <input type="file" @change="doImport" accept=".race.json">
          </label>
        </form-field>
      </div>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { clone, equals } from '@/utils'
import DialogWindow from '@/components/DialogWindow.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'
import RaceForm from '@/components/RaceForm.vue'
import FormField from '@/components/FormField.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    DialogWindow,
    FormField,
    FormFooter,
    Loader,
    RaceForm
  },
  data: () => ({
    initialRace: null,
    showCode: false
  }),
  computed: {
    ...mapState([
      state.race,
      state.languages
    ]),
    isValid () {
      return this.race &&
             this.race.name.length &&
             !this.race.names.some(x => !x.name.length)
    },
    hasChanges () {
      return !equals(this.initialRace, this.race)
    },
    json () {
      const { id, createdAt, updatedAt, ...race } = this.race
      return JSON.stringify({
        ...race,
        languageIds: race.languageIds.map(value => this.languages.find(language => language.id === value).name)
      })
    }
  },
  methods: {
    ...mapActions([
      actions.getRace,
      actions.saveRace,
      actions.deleteRace,
      actions.importRace,
      actions.getLanguageList
    ]),
    async load () {
      await this.getRace(this.$route.params.id)
      await this.getLanguageList()
    },
    async confirmDeleteRace () {
      await this.deleteRace()
      this.$router.push({ name: 'Races' })
    },
    openCode () {
      this.showCode = true
    },
    closeCode () {
      this.showCode = false
    },
    doExport () {
      const a = document.createElement('a')
      a.href = URL.createObjectURL(new Blob([this.json], { type: 'application/json' }))
      a.setAttribute('download', `${this.race.name}.race.json`)
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    },
    doImport (event) {
      const reader = new FileReader()
      reader.onload = event => {
        const obj = JSON.parse(event.target.result)
        obj.languageIds = obj.languageIds.reduce((acc, value) => {
          const foundLanguage = this.languages.find(language => language.name === value)?.id
          return foundLanguage ? [...acc, foundLanguage] : acc
        }, [])
        const initialRace = clone(this.initialRace)
        this.importRace(obj).then(() => {
          this.initialRace = initialRace
          this.closeCode()
        })
      }
      reader.readAsText(event.target.files[0])
    }
  },
  watch: {
    race () {
      if (this.initialRace && this.race.id !== this.initialRace.id) {
        this.$router.push({ name: 'Edit Race', params: { id: this.race.id } })
      }

      this.initialRace = clone(this.race)
    }
  }
}
</script>

<style lang="less" scoped>
.race {
  padding: 16px;
}

.import-export {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  .export {
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;

    &:hover {
      background: var(--panel-1);
    }
  }

  .import {
    display: inline-block;
    width: 230px;
    border: none;
    background: var(--panel-2);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    line-height: normal;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background: var(--panel-1);
    }

    input[type='file'] {
      display: none;
    }
  }
}
</style>
