<template>
  <div>
    <form v-if="!showConfirmation" @submit.prevent="submitRecover" class="recover">
      <form-field :name="$t('account.email')">
        <input type="text" v-model="email">
      </form-field>
      <div class="actions">
        <button>
          <template v-if="working"><i class="la la-sync spinner"></i> {{ $t('account.sending') }}</template>
          <template v-else><i class="la la-key"></i> {{ $t('account.recoverPassword') }}</template>
        </button>
      </div>
    </form>
    <dialog-window v-else>
      <p class="confirmation">{{ $t('account.recoverConfirmation1') }}</p>
      <p class="confirmation">{{ $t('account.recoverConfirmation2') }}</p>
    </dialog-window>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/global/names'
import DialogWindow from '@/components/DialogWindow.vue'
import FormField from '@/components/FormField.vue'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    DialogWindow,
    FormField
  },
  data: () => ({
    working: false,
    email: '',
    showConfirmation: false
  }),
  mounted () {
    if (this.$route.params.email) {
      this.email = this.$route.params.email
    }
  },
  methods: {
    ...mapActions([
      actions.recoverPassword
    ]),
    async submitRecover () {
      this.working = true

      try {
        await this.recoverPassword({ username: this.email })
        this.showConfirmation = true
      } catch (error) {
        this.email = ''
        this.working = false
        throw error
      }
    }
  }
}
</script>

<style lang="less" scoped>
.recover {
  display: grid;
  gap: 16px;
  max-width: 400px;
  margin: 16px auto;
  box-sizing: border-box;
  padding: 16px;

  .actions {
    display: flex;
    justify-content: center;

    .la {
      font-size: 1.5rem;
      vertical-align: middle;
    }

    button {
      padding: 8px 16px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      background: var(--confirm-button);

      .spinner {
        animation: spinner 1.4s infinite linear;
      }

      &:hover {
        background: var(--confirm-button-hover);
      }
    }
  }
}

.confirmation:not(:first-of-type) {
  padding-top: 16px;
}
</style>
