<template>
  <div>
    <dialog-window
      :buttons="[{ text: $t('dialog.cancel'), action: cancel },
                { text: $t('dialog.confirm'), action: confirm, class: 'save' }]"
    >
      <p class="confirmation" v-html="$t('character.youHaveBeenInvited', { name: parsedToken.unique_name || $t('character.yourDM') })"></p>
      <p class="confirmation">{{ $t('character.invitationAccept') }}</p>
    </dialog-window>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/game/names'
import { parseJwt } from '@/parseJwt'
import DialogWindow from '@/components/DialogWindow.vue'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    DialogWindow
  },
  data: () => ({
    parsedToken: null
  }),
  async created () {
    this.parsedToken = parseJwt(this.$route.query.token)
  },
  methods: {
    async confirm () {
      await this.resolveInvitation({ token: this.$route.query.token })
      this.$toasted.success(this.$t('character.invitationAccepted'))
      this.$router.replace({ name: 'Home' })
    },
    cancel () {
      this.$router.replace({ name: 'Home' })
    },
    ...mapActions([
      actions.resolveInvitation
    ])
  }
}
</script>

<style lang="less" scoped>
.confirmation strong {
  font-weight: 600;
}

.confirmation:not(:first-of-type) {
  padding-top: 16px;
}
</style>
