<template>
  <loader v-model="load">
    <div class="container">
      <character-sheet :character="characterSheet" />
      <floating-button :to="{ name: 'Print Character' }" target="_blank" icon="la-print" />
      <floating-button v-if="characterSheet && characterSheet.editable && characterSheet.owned" :to="characterEditLink" icon="la-pencil" />
      <floating-button v-if="characterSheet && characterSheet.editable && !characterSheet.owned" @click="promptChangeWorld" icon="la-pencil" />
    </div>
    <dialog-window
      class="dialog"
      v-if="changeWorld"
      :buttons="[{ text: $t('dialog.cancel'), action: cancelChangeWorld },
                { text: $t('dialog.confirm'), action: changeWorldAndEdit, class: 'save' }]"
      @close="cancelChangeWorld"
    >
      <p>{{ $t('sheet.editOtherPrompt') }}</p>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { actions as globalActions, moduleName as globalModuleName } from '@/store/global/names'
import CharacterSheet from '@/components/CharacterSheet.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'
import DialogWindow from '@/components/DialogWindow.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)
const { mapActions: mapActionsGlobal } = createNamespacedHelpers(globalModuleName)

export default {
  components: {
    CharacterSheet,
    FloatingButton,
    Loader,
    DialogWindow
  },
  data: () => ({
    title: document.title,
    changeWorld: false
  }),
  computed: {
    ...mapState([
      state.characterSheet
    ]),
    characterEditLink () {
      return { name: 'Edit Character', params: { id: this.characterSheet.id } }
    }
  },
  mounted () {
    this._refresh = setInterval(() => {
      this.load()
    }, 5000)
  },
  beforeDestroy () {
    clearInterval(this._refresh)
  },
  methods: {
    ...mapActions([
      actions.getCharacterSheet
    ]),
    ...mapActionsGlobal([
      globalActions.selectTemporaryWorld
    ]),
    async load () {
      await this.getCharacterSheet(this.$route.params.id)
      document.title = `${this.characterSheet.name} - ${this.title}`
    },
    promptChangeWorld () {
      this.changeWorld = true
    },
    cancelChangeWorld () {
      this.changeWorld = false
    },
    async changeWorldAndEdit () {
      await this.selectTemporaryWorld(this.characterSheet.world)
      this.$router.push(this.characterEditLink)
    }
  }
}
</script>

<style lang="less" scoped>
.container {
  display: flex;
  justify-content: center;
}
</style>
