<template>
  <loader v-model="load">
    <div v-if="party" class="character-list">
      <h1>{{ party.name }}</h1>
      <div v-html="party.description"></div>
      <hr />
      <div v-if="partyCharacters.length" class="character-list-inner">
        <party-character-list-item
          v-for="character in partyCharacters"
          :key="character.id"
          :character="character"
        />
      </div>
      <p v-if="!partyCharacters.length">{{ $t('list.empty') }}</p>
      <floating-button :to="{ name: 'Edit Party', params: { id: party.id } }" icon="la-pencil" />
      <floating-button class="desktop" :to="{ name: 'Dungeon Master', params: { id: party.id } }" icon="la-dice-d20" />
    </div>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import PartyCharacterListItem from '@/components/PartyCharacterListItem.vue'
import FloatingButton from '@/components/FloatingButton.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    PartyCharacterListItem,
    FloatingButton,
    Loader
  },
  computed: {
    ...mapState([
      state.party,
      state.partyCharacters
    ])
  },
  methods: {
    ...mapActions([
      actions.getParty,
      actions.getPartyCharacterList
    ]),
    async load () {
      await this.getParty(this.$route.params.id)
      await this.getPartyCharacterList()
    }
  }
}
</script>

<style lang="less" scoped>
.character-list {
  padding: 16px;

  h1 {
    font-size: 1.5rem;
  }

  hr {
    border: 0;
    border-bottom: 2px solid var(--form-field-border);
  }

  .character-list-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  h2 {
    font-size: 1.25rem;
    display: inline-block;
    color: var(--text-muted);
    padding: 8px 48px 8px 0;
    border-bottom: 2px solid var(--form-field-border);
    margin: 8px 0;
  }
}

@media only screen and (max-width: 1440px) {
  .character-list .character-list-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .character-list .character-list-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .desktop {
    display: none;
  }
}
</style>
