<template>
  <loader v-model="load">
    <world-form v-model="world" :initial-alias="initialAlias" />
    <form-footer
      :message="$t('world.deletePrompt')"
      v-model="world"
      :back-route="{ name: 'Home' }"
      :requirements="[isValid, hasChanges]"
      @save="saveWorld"
      @delete="confirmDeleteWorld"
    />
    <dialog-window
      class="dialog"
      v-if="secondDialog"
      :buttons="[{ text: $t('dialog.cancel'), action: cancel },
                { text: $t('dialog.scaryConfirm'), action: secondConfirmDeleteWorld, class: 'delete' }]"
      @close="cancel"
    >
    <p>{{ $t('world.scaryDeletePrompt') }}</p>
    </dialog-window>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/global/names'
import { clone, equals } from '@/utils'
import WorldForm from '@/components/WorldForm.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FormFooter from '@/components/FormFooter.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    WorldForm,
    DialogWindow,
    FormFooter,
    Loader
  },
  data: () => ({
    secondDialog: false,
    initialWorld: null
  }),
  computed: {
    ...mapState([
      state.worldExists,
      state.world
    ]),
    isValid () {
      return this.world &&
             this.world.name.length &&
             this.world.alias.length &&
             !this.worldExists
    },
    hasChanges () {
      return !equals(this.initialWorld, this.world)
    },
    initialAlias () {
      return this.initialWorld?.alias
    }
  },
  methods: {
    ...mapActions([
      actions.getWorld,
      actions.saveWorld,
      actions.deleteWorld
    ]),
    async load () {
      await this.getWorld(this.$route.params.id)
    },
    confirmDeleteWorld () {
      this.secondDialog = true
    },
    cancel () {
      this.secondDialog = false
    },
    async secondConfirmDeleteWorld () {
      await this.deleteWorld()
      this.$router.push({ name: 'Home' })
    }
  },
  watch: {
    world () {
      if (this.initialWorld && this.world.id !== this.initialWorld.id) {
        this.$router.push({ name: 'Edit World', params: { id: this.world.id } })
      }

      this.initialWorld = clone(this.world)
    }
  }
}
</script>

<style lang="less" scoped>
.world {
  padding: 16px;
}
</style>
