<template>
  <vue-autosuggest
    class="auto-suggest"
    :value="_value.name"
    :suggestions="suggestions"
    :input-props="{}"
    @selected="onSelected"
    @input="onInput"
  >
    <template slot-scope="{ suggestion }">
      <span>{{ suggestion.item.name }}</span>
    </template>
    <template slot="after-input"><i class="caret la la-caret-down"></i></template>
  </vue-autosuggest>
</template>

<script>
import { VueAutosuggest } from 'vue-autosuggest'
import { clone } from '@/utils'

export default {
  components: {
    VueAutosuggest
  },
  props: {
    value: {
      type: Object,
      default: () => ({ name: '' })
    },
    data: {
      type: Array
    }
  },
  computed: {
    _value: {
      get () {
        return clone(this.value)
      }
    },
    suggestions () {
      return [
        {
          data: this.data
        }
      ]
    }
  },
  methods: {
    onInput (value) {
      this.$emit('input', { name: value })
    },
    onSelected (value) {
      if (value) {
        this.$emit('input', clone(value.item))
      }
    }
  }
}
</script>

<style lang="less" scoped>
.caret {
  position: absolute;
  top: calc(50% - 2px);
  right: 8px;
  color: var(--text-muted);
}

.auto-suggest {
  /deep/ input {
    padding: 4px 0;
    box-sizing: border-box;
    background: none;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid var(--form-field-border);
    margin: 0 0 8px;
    width: 100%;
    color: var(--text-color);
    background: inherit;
  }

  /deep/ .autosuggest__results-container ul {
    position: absolute;
    width: 100%;
    top: 48px;
    font-size: 14px;
    border-top: 1px solid var(--form-field-border);
    z-index: 99999;
  }

  /deep/ .autosuggest__results-item {
    background: var(--panel-2);
    padding: 8px 4px;
    cursor: pointer;
  }

  /deep/ .autosuggest__results-item--highlighted {
    background: var(--panel-2-hover);
  }
}
</style>
