<template>
  <div v-if="_value" class="background">
    <div class="background-section">
      <form-field :name="$t('background.name')" required>
        <input v-model="_value.name" />
      </form-field>
      <form-field :name="$t('background.description')">
        <text-editor v-model="_value.description" />
      </form-field>
      <form-field :name="$t('background.skillProficiencies')" class="background-proficiencies">
        <template v-for="(skillName, skillValue) in skills">
          <input
            :key="`${skillValue}_input`"
            :id="skillValue"
            :value="skillName"
            type="checkbox"
            class="background-proficiency"
            v-model="_value.skillProficiencies"
          />
          <label
            :key="`${skillValue}_label`"
            :for="skillValue"
            class="background-proficiency-label"
          >{{ $t(`skills.${skillValue}`) }}</label>
        </template>
      </form-field>
      <div class="background-extras">
        <form-field :name="$t('background.extraLanguages')">
          <input type="number" min="0" v-model.number="_value.extraLanguages">
        </form-field>
        <form-field :name="$t('background.toolProficiencies')">
          <input v-model="_value.toolProficiencies">
        </form-field>
      </div>
      <form-field :name="$t('background.equipment')">
        <autosize-textarea v-model="_value.equipment" />
      </form-field>
      <form-field :name="$t('background.specialty')">
        <inner-form v-if="_value.specialty" @remove="removeSpecialty">
          <form-field :name="$t('background.specialtyName')" required>
            <input v-model="_value.specialty.name" />
          </form-field>
          <form-field :name="$t('background.specialtyDescription')">
            <text-editor v-model="_value.specialty.description" />
          </form-field>
          <form-field :name="$t('background.specialtyType')">
            <input v-model="_value.specialty.title" />
          </form-field>
          <inner-form v-for="(_, index) in _value.specialty.items" :key="index" @remove="removeSpecialtyItem(index)">
            <autosize-textarea class="no-bottom-margin" v-model="_value.specialty.items[index]" />
          </inner-form>
          <inner-form-add @click="addSpecialtyItem" />
        </inner-form>
        <inner-form-add v-if="_value.specialty === null" @click="addSpecialty" />
      </form-field>
      <form-field :name="$t('background.feature')">
        <inner-form v-if="_value.feature" @remove="removeFeature">
          <form-field :name="$t('background.featureName')" required>
            <input v-model="_value.feature.name" />
          </form-field>
          <form-field :name="$t('background.featureDescription')">
            <text-editor v-model="_value.feature.description" />
          </form-field>
        </inner-form>
        <inner-form-add v-if="_value.feature === null" @click="addFeature" />
      </form-field>
    </div>
    <div class="background-section">
      <form-field-set :legend="$t('background.suggestedCharacteristics')">
        <form-field :name="$t('background.suggestedCharacteristicsDescription')">
          <text-editor v-model="_value.suggestedCharacteristics" />
        </form-field>
        <form-field :name="$t('background.personality')">
          <inner-form v-for="(_, index) in _value.personalityTraits" :key="index" @remove="removePersonalityTrait(index)">
            <autosize-textarea class="no-bottom-margin" v-model="_value.personalityTraits[index]" />
          </inner-form>
          <inner-form-add @click="addPersonalityTrait" />
        </form-field>
        <form-field :name="$t('background.ideals')">
          <inner-form v-for="(_, index) in _value.ideals" :key="index" @remove="removeIdeal(index)">
            <autosize-textarea class="no-bottom-margin" v-model="_value.ideals[index]" />
          </inner-form>
          <inner-form-add @click="addIdeal" />
        </form-field>
        <form-field :name="$t('background.bonds')">
          <inner-form v-for="(_, index) in _value.bonds" :key="index" @remove="removeBond(index)">
            <autosize-textarea class="no-bottom-margin" v-model="_value.bonds[index]" />
          </inner-form>
          <inner-form-add @click="addBond" />
        </form-field>
        <form-field :name="$t('background.flaws')">
          <inner-form v-for="(_, index) in _value.flaws" :key="index" @remove="removeFlaw(index)">
            <autosize-textarea class="no-bottom-margin" v-model="_value.flaws[index]" />
          </inner-form>
          <inner-form-add @click="addFlaw" />
        </form-field>
      </form-field-set>
    </div>
  </div>
</template>

<script>
import skills from '@/enums/skills'
import AutosizeTextarea from '@/components/AutosizeTextarea.vue'
import FormField from '@/components/FormField.vue'
import FormFieldSet from '@/components/FormFieldSet.vue'
import InnerForm from '@/components/InnerForm.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    AutosizeTextarea,
    FormField,
    FormFieldSet,
    InnerForm,
    InnerFormAdd,
    TextEditor
  },
  props: {
    value: {
      type: Object
    }
  },
  data: () => ({
    skills
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    addSpecialty () {
      this._value.specialty = {
        name: '',
        title: '',
        description: '',
        items: []
      }
    },
    removeSpecialty () {
      this._value.specialty = null
    },
    addSpecialtyItem () {
      this._value.specialty.items.push('')
    },
    removeSpecialtyItem (index) {
      this._value.specialty.items.splice(index, 1)
    },
    addFeature () {
      this._value.feature = {
        name: '',
        description: ''
      }
    },
    removeFeature () {
      this._value.feature = null
    },
    addPersonalityTrait () {
      this._value.personalityTraits.push('')
    },
    removePersonalityTrait (index) {
      this._value.personalityTraits.splice(index, 1)
    },
    addIdeal () {
      this._value.ideals.push('')
    },
    removeIdeal (index) {
      this._value.ideals.splice(index, 1)
    },
    addBond () {
      this._value.bonds.push('')
    },
    removeBond (index) {
      this._value.bonds.splice(index, 1)
    },
    addFlaw () {
      this._value.flaws.push('')
    },
    removeFlaw (index) {
      this._value.flaws.splice(index, 1)
    }
  }
}
</script>

<style lang="less" scoped>
.background {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .background-proficiencies {
    margin-bottom: 8px;

    /deep/ .inner-form-field {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 8px;
    }

    .background-proficiency {
      display: none;
    }

    .background-proficiency-label {
      font-size: .75rem;
      display: block;
      padding: 8px 0;
      width: 100%;
      background: var(--check-button);
      text-align: center;
    }

    .background-proficiency-label:hover {
      background: var(--check-button-hover);
      cursor: pointer;
    }

    .background-proficiency:checked + .background-proficiency-label {
      background: var(--check-button-clicked);

      &:hover {
        background: var(--check-button-clicked-hover);
      }
    }
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.background-extras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

@media only screen and (max-width: 1440px) {
  .background .background-proficiencies /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .background {
    grid-template-columns: 1fr;

    .background-proficiencies /deep/ .inner-form-field {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  .background .background-proficiencies /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .background .background-proficiencies /deep/ .inner-form-field {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .background .background-proficiencies /deep/ .inner-form-field {
    grid-template-columns: 1fr;
  }
}
</style>
