<template>
  <div class="step4">
    <h2>{{ $t('simpleCharacter.describeYourCharacter') }}</h2>
    <div class="form">
      <form-field :name="$t('simpleCharacter.alignment')" is-select>
        <select v-model="_value.alignment">
          <option :value="null"></option>
          <option v-for="(alignment, alignmentValue) in alignments" :key="alignment" :value="alignment">{{ $t(`alignment.${alignmentValue}`) }}</option>
        </select>
      </form-field>
      <form-field :name="$t('simpleCharacter.personality')">
        <text-editor v-model="_value.personality" />
      </form-field>
      <form-field :name="$t('simpleCharacter.ideals')">
        <text-editor v-model="_value.ideals" />
      </form-field>
      <form-field :name="$t('simpleCharacter.bonds')">
        <text-editor v-model="_value.bonds" />
      </form-field>
      <form-field :name="$t('simpleCharacter.flaws')">
        <text-editor v-model="_value.flaws" />
      </form-field>
    </div>
    <div class="buttons">
      <button class="button-back" @click="previous">{{ $t('simpleCharacter.back') }}</button>
      <button class="button-save" @click="next">{{ $t('simpleCharacter.next') }}</button>
    </div>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import Character from '@/models/character'
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    FormField,
    TextEditor
  },
  props: {
    value: {
      type: Character
    }
  },
  data: () => ({
    alignments
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    previous () {
      this.$emit('previous')
    },
    next () {
      this.$emit('next')
    }
  }
}
</script>

<style lang="less" scoped>
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}
</style>
