<template>
  <div v-if="_value" class="character-spellcasting">
    <div class="character-section">
      <form-field :name="$t('character.spellcasting')">
        <text-editor v-model="_value.spellcasting" />
      </form-field>
    </div>
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    FormField,
    TextEditor
  },
  props: {
    value: {
      type: Object
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>
