<template>
  <div v-if="_value" class="character-biography">
    <div class="character-section">
      <form-field :name="$t('character.description')">
        <text-editor v-model="_value.description" />
      </form-field>
    </div>
    <div class="character-section grid">
      <form-field :name="$t('character.personality')">
        <text-editor v-model="_value.personality" />
      </form-field>
      <form-field :name="$t('character.ideals')">
        <text-editor v-model="_value.ideals" />
      </form-field>
      <form-field :name="$t('character.bonds')">
        <text-editor v-model="_value.bonds" />
      </form-field>
      <form-field :name="$t('character.flaws')">
        <text-editor v-model="_value.flaws" />
      </form-field>
    </div>
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    FormField,
    TextEditor
  },
  props: {
    value: {
      type: Object
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.grid {
  display: grid;
  gap: 0 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
</style>
