<template>
  <div v-if="_value" class="character-attributes-stat">
    <proficiency-field allow-expertise :already-proficient="alreadyProficient" v-model="_value.skillProficiencies[data]" />
    <span class="modifier">{{ proficientModifier | sign }}</span>
    <span class="name">{{ $t(`skills.${name}`) }}</span>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import proficiencies from '@/enums/proficiencies'
import ProficiencyField from '@/components/ProficiencyField.vue'

export default {
  components: {
    ProficiencyField
  },
  props: {
    value: {
      type: Object
    },
    ability: {
      type: String
    },
    data: {
      type: String
    },
    alreadyProficient: {
      type: Boolean
    },
    name: {
      type: String
    },
    proficiency: {
      type: Number
    }
  },
  data: () => ({
    alignments
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    applicableBonus () {
      const skillBonuses = this.value.bonuses.filter(x => x.type === 'Skill')
      const currentSkillBonuses = skillBonuses.filter(x => x.target === this.data)
      return currentSkillBonuses.reduce((a, x) => a + x.value, 0)
    },
    applicableBonusStat () {
      const statBonuses = this.value.bonuses.filter(x => x.type === 'Ability')
      const currentStatBonuses = statBonuses.filter(x => x.target === this.ability)
      return currentStatBonuses.reduce((a, x) => a + x.value, 0)
    },
    proficientModifier () {
      let modifier = this.alreadyProficient ? this.proficiency : 0

      switch (this.value.skillProficiencies[this.data]) {
        case proficiencies.half:
          modifier = Math.floor(this.proficiency / 2)
          break
        case proficiencies.proficiency:
          modifier = this.proficiency
          break
        case proficiencies.expertise:
          modifier = this.proficiency * 2
          break
      }

      return this.roundModifier((this._value.abilities[this.ability] || 0) + this.applicableBonusStat) + modifier + this.applicableBonus
    }
  },
  filters: {
    sign (value) {
      return value > 0 ? ('+' + value) : ('' + value)
    }
  },
  methods: {
    roundModifier (value) {
      return Math.floor(((value ?? 10) - 10) / 2)
    }
  }
}
</script>

<style lang="less" scoped>
.character-attributes-stat {
  display: grid;
  grid-template-columns: 32px 48px 1fr;

  span {
    line-height: 24px;
  }

  .modifier {
    text-align: center;
  }
}
</style>
