<template>
  <div v-if="_value" class="character-attributes">
    <div class="character-section stats">
      <character-form-attributes-stat :proficiency="proficiency" :race-bonus="raceModifiers[stats.strength] || 0" :already-proficient="classProficiencies.includes(stats.strength)" :data="stats.strength" :name="stats.getName(stats.strength)" v-model="_value" />
      <character-form-attributes-stat :proficiency="proficiency" :race-bonus="raceModifiers[stats.dexterity] || 0" :already-proficient="classProficiencies.includes(stats.dexterity)" :data="stats.dexterity" :name="stats.getName(stats.dexterity)" v-model="_value" />
      <character-form-attributes-stat :proficiency="proficiency" :race-bonus="raceModifiers[stats.constitution] || 0" :already-proficient="classProficiencies.includes(stats.constitution)" :data="stats.constitution" :name="stats.getName(stats.constitution)" v-model="_value" />
      <character-form-attributes-stat :proficiency="proficiency" :race-bonus="raceModifiers[stats.intelligence] || 0" :already-proficient="classProficiencies.includes(stats.intelligence)" :data="stats.intelligence" :name="stats.getName(stats.intelligence)" v-model="_value" />
      <character-form-attributes-stat :proficiency="proficiency" :race-bonus="raceModifiers[stats.wisdom] || 0" :already-proficient="classProficiencies.includes(stats.wisdom)" :data="stats.wisdom" :name="stats.getName(stats.wisdom)" v-model="_value" />
      <character-form-attributes-stat :proficiency="proficiency" :race-bonus="raceModifiers[stats.charisma] || 0" :already-proficient="classProficiencies.includes(stats.charisma)" :data="stats.charisma" :name="stats.getName(stats.charisma)" v-model="_value" />
    </div>
    <form-field :name="$t('character.skills')" class="character-section skills">
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.acrobatics)" :ability="stats.dexterity" :data="skills.acrobatics" :name="skills.getName(skills.acrobatics)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.animalHandling)" :ability="stats.wisdom" :data="skills.animalHandling" :name="skills.getName(skills.animalHandling)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.arcana)" :ability="stats.intelligence" :data="skills.arcana" :name="skills.getName(skills.arcana)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.athletics)" :ability="stats.strength" :data="skills.athletics" :name="skills.getName(skills.athletics)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.deception)" :ability="stats.charisma" :data="skills.deception" :name="skills.getName(skills.deception)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.history)" :ability="stats.intelligence" :data="skills.history" :name="skills.getName(skills.history)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.insight)" :ability="stats.wisdom" :data="skills.insight" :name="skills.getName(skills.insight)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.intimidation)" :ability="stats.charisma" :data="skills.intimidation" :name="skills.getName(skills.intimidation)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.investigation)" :ability="stats.intelligence" :data="skills.investigation" :name="skills.getName(skills.investigation)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.medicine)" :ability="stats.wisdom" :data="skills.medicine" :name="skills.getName(skills.medicine)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.nature)" :ability="stats.intelligence" :data="skills.nature" :name="skills.getName(skills.nature)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.perception)" :ability="stats.wisdom" :data="skills.perception" :name="skills.getName(skills.perception)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.performance)" :ability="stats.charisma" :data="skills.performance" :name="skills.getName(skills.performance)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.persuasion)" :ability="stats.charisma" :data="skills.persuasion" :name="skills.getName(skills.persuasion)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.religion)" :ability="stats.intelligence" :data="skills.religion" :name="skills.getName(skills.religion)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.sleightOfHand)" :ability="stats.dexterity" :data="skills.sleightOfHand" :name="skills.getName(skills.sleightOfHand)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.stealth)" :ability="stats.dexterity" :data="skills.stealth" :name="skills.getName(skills.stealth)" v-model="_value" />
      <character-form-attributes-skill :proficiency="proficiency" :already-proficient="backgroundProficiencies.includes(skills.survival)" :ability="stats.wisdom" :data="skills.survival" :name="skills.getName(skills.survival)" v-model="_value" />
    </form-field>
    <div class="character-section hit-points">
      <form-field :name="$t('character.hitPoints')">
        <input type="number" v-model.number="_value.currentHitPoints" />
        <span class="maximum">/&nbsp;{{ maximumHitPoints }}</span>
      </form-field>
      <form-field :name="$t('character.temporaryHitPoints')">
        <input type="number" v-model.number="_value.temporaryHitPoints" />
      </form-field>
      <character-form-attributes-death-saves v-model="_value" />
    </div>
    <div class="character-section other">
      <div>
        <label class="checkbox">
          <small>{{ $t('character.inspiration') }}</small>
          <input type="checkbox" v-model="_value.inspiration">
          <i v-if="_value.inspiration" class="la la-check-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
        <label v-if="!hideArchived" class="checkbox">
          <small>{{ $t('character.archived') }}</small>
          <input type="checkbox" v-model="_value.archived">
          <i v-if="_value.archived" class="la la-check-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
      </div>
      <form-field :name="$t('character.otherProficiencies')">
        <text-editor v-model="_value.otherProficiencies" />
      </form-field>
      <div>
        <tag-list :tagValues="raceLanguages" :name="$t('character.raceLanguages')"/>
      </div>
      <tag-select v-model="_characterLanguages" :options="languages" :name="`${$t('character.extraLanguages')} (${$tc('character.nExtraLanguages', nExtraLanguages, { value: nExtraLanguages })})`"/>
    </div>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import skills from '@/enums/skills'
import stats from '@/enums/stats'
import CharacterFormAttributesDeathSaves from '@/components/CharacterFormAttributesDeathSaves.vue'
import CharacterFormAttributesSkill from '@/components/CharacterFormAttributesSkill.vue'
import CharacterFormAttributesStat from '@/components/CharacterFormAttributesStat.vue'
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'
import TagSelect from '@/components/TagSelect.vue'
import TagList from '@/components/TagList.vue'

export default {
  components: {
    CharacterFormAttributesDeathSaves,
    CharacterFormAttributesSkill,
    CharacterFormAttributesStat,
    FormField,
    TextEditor,
    TagSelect,
    TagList
  },
  props: {
    value: {
      type: Object
    },
    proficiency: {
      type: Number
    },
    backgroundProficiencies: {
      type: Array
    },
    firstHitDice: {
      type: Number
    },
    characterLevel: {
      type: Number
    },
    characterLanguages: {
      type: Array
    },
    classProficiencies: {
      type: Array
    },
    raceModifiers: {
      type: Object
    },
    languages: {
      type: Array
    },
    raceLanguages: {
      type: Array
    },
    nExtraLanguages: {
      type: Number,
      default: 0
    },
    hideArchived: {
      type: Boolean
    }
  },
  data: () => ({
    alignments,
    skills,
    stats
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    _characterLanguages: {
      get () {
        return this.characterLanguages
      },
      set (value) {
        this.$emit('languages-changed', value)
      }
    },
    maximumHitPoints () {
      const statBonuses = this.value.bonuses.filter(x => x.type === 'Ability')
      const constitutionBonuses = statBonuses.filter(x => x.target === stats.constitution)
      const constitutionAbility = this.value.abilities[stats.constitution] || 0
      const raceModifier = this.raceModifiers[stats.constitution] || 0
      const constitution = constitutionAbility + constitutionBonuses.reduce((a, x) => a + x.value, 0) + raceModifier
      const defaultHitPoints = this.roundModifier(constitution) * this.characterLevel
      const otherBonuses = this.value.bonuses.filter(x => x.type === 'Other')
      const hitPointBonuses = otherBonuses.filter(x => x.target === 'HitPoints')
      return hitPointBonuses.reduce((a, x) => a + x.value, 0) + this.firstHitDice + defaultHitPoints
    }
  },
  methods: {
    roundModifier (value) {
      return Math.floor(((value ?? 10) - 10) / 2)
    }
  }
}
</script>

<style lang="less" scoped>
.stats {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;

  /deep/ input {
    text-align: center;
  }
}

.skills /deep/ .inner-form-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 16px;
  margin-bottom: 8px;
}

.hit-points {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0 16px;

  ::v-deep .inner-form-field {
    display: flex;
  }
}

.other {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 16px;

  .tag-list {
    margin-bottom: 6px;
  }
  .nExtraLanguages {
    font-size: 14px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  .la {
    margin-left: 8px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .stats {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills /deep/ .inner-form-field {
    grid-template-columns: repeat(2, 1fr);
  }

  .hit-points {
    grid-template-columns: 1fr 1fr;

    .death-saves {
      grid-column-end: span 2;
    }
  }

  .other {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills /deep/ .inner-form-field {
    grid-template-columns: 1fr;
  }
}
</style>
