<template>
  <multiselect
    :value="value"
    @select="addTag"
    @remove="removeTag"
    :options="characters"
    label="name"
    track-by="id"
    :multiple="true"
  >
    <template slot="option" slot-scope="props">
      <div class="character-preview">
        <div class="section-top">
          <strong class="name">{{ props.option.name }}</strong>
          <small class="player">{{ props.option.player }}</small>
        </div>
        <div class="section-bottom">
          <span class="info">{{ `${props.option.race || ''} ${props.option.background || ''}` }}</span>
          <div class="classes">
            <small v-for="(classLevel, className) in props.option.classes" :key="className" class="class">{{ `${className} ${classLevel}` }}</small>
          </div>
        </div>
      </div>
    </template>
    <template slot="noResult">
      <div class="character-preview small">
        {{ $t('list.noResult') }}
      </div>
    </template>
  </multiselect>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
  components: {
    Multiselect
  },
  props: {
    value: {
      type: Array
    },
    characters: {
      type: Array
    }
  },
  methods: {
    addTag (value) {
      this.$emit('input', [...this.value, value])
    },
    removeTag (value) {
      this.$emit('input', this.value.filter(x => x.id !== value.id))
    }
  }
}
</script>

<style>
fieldset[disabled] .multiselect {
  pointer-events: none;
}
.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}
.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 16px;
  color: var(--text-color);
  touch-action: manipulation;
}
.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  border-bottom: 2px solid var(--form-field-border);
}
.multiselect * {
  box-sizing: border-box;
}
.multiselect:focus {
  outline: none;
}
.multiselect--active {
  z-index: 50;
}
.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  padding: 0 0 0 5px;
  width: calc(100%);
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 8px;
  vertical-align: top;
  background: inherit;
}
.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
  width: auto;
}
.multiselect__single {
  padding-left: 5px;
  margin-bottom: 8px;
}
.multiselect__tags-wrap {
  display: inline;
}
.multiselect__tags {
  min-height: 40px;
  display: block;
  padding: 8px 40px 0 0;
  border-radius: 4px;
  font-size: 14px;
}
.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 4px;
  margin-right: 10px;
  line-height: 1;
  background: var(--panel-1);
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: initial;
  width: 22px;
  text-align: center;
  line-height: 22px;
  transition: all 0.2s ease;
}
.multiselect__tag-icon:after {
  content: "×";
  font-size: 14px;
}
.multiselect__current {
  line-height: 16px;
  min-height: 40px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}
.multiselect__select {
  line-height: 16px;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 38px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.multiselect__select:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #999999 transparent transparent transparent;
  content: "";
}
.multiselect__placeholder {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 2px;
}
.multiselect--active .multiselect__placeholder {
  display: none;
}
.multiselect__content-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  z-index: 50;
  -webkit-overflow-scrolling: touch;
}
.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}
.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
}
.multiselect__content::webkit-scrollbar {
  display: none;
}
.multiselect__element {
  display: block;
}
.multiselect__option {
  display: block;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.multiselect__option:after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: 40px;
  padding-right: 12px;
  padding-left: 20px;
  font-size: 13px;
}
.multiselect__option--selected {
  font-weight: bold;
}
.multiselect-enter-active,
.multiselect-leave-active {
  transition: all 0.15s ease;
}
.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}
.multiselect__strong {
  margin-bottom: 8px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
</style>

<style lang="less" scoped>
.character-preview {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--panel-2);
  padding: 16px;
  text-decoration: none;
  color: var(--text-color);

  &.small {
    height: auto;
  }

  .section-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .name {
      font-size: 1.25rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1rem;
      height: 1.5rem;
    }

    .player {
      font-size: .75rem;
      color: var(--text-muted);
    }
  }

  .section-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 32px;
    margin-top: -8px;

    .info {
      font-size: 1rem;
      color: var(--text-muted);
    }

    .classes {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      font-size: 1rem;
    }
  }

  &:hover {
    background: var(--panel-2-hover);
  }
}
</style>
