<template>
  <div v-if="_value" class="character-inventory">
    <div class="character-section">
      <form-field :name="$t('character.attacks')">
        <draggable v-model="_value.attacks" handle=".handle">
          <inner-form v-for="(item, index) in _value.attacks" :key="index" @remove="removeAttack(index)" drag>
            <div class="outer-flex">
              <form-field :name="$t('character.attackName')" required>
                <input v-model="item.name" />
              </form-field>
              <form-field :name="$t('character.attackDescription')">
                <input v-model="item.description" />
              </form-field>
              <label class="checkbox">
                <small>{{ $t('character.attackProficiency') }}</small>
                <input type="checkbox" v-model="item.proficiency">
                <i v-if="item.proficiency" class="la la-check-circle"></i>
                <i v-else class="la la-circle"></i>
              </label>
            </div>
            <div class="outer-flex">
              <form-field :name="$t('character.attackBonus')">
                <input type="number" v-model.number="item.attackBonus" />
              </form-field>
              <form-field :name="$t('character.attackDamage')" is-select required>
                <div class="inner-flex">
                  <input placeholder="1d4+2" v-model.lazy="item.damage" />
                  <select v-model="item.ability">
                    <option :value="null"></option>
                    <option v-for="(stat, key) in stats" :key="key" :value="stat">{{ $t(`stats.${key}`) }}</option>
                  </select>
                </div>
              </form-field>
              <form-field :name="$t('character.damageType')" is-select required>
                <select v-model="item.damageType">
                  <option :value="null"></option>
                  <option v-for="(damageType, key) in damageTypes" :key="key" :value="damageType">{{ $t(`damageTypes.${key}`) }}</option>
                </select>
              </form-field>
            </div>
          </inner-form>
        </draggable>
        <inner-form-add @click="addAttack" />
      </form-field>
      <form-field :name="$t('character.equipment')">
        <text-editor v-model="_value.equipment" />
      </form-field>
    </div>
  </div>
</template>

<script>
import damageTypes from '@/enums/damageTypes'
import stats from '@/enums/stats'
import Attack from '@/models/attack'
import Draggable from 'vuedraggable'
import FormField from '@/components/FormField.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import InnerForm from '@/components/InnerForm.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    Draggable,
    FormField,
    InnerFormAdd,
    InnerForm,
    TextEditor
  },
  props: {
    value: {
      type: Object
    }
  },
  data: () => ({
    damageTypes,
    stats
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    addAttack () {
      this._value.attacks.push(new Attack())
    },
    removeAttack (index) {
      this._value.attacks.splice(index, 1)
    }
  }
}
</script>

<style lang="less" scoped>
.outer-flex {
  display: grid;
  gap: 0 16px;
  grid-template-columns: 1fr 2fr 1fr;
}

.inner-flex {
  display: grid;
  gap: 0 16px;
  grid-template-columns: 1fr 1fr;
}

.checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  .la {
    margin-left: 8px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .outer-flex {
    grid-template-columns: 1fr;
  }
}
</style>
