<template>
  <div v-if="_value" class="character-attributes-stat">
    <form-field :name="`${$t(`stats.${name}`)}${applicableBonusStat}${applicableBonusRace}`">
      <input type="number" v-model.number="_value.abilities[data]">
      <div class="inner-flex">
        <span>{{ modifier | sign }}</span>
        <proficiency-field :already-proficient="alreadyProficient" v-model="_value.saveProficiencies[data]" />
        <span>{{ proficientModifier | sign }}</span>
      </div>
    </form-field>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import proficiencies from '@/enums/proficiencies'
import FormField from '@/components/FormField.vue'
import ProficiencyField from '@/components/ProficiencyField.vue'

export default {
  components: {
    FormField,
    ProficiencyField
  },
  props: {
    value: {
      type: Object
    },
    data: {
      type: String
    },
    alreadyProficient: {
      type: Boolean
    },
    name: {
      type: String
    },
    proficiency: {
      type: Number
    },
    raceBonus: {
      type: Number
    }
  },
  data: () => ({
    alignments
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    applicableBonus () {
      const statBonuses = this.value.bonuses.filter(x => x.type === 'Ability')
      const currentStatBonuses = statBonuses.filter(x => x.target === this.data)
      return currentStatBonuses.reduce((a, x) => a + x.value, 0)
    },
    modifier () {
      return this.roundModifier((this._value.abilities[this.data] || 0) + this.applicableBonus + this.raceBonus)
    },
    applicableBonusSave () {
      const saveBonuses = this.value.bonuses.filter(x => x.type === 'Save')
      const currentSaveBonuses = saveBonuses.filter(x => x.target === this.data)
      return currentSaveBonuses.reduce((a, x) => a + x.value, 0)
    },
    applicableBonusStat () {
      const statBonuses = this.value.bonuses.filter(x => x.type === 'Ability')
      const currentStatBonuses = statBonuses.filter(x => x.target === this.data)
      const value = currentStatBonuses.reduce((a, x) => a + x.value, 0)
      return value ? ` (${this.getSign(value)})` : ''
    },
    applicableBonusRace () {
      return this.raceBonus ? ` R(${this.getSign(this.raceBonus)})` : ''
    },
    proficientModifier () {
      let modifier = this.alreadyProficient ? this.proficiency : 0

      switch (this.value.saveProficiencies[this.data]) {
        case proficiencies.half:
          modifier = Math.floor(this.proficiency / 2)
          break
        case proficiencies.proficiency:
          modifier = this.proficiency
          break
        case proficiencies.expertise:
          modifier = this.proficiency * 2
          break
      }

      return this.roundModifier((this._value.abilities[this.data] || 0) + this.applicableBonus + this.raceBonus) + modifier + this.applicableBonusSave
    }
  },
  filters: {
    sign (value) {
      return value > 0 ? ('+' + value) : ('' + value)
    }
  },
  methods: {
    getSign (value) {
      return value > 0 ? ('+' + value) : ('' + value)
    },
    roundModifier (value) {
      return Math.floor(((value ?? 10) - 10) / 2)
    }
  }
}
</script>

<style lang="less" scoped>
.character-attributes-stat {
  width: 100%;
  margin-bottom: 8px;
}

.inner-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  span {
    text-align: center;
    border-right: 1px solid var(--form-field-border);
  }

  span:last-of-type {
    border-right: none;
    border-left: 1px solid var(--form-field-border);
  }
}
</style>
