<template>
  <div v-if="_value" class="character">
    <div class="character-section">
      <form-field :name="$t('character.name')" required>
        <input v-model="_value.name" />
      </form-field>
    </div>
    <div class="character-section">
      <form-field :name="$t('character.player')">
        <input v-model="_value.player" />
      </form-field>
    </div>
    <div class="character-section" :class="{'double-size': !levelUp}">
      <form-field :name="$t('character.classes')">
        <input readonly @click="openClasses" v-model="displayClasses" />
      </form-field>
    </div>
    <div v-if="levelUp" class="character-section character-action-levelUp">
      <button @click="$emit('levelUp')"><i class="las la-angle-double-up"></i>{{ $t('character.levelUp') }}</button>
    </div>
    <div class="character-section">
      <form-field :name="$t('character.alignment')" is-select>
        <select v-model="_value.alignment">
          <option :value="null"></option>
          <option v-for="(alignment, alignmentValue) in alignments" :key="alignment" :value="alignment">{{ $t(`alignment.${alignmentValue}`) }}</option>
        </select>
      </form-field>
    </div>
    <div class="character-section">
      <form-field :name="$t('character.experience')">
        <input type="number" min="0" v-model.number="_value.experience" />
      </form-field>
    </div>
    <div class="character-section">
      <form-field :name="$t('character.race')">
        <auto-suggest :data="races" v-model="race" />
      </form-field>
    </div>
    <div class="character-section">
      <form-field :name="$t('character.background')">
        <auto-suggest :data="backgrounds" v-model="background" />
      </form-field>
    </div>
    <tabs class="full-size">
      <tab :title="$t('character.attributes')">
        <character-form-attributes
          :proficiency="proficiency"
          :background-proficiencies="backgroundInfo && backgroundInfo.skillProficiencies || []"
          :class-proficiencies="classInfo && classInfo.saveProficiencies || []"
          :character-level="characterLevel"
          :first-hit-dice="firstHitDice"
          :race-modifiers="raceInfo && raceInfo.abilities || {}"
          :character-languages="_characterLanguages || []"
          :languages="extraLanguageOptions || []"
          :race-languages="raceLanguages || []"
          :n-extra-languages="nExtraLanguages"
          :hide-archived="!_value.owned"
          @languages-changed="languagesChanged"
          v-model="_value"
        />
      </tab>
      <tab :title="$t('character.inventory')">
        <character-form-inventory v-model="_value" />
      </tab>
      <tab :title="$t('character.features')">
        <character-form-features v-model="_value" />
      </tab>
      <tab :title="$t('character.spellcasting')">
        <character-form-spellcasting v-model="_value" />
      </tab>
      <tab :title="$t('character.biography')">
        <character-form-biography v-model="_value" />
      </tab>
      <tab v-if="_value.owned" :title="$t('character.privacy')">
        <character-form-access :character-accesses="characterAccesses" :parties="parties" v-model="_value" @accesses-changed="accessesChanged" />
      </tab>
    </tabs>
    <dialog-window
      v-if="showClasses"
      @close="closeClasses"
      :buttons="[{ text: $t('dialog.close'), action: closeClasses }]"
    >
      <character-form-classes :classes="classes" v-model="_characterClasses" />
    </dialog-window>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import levelsXp from '@/enums/levelsXp'
import Background from '@/models/background'
import Class from '@/models/class'
import Race from '@/models/race'
import AutoSuggest from '@/components/AutoSuggest.vue'
import CharacterFormAccess from '@/components/CharacterFormAccess.vue'
import CharacterFormAttributes from '@/components/CharacterFormAttributes.vue'
import CharacterFormBiography from '@/components/CharacterFormBiography.vue'
import CharacterFormClasses from '@/components/CharacterFormClasses.vue'
import CharacterFormFeatures from '@/components/CharacterFormFeatures.vue'
import CharacterFormInventory from '@/components/CharacterFormInventory.vue'
import CharacterFormSpellcasting from '@/components/CharacterFormSpellcasting.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FormField from '@/components/FormField.vue'
import Tabs from '@/components/Tabs.vue'
import Tab from '@/components/Tab.vue'

export default {
  components: {
    AutoSuggest,
    CharacterFormAccess,
    CharacterFormAttributes,
    CharacterFormBiography,
    CharacterFormClasses,
    CharacterFormFeatures,
    CharacterFormInventory,
    CharacterFormSpellcasting,
    DialogWindow,
    FormField,
    Tabs,
    Tab
  },
  props: {
    value: {
      type: Object
    },
    backgrounds: {
      type: Array
    },
    classes: {
      type: Array
    },
    characterAccesses: {
      type: Array
    },
    characterClasses: {
      type: Array
    },
    races: {
      type: Array
    },
    languages: {
      type: Array
    },
    parties: {
      type: Array
    },
    backgroundInfo: {
      type: [Background, Object]
    },
    classInfo: {
      type: [Class, Object]
    },
    raceInfo: {
      type: Race
    }
  },
  data: () => ({
    alignments,
    background: null,
    race: null,
    characterLanguages: null,
    showClasses: false
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    _characterClasses: {
      get () {
        return this.characterClasses
      },
      set (value) {
        this.$emit('classes-changed', value)
      }
    },
    _characterLanguages: {
      get () {
        return this._value.languageIds
          .filter(id => !(this.raceInfo ?? []).languageIds?.includes(id))
          .map(id => this.languageDict[id])
      },
      set (value) {
        this._value.languageIds = [...value.map(lang => this.getLanguageId(lang)), ...this.raceInfo?.languageIds ?? []]
      }
    },
    raceLanguages () {
      return this.raceInfo?.languageIds?.map(id => this.languageDict[id]) ?? []
    },
    nExtraLanguages () {
      return (this.raceInfo?.extraLanguages ?? 0) + (this.backgroundInfo?.extraLanguages ?? 0)
    },
    extraLanguageOptions () {
      return Object.values(this.languageDict).filter(lang => this.raceLanguages.indexOf(lang) < 0)
    },
    languageDict () {
      return this.languages.reduce((acc, val) => ({ ...acc, [val.id]: val.name }), {})
    },
    displayClasses () {
      return this._characterClasses.reduce((acc, _charClass) => {
        const tempClass = _charClass.name
        const _class = this.classes.find(__class => __class.id === _charClass.classId)

        if (!_class && !tempClass) {
          return ''
        }

        return acc
          ? acc + `, ${_class?.name ?? tempClass} ${_charClass.level}`
          : `${_class?.name ?? tempClass} ${_charClass.level}`
      }, '')
    },
    firstHitDice () {
      return this.classInfo ? this.classInfo.hitDie : 0
    },
    characterLevel () {
      return this._characterClasses.reduce((acc, _class) => acc + _class.level, 0)
    },
    proficiency () {
      return Math.floor((this.characterLevel - 1) / 4) + 2
    },
    levelUp () {
      let totalLevel = 0
      for(let characterClass of this.characterClasses){
        totalLevel += characterClass.level
      }
      return this._value.experience >= levelsXp[20] || this._value.experience >= levelsXp[totalLevel + 1] 
    }
  },
  created () {
    this.background = this.backgrounds.find(x => x.id === this._value.backgroundId) || { name: '' }
    this.race = this.races.find(x => x.id === this._value.raceId) || { name: '' }
  },
  methods: {
    openClasses () {
      this.showClasses = true
    },
    closeClasses () {
      this.showClasses = false
    },
    languagesChanged (value) {
      this._characterLanguages = value
    },
    getLanguageId (name) {
      return Object.keys(this.languageDict).find(id => this.languageDict[id] === name)
    },
    accessesChanged (value) {
      this.$emit('accesses-changed', value)
    }
  },
  watch: {
    background (value) {
      if (value?.id) {
        this._value.backgroundId = value.id
      } else {
        this._value.backgroundId = null
      }
      this.$emit('background-changed', value)
    },
    race (value) {
      if (value?.id) {
        this._value.raceId = value.id
      } else {
        this._value.raceId = null
      }
      this.$emit('race-changed', value)
    },
    'value.raceId' (value) {
      if (this.race?.id !== value) {
        this.race = this.races.find(x => x.id === value)
      }
    },
    'value.backgroundId' (value) {
      if (this.background?.id !== value) {
        this.background = this.backgrounds.find(x => x.id === value)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.character {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  .character-action-levelUp {
    margin: 8px 0 8px 0;
     button {
      padding: 8px 0 8px 0;
      box-sizing: border-box;
      cursor: pointer;
      color: inherit;
      background: var(--confirm-button);
      width: 100%;
      text-align: center;
      height: 100%;
      border: none;
      display: flex;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      i {
        font-size: 1.5rem;
      }
      &:hover {
          background: var(--confirm-button-hover);
      }
    } 
  }
}

.double-size {
  grid-column-end: span 2;
}

.full-size {
  grid-column-end: span 4;
}

@media only screen and (max-width: 768px) {
  .character {
    grid-template-columns: 100%;
    .character-action-levelUp {
      margin: 0;
      position: absolute;
      top: 48px;
      left: 0;
      z-index: 0;
      width: 100%;
    }
  }

  .double-size {
    grid-column-end: span 1;
  }

  .full-size {
    grid-column-end: span 1;
  }
}
</style>
