<template>
  <div class="step1">
    <h2>{{ $t('simpleCharacter.chooseYourRace') }}</h2>
    <div class="form">
      <form-field :name="$t('simpleCharacter.player')">
        <input v-model="_value.player" />
      </form-field>
      <form-field :name="$t('simpleCharacter.race')">
        <auto-suggest :data="races" v-model="race" />
      </form-field>
      <form-field :name="$t('simpleCharacter.name')" required>
        <input v-model="_value.name" />
      </form-field>
    </div>
    <div class="buttons">
      <router-link class="button-back" :to="{ name: 'New Character Advanced' }">{{ $t('simpleCharacter.useAdvancedEditor') }}</router-link>
      <button class="button-save" :disabled="!_value.name" @click="next">{{ $t('simpleCharacter.next') }}</button>
    </div>
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'
import AutoSuggest from '@/components/AutoSuggest.vue'
import Character from '@/models/character'

export default {
  components: {
    FormField,
    AutoSuggest
  },
  props: {
    value: {
      type: Character
    },
    races: {
      type: Array
    }
  },
  data: () => ({
    race: { name: '' }
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    next () {
      this.$emit('next')
    }
  },
  watch: {
    race (value) {
      if (value.id) {
        this._value.raceId = value.id
      } else {
        this._value.raceId = null
      }

      this.$emit('race-changed', value)
    }
  }
}
</script>

<style lang="less" scoped>
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}
</style>
