<template>
  <form-field class="death-saves" :name="$t('character.deathSavingThrows')">
    <div class="fields">
      <div>
        <small class="label">{{ $t('character.successes') }}</small>
        <label>
          <input type="checkbox" v-model="oneDeathSaveSuccesses" />
          <i v-if="oneDeathSaveSuccesses" class="la la-check-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
        <label>
          <input type="checkbox" v-model="twoDeathSaveSuccesses" />
          <i v-if="twoDeathSaveSuccesses" class="la la-check-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
        <label>
          <input type="checkbox" v-model="threeDeathSaveSuccesses" />
          <i v-if="threeDeathSaveSuccesses" class="la la-check-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
      </div>
      <div>
        <small class="label">{{ $t('character.failures') }}</small>
        <label>
          <input type="checkbox" v-model="oneDeathSaveFailures" />
          <i v-if="oneDeathSaveFailures" class="la la-times-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
        <label>
          <input type="checkbox" v-model="twoDeathSaveFailures" />
          <i v-if="twoDeathSaveFailures" class="la la-times-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
        <label>
          <input type="checkbox" v-model="threeDeathSaveFailures" />
          <i v-if="threeDeathSaveFailures" class="la la-times-circle"></i>
          <i v-else class="la la-circle"></i>
        </label>
      </div>
    </div>
  </form-field>
</template>

<script>
import FormField from '@/components/FormField.vue'

export default {
  components: {
    FormField
  },
  props: {
    value: {
      type: Object
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    oneDeathSaveSuccesses: {
      get () {
        return this._value.deathSaveSuccesses > 0
      },
      set () {
        this._value.deathSaveSuccesses = !this.oneDeathSaveSuccesses ? 1 : 0
      }
    },
    twoDeathSaveSuccesses: {
      get () {
        return this._value.deathSaveSuccesses > 1
      },
      set () {
        this._value.deathSaveSuccesses = !this.twoDeathSaveSuccesses ? 2 : 1
      }
    },
    threeDeathSaveSuccesses: {
      get () {
        return this._value.deathSaveSuccesses > 2
      },
      set () {
        this._value.deathSaveSuccesses = !this.threeDeathSaveSuccesses ? 3 : 2
      }
    },
    oneDeathSaveFailures: {
      get () {
        return this._value.deathSaveFailures > 0
      },
      set () {
        this._value.deathSaveFailures = !this.oneDeathSaveFailures ? 1 : 0
      }
    },
    twoDeathSaveFailures: {
      get () {
        return this._value.deathSaveFailures > 1
      },
      set () {
        this._value.deathSaveFailures = !this.twoDeathSaveFailures ? 2 : 1
      }
    },
    threeDeathSaveFailures: {
      get () {
        return this._value.deathSaveFailures > 2
      },
      set () {
        this._value.deathSaveFailures = !this.threeDeathSaveFailures ? 3 : 2
      }
    }
  }
}
</script>

<style lang="less" scoped>
.death-saves {
  margin-bottom: 8px;

  .fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 16px;

    & > div {
      display: flex;
      align-items: center;

      .label {
        margin-right: 8px;
      }

      input {
        display: none;
      }

      .la {
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .death-saves .fields {
    grid-template-columns: 1fr;
  }
}
</style>
