<template>
  <div class="step5">
    <h2>{{ $t('simpleCharacter.selectYourProficiencies') }}</h2>
    <div class="form">
      <form-field :name="$tc('simpleCharacter.backgroundSkills', backgroundInfo.skillProficiencies.length, { count: backgroundInfo.skillProficiencies.length })" class="skills">
        <template v-for="(skillName, skillValue) in backgroundSkills">
          <input
            :key="`${skillValue}_input`"
            :id="skillValue"
            :value="skillName"
            type="checkbox"
            class="skill-proficiency"
            checked
            disabled
          />
          <label
            :key="`${skillValue}_label`"
            :for="skillValue"
            class="skill-proficiency-label"
          >{{ $t(`skills.${skillValue}`) }}</label>
        </template>
      </form-field>
      <form-field :name="$tc('simpleCharacter.skillCount', classInfo.skillCount, { count: classInfo.skillCount })" class="skills">
        <template v-for="(skillName, skillValue) in classSkills">
          <input
            v-if="backgroundInfo.skillProficiencies.includes(skillName)"
            :key="`${skillValue}_input`"
            :id="skillValue"
            :value="skillName"
            type="checkbox"
            class="skill-proficiency"
            disabled
          />
          <input
            v-else
            :key="`${skillValue}_input`"
            :id="skillValue"
            :value="skillName"
            type="checkbox"
            class="skill-proficiency"
            v-model="skillProficiencies"
            :disabled="!classInfo.skillChoices.includes(skillName)"
          />
          <label
            :key="`${skillValue}_label`"
            :for="skillValue"
            class="skill-proficiency-label"
          >{{ $t(`skills.${skillValue}`) }}</label>
        </template>
      </form-field>
      <form-field v-if="raceInfo.extraSkills" :name="$tc('simpleCharacter.raceExtraSkills', raceInfo.extraSkills, { count: raceInfo.extraSkills })" class="skills">
        <template v-for="(skillName, skillValue) in skills">
          <input
            :key="`${skillValue}_input`"
            :id="skillValue"
            :value="skillName"
            type="checkbox"
            class="skill-proficiency"
            v-model="skillProficiencies"
            :disabled="backgroundInfo.skillProficiencies.includes(skillName) || skillProficiencies.includes(skillName)"
          />
          <label
            :key="`${skillValue}_label`"
            :for="skillValue"
            class="skill-proficiency-label"
          >{{ $t(`skills.${skillValue}`) }}</label>
        </template>
      </form-field>
    </div>
    <div class="buttons">
      <button class="button-back" @click="previous">{{ $t('simpleCharacter.back') }}</button>
      <button class="button-save" @click="next">{{ $t('simpleCharacter.next') }}</button>
    </div>
  </div>
</template>

<script>
import { objectFilter } from '@/utils'
import skills from '@/enums/skills'
import Character from '@/models/character'
import Background from '@/models/background'
import Class from '@/models/class'
import Race from '@/models/race'
import FormField from '@/components/FormField.vue'
import proficiencies from '@/enums/proficiencies'

export default {
  components: {
    FormField
  },
  props: {
    value: {
      type: Character
    },
    raceInfo: {
      type: Race
    },
    backgroundInfo: {
      type: Background
    },
    classInfo: {
      type: Class
    }
  },
  data: () => ({
    skills
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    backgroundSkills () {
      return objectFilter(this.skills, ([_, skillName]) => this.backgroundInfo.skillProficiencies.includes(skillName))
    },
    classSkills () {
      return objectFilter(this.skills, ([_, skillName]) => this.classInfo.skillChoices.includes(skillName))
    },
    skillProficiencies: {
      get () {
        return Object.keys(this._value.skillProficiencies)
      },
      set (value) {
        this._value.skillProficiencies = value.reduce((acc, proficiency) => ({ ...acc, [proficiency]: proficiencies.proficiency }), {})
      }
    }
  },
  methods: {
    previous () {
      this.$emit('previous')
    },
    next () {
      this.$emit('next')
    }
  }
}
</script>

<style lang="less" scoped>
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.skills {
  margin-bottom: 8px;

  /deep/ .inner-form-field {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
  }

  .skill-proficiency {
    display: none;
  }

  .skill-proficiency-label {
    font-size: .75rem;
    display: block;
    padding: 8px 0;
    width: 100%;
    background: var(--check-button);
    text-align: center;
  }

  .skill-proficiency-label:hover {
    background: var(--check-button-hover);
    cursor: pointer;
  }

  .skill-proficiency:disabled + .skill-proficiency-label {
    background: var(--check-button-disabled);
    cursor: not-allowed;
  }

  .skill-proficiency:checked + .skill-proficiency-label {
    background: var(--check-button-clicked);

    &:hover {
      background: var(--check-button-clicked-hover);
    }
  }
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}

@media only screen and (max-width: 1440px) {
  .skills /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .skills /deep/ .inner-form-field {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .skills /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .skills /deep/ .inner-form-field {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .skills /deep/ .inner-form-field {
    grid-template-columns: 1fr;
  }
}
</style>
