<template>
  <div class="step2">
    <h2>{{ $t('simpleCharacter.chooseYourClass') }}</h2>
    <div class="form">
      <form-field :name="$t('simpleCharacter.class')">
        <auto-suggest :data="classes" :value="$data.$class" @input="updateClass" />
      </form-field>
      <form-field :name="$t('simpleCharacter.background')">
        <auto-suggest :data="backgrounds" v-model="background" />
      </form-field>
      <div>
        <tag-list :tagValues="raceLanguages" :name="$t('simpleCharacter.raceLanguages')"/>
      </div>
      <tag-select v-model="characterLanguages" :options="extraLanguageOptions || []" :name="`${$t('simpleCharacter.extraLanguages')} (${$tc('simpleCharacter.nExtraLanguages', nExtraLanguages, { value: nExtraLanguages })})`"/>
    </div>
    <div class="buttons">
      <button class="button-back" @click="previous">{{ $t('simpleCharacter.back') }}</button>
      <button class="button-save" @click="next">{{ $t('simpleCharacter.next') }}</button>
    </div>
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'
import AutoSuggest from '@/components/AutoSuggest.vue'
import TagList from '@/components/TagList.vue'
import TagSelect from '@/components/TagSelect.vue'
import Character from '@/models/character'
import Race from '@/models/race'
import Background from '../models/background'

export default {
  components: {
    FormField,
    AutoSuggest,
    TagList,
    TagSelect
  },
  props: {
    value: {
      type: Character
    },
    backgroundInfo: {
      type: Background
    },
    backgrounds: {
      type: Array
    },
    classes: {
      type: Array
    },
    languages: {
      type: Array
    },
    raceInfo: {
      type: Race
    }
  },
  data: () => ({
    $class: { name: '' },
    background: { name: '' }
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    characterLanguages: {
      get () {
        return this._value.languageIds
          .filter(id => !(this.raceInfo ?? []).languageIds.includes(id))
          .map(id => this.languageDict[id])
      },
      set (value) {
        this._value.languageIds = [...value.map(lang => this.getLanguageId(lang)), ...this.raceInfo?.languageIds ?? []]
      }
    },
    raceLanguages () {
      return this.raceInfo?.languageIds?.map(id => this.languageDict[id]) ?? []
    },
    nExtraLanguages () {
      return (this.raceInfo?.extraLanguages ?? 0) + (this.backgroundInfo?.extraLanguages ?? 0)
    },
    extraLanguageOptions () {
      return Object.values(this.languageDict).filter(lang => this.raceLanguages.indexOf(lang) < 0)
    },
    languageDict () {
      return this.languages.reduce((acc, val) => ({ ...acc, [val.id]: val.name }), {})
    }
  },
  methods: {
    previous () {
      this.$emit('previous')
    },
    next () {
      this.$emit('next')
    },
    getLanguageId (name) {
      return Object.keys(this.languageDict).find(id => this.languageDict[id] === name)
    },
    updateClass (value) {
      let _class = { level: 1, remainingHitDice: 1, primary: true }

      if (value.id) {
        _class = { ..._class, classId: value.id }
      } else {
        _class = { ..._class, classId: null, name: value.name }
      }

      this.$emit('class-changed', [_class])
    }
  },
  watch: {
    background (value) {
      if (value.id) {
        this._value.backgroundId = value.id
      } else {
        this._value.backgroundId = null
      }

      this.$emit('background-changed', value)
    }
  }
}
</script>

<style lang="less" scoped>
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.tag-list {
  margin-bottom: 6px;
}

.nExtraLanguages {
  margin-bottom: 6px;
  font-size: 14px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}
</style>
