<template>
  <div class="step6">
    <h2>{{ $t('simpleCharacter.chooseYourEquipment') }}</h2>
    <div class="form">
      <character-form-inventory v-model="_value" />
      <p v-if="backgroundEquipment || classEquipment" class="explanation">{{ $t('simpleCharacter.startingEquipment') }}</p>
      <form-field v-if="backgroundEquipment" :name="$t('simpleCharacter.backgroundStartingEquipment')">
        <text-copier :value="backgroundEquipment" />
      </form-field>
      <form-field v-if="classEquipment" :name="$t('simpleCharacter.classStartingEquipment')">
        <text-copier :value="classEquipment" />
      </form-field>
      <form-field v-if="classInfo.startingWealth" :name="classEquipment ? $t('simpleCharacter.classStartingWealthOr') : $t('simpleCharacter.classStartingWealth')">
        <span>{{ classInfo.startingWealth }} {{ $t('currency.goldPiece') }}</span>
      </form-field>
    </div>
    <div class="buttons">
      <button class="button-back" @click="previous">{{ $t('simpleCharacter.back') }}</button>
      <button class="button-save" :disabled="!_value.name || inventoryError" @click="next">{{ $t('simpleCharacter.finish') }}</button>
    </div>
  </div>
</template>

<script>
import Character from '@/models/character'
import Background from '@/models/background'
import Class from '@/models/class'
import CharacterFormInventory from '@/components/CharacterFormInventory.vue'
import FormField from '@/components/FormField.vue'
import TextCopier from '@/components/TextCopier.vue'

export default {
  components: {
    CharacterFormInventory,
    FormField,
    TextCopier
  },
  props: {
    value: {
      type: Character
    },
    backgroundInfo: {
      type: Background
    },
    classInfo: {
      type: Class
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    inventoryError () {
      return this._value.attacks.some(x => !x.name || !x.damage || !x.damageType)
    },
    backgroundEquipment () {
      return this.backgroundInfo?.equipment ?? ''
    },
    classEquipment () {
      return this.classInfo?.equipment?.join(',\n') ?? ''
    }
  },
  methods: {
    previous () {
      this.$emit('previous')
    },
    next () {
      this.$emit('next')
    }
  }
}
</script>

<style lang="less" scoped>
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.explanation {
  margin-top: 16px;
  margin-bottom: 8px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}
</style>
