<template>
  <div v-if="_value" class="character-access">
    <div class="character-section">
      <form-field :name="$t('character.confidentiality')" is-select>
        <select v-model="_value.confidentiality">
          <option v-if="characterAccesses.length || _value.confidentiality === accessTypes.protected" :value="accessTypes.protected">{{ $t(`access.${accessTypes.getName(accessTypes.protected)}`) }}</option>
          <option v-if="!characterAccesses.length" :value="accessTypes.private">{{ $t(`access.${accessTypes.getName(accessTypes.private)}`) }}</option>
          <option :value="accessTypes.public">{{ $t(`access.${accessTypes.getName(accessTypes.public)}`) }}</option>
        </select>
      </form-field>
      <form-field :name="$t('character.playerAccess')">
        <inner-form v-for="(item, index) in characterAccesses" :key="index" @remove="removeAccess(index)" class="inner-flex">
          <form-field :name="$t('character.accessPlayer')">
            <span>{{ item.name }}</span>
          </form-field>
          <form-field :name="$t('character.accessEmail')">
            <span>{{ item.email }}</span>
          </form-field>
          <form-field :name="$t('character.accessDate')">
            <span>{{ item.grantedAt | date }}</span>
          </form-field>
        </inner-form>
        <inner-form-add @click="openInvitation" />
      </form-field>
      <form-field v-if="parties.length" :name="$t('character.parties')">
        <div class="party-list">
          <character-party-list-item
            v-for="party in parties"
            :key="party.id"
            :party="party"
          />
        </div>
      </form-field>
    </div>
    <dialog-window
      v-if="showInvitation"
      :buttons="[{ text: $t('dialog.close'), action: closeInvitation }]"
      @close="closeInvitation"
    >
      <p>{{ $t('character.invitation') }}</p>
      <text-copier :value="generatedUrl" />
    </dialog-window>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'
import { format } from 'date-fns'
import { getDateLocale } from '@/i18n'
import accessTypes from '@/enums/accessTypes'
import CharacterPartyListItem from '@/components/CharacterPartyListItem.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import FormField from '@/components/FormField.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import InnerForm from '@/components/InnerForm.vue'
import TextCopier from '@/components/TextCopier.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    CharacterPartyListItem,
    DialogWindow,
    FormField,
    InnerFormAdd,
    InnerForm,
    TextCopier
  },
  props: {
    value: {
      type: Object
    },
    characterAccesses: {
      type: Array
    },
    parties: {
      type: Array
    }
  },
  data: () => ({
    accessTypes,
    showInvitation: false,
    isCopied: false
  }),
  computed: {
    ...mapState([
      state.invitation
    ]),
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    generatedUrl () {
      if (this.invitation) {
        const { token } = this.invitation
        const route = this.$router.resolve({ name: 'Resolve Invitation', query: { token } })
        return `${window.origin}${route.href}`
      }

      return 'Generating...'
    }
  },
  filters: {
    date: value => format(new Date(value), 'yyyy-MM-dd HH:mm:ss', { locale: getDateLocale() })
  },
  methods: {
    ...mapActions([
      actions.createInvitation
    ]),
    openInvitation () {
      this.showInvitation = true
      this.createInvitation(this._value.id)
    },
    closeInvitation () {
      this.showInvitation = false
    },
    removeAccess (index) {
      this.$emit('accesses-changed', this.characterAccesses.filter((_, i) => i !== index))

      if (!this.characterAccesses.length) {
        this._value.confidentiality = accessTypes.private
      }
    }
  }
}
</script>

<style lang="less" scoped>
.inner-flex {
  display: grid;
  gap: 0 16px;
  grid-template-columns: repeat(3, 1fr);
}

.checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  .la {
    margin-left: 8px;
    font-size: 24px;
  }
}

.party-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .inner-flex {
    grid-template-columns: 1fr;
  }

  .party-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
