<template>
  <div class="step-indicator">
    <hr class="line" />
    <div class="indicators">
      <a v-for="step in enumerate(steps)" :key="step" href="#" @click="goTo(step)" :class="['dot', { active: value === step }]" :disabled="!history.has(step)">{{ step }}</a>
    </div>
  </div>
</template>

<script>
import { enumerate } from '@/utils'

export default {
  props: {
    value: {
      type: Number
    },
    steps: {
      type: Number
    }
  },
  data: () => ({
    enumerate,
    history: new Set()
  }),
  methods: {
    goTo (value) {
      this.$emit('input', value)
    }
  },
  watch: {
    value: {
      handler (value) {
        this.history.add(value)
      },
      immediate: true
    }
  }
}
</script>

<style lang="less" scoped>
.step-indicator {
  position: relative;
  height: 48px;
  margin: 16px;

  .line {
    margin: 0;
    border: 0;
    border-bottom: 1px solid var(--panel-1);
    position: absolute;
    top: 24px;
    left: 8px;
    right: 8px;
  }

  .indicators {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .dot {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--panel-1);
      border-radius: 50%;
      color: inherit;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        background: var(--panel-1-hover);
      }

      &[disabled] {
        background: var(--panel-1);
        margin: 8px;
        height: 32px;
        width: 32px;
        cursor: initial;
        pointer-events: none;
      }
    }

    .active {
      background: var(--panel-1-active);
    }
  }
}
</style>
