<template>
  <div v-if="_value" class="character-features">
    <div class="character-section">
      <form-field v-if="defaultBonus.length !== 0" :name="$t('character.defaultBonuses')">
        <inner-form v-for="(item, index) in defaultBonus" :removable="false" :key="`default_${index}`" class="outer-flex default-bonus">
          <form-field :name="$t('character.bonusDescription')">
            <input v-model="item.description" disabled />
          </form-field>
          <form-field :name="$t('character.bonusType')">
            <input v-model="item.type" disabled />
          </form-field>
          <form-field :name="$t('character.bonusSubtype')">
            <div class="inner-flex">
              <input v-model="item.target" disabled />
            </div>
          </form-field>
          <form-field :name="$t('character.bonusValue')">
            <input type="number" v-model.number="item.value" disabled/>
          </form-field>
        </inner-form>
      </form-field>
      <form-field :name="$t('character.bonuses')">
        <inner-form v-for="(item, index) in _value.bonuses" :key="index" @remove="removeBonus(index)" class="outer-flex">
          <form-field :name="$t('character.bonusDescription')">
            <input v-model="item.description" />
          </form-field>
          <form-field :name="$t('character.bonusType')" is-select>
            <select v-model="item.type">
              <option v-for="(type, key) in bonusTypes" :key="key" :value="type">{{ $t(`bonuses.${key}`) }}</option>
            </select>
          </form-field>
          <form-field :name="$t('character.bonusSubtype')" is-select>
            <div class="inner-flex">
              <select v-if="item.type === bonusTypes.skill" v-model="item.target">
                <option :value="null"></option>
                <option v-for="(skill, key) in skills" :key="key" :value="skill">{{ $t(`skills.${key}`) }}</option>
              </select>
              <select v-if="item.type === bonusTypes.ability || item.type === bonusTypes.save" v-model="item.target">
                <option :value="null"></option>
                <option v-for="(stat, key) in stats" :key="key" :value="stat">{{ $t(`stats.${key}`) }}</option>
              </select>
              <select v-if="item.type === bonusTypes.other" v-model="item.target">
                <option :value="null"></option>
                <option v-for="(other, key) in otherBonusTypes" :key="key" :value="other">{{ $t(`bonuses.${key}`) }}</option>
              </select>
            </div>
          </form-field>
          <form-field :name="$t('character.bonusValue')">
            <input type="number" v-model.number="item.value" />
          </form-field>
        </inner-form>
        <inner-form-add @click="addBonus" />
      </form-field>
      <form-field :name="$t('character.features')">
        <text-editor v-model="_value.features" />
      </form-field>
    </div>
  </div>
</template>

<script>
import bonusTypes from '@/enums/bonusTypes'
import damageTypes from '@/enums/damageTypes'
import otherBonusTypes from '@/enums/otherBonusTypes'
import skills from '@/enums/skills'
import stats from '@/enums/stats'
import Bonus from '@/models/bonus'
import FormField from '@/components/FormField.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import InnerForm from '@/components/InnerForm.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    FormField,
    InnerFormAdd,
    InnerForm,
    TextEditor
  },
  props: {
    value: {
      type: Object
    },
    defaultBonus: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    bonusTypes,
    damageTypes,
    otherBonusTypes,
    skills,
    stats
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
  },
  methods: {
    addBonus () {
      this._value.bonuses.push(new Bonus())
    },
    removeBonus (index) {
      this._value.bonuses.splice(index, 1)
    }
  }
}
</script>

<style lang="less" scoped>
.outer-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 16px;
}

.inner-flex {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 16px;
}

.default-bonus {
  input{
    color: var(--text-muted) !important
  }
}

@media only screen and (max-width: 768px) {
  .outer-flex {
    grid-template-columns: 1fr;
  }
}
</style>
