<template>
  <div class="character">
    <div class="information">
      <div class="information-name">
        <h2 class="value">{{ character.name }}</h2>
        <small class="label">{{ $t('sheet.name') }}</small>
      </div>
      <div class="information-detail">
        <div class="classes">
          <span class="value">{{ classes }}</span>
          <small class="label">{{ $t('sheet.class') }}</small>
        </div>
        <div class="background">
          <span class="value">{{ character.background }}</span>
          <small class="label">{{ $t('sheet.background') }}</small>
        </div>
        <div class="player">
          <span class="value">{{ character.player }}</span>
          <small class="label">{{ $t('sheet.player') }}</small>
        </div>
        <div class="race">
          <span class="value">{{ character.race }}</span>
          <small class="label">{{ $t('sheet.race') }}</small>
        </div>
        <div class="alignment">
          <span class="value">{{ $t(`alignment.${alignments.getName(character.alignment)}`) }}</span>
          <small class="label">{{ $t('sheet.alignment') }}</small>
        </div>
        <div class="experience">
          <span class="value">{{ character.experience }}</span>
          <small class="label">{{ $t('sheet.experience') }}</small>
        </div>
      </div>
    </div>
    <div class="stats">
      <div v-for="(value, name) in character.abilities" :key="name" class="stat">
        <small class="label">{{ $t(`simpleStats.${firstThree(name)}`) }}</small>
        <span class="big-value">{{ value.score }}</span>
        <span class="small-value">{{ value.modifier | sign }}</span>
      </div>
    </div>
    <div class="inspiration">
      <small class="label">{{ $t('sheet.inspiration') }}</small>
      <span class="value">
        <i v-if="character.inspiration" class="la la-check-circle"></i>
        <i v-else class="la la-circle"></i>
      </span>
    </div>
    <div class="proficiency">
      <small class="label">{{ $t('sheet.proficiency') }}</small>
      <span class="value">{{ character.proficiencyBonus | sign }}</span>
    </div>
    <div class="saving-throws">
      <div class="values">
        <div v-for="(value, name) in character.savingThrows" :key="name" class="stat">
          <span class="proficient">
            <i v-if="value.proficiency" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <small class="label">{{ $t(`stats.${stats.getName(name)}`) }}</small>
          </span>
          <span class="bonus">{{ value.bonus | sign }}</span>
        </div>
      </div>
      <small class="label">{{ $t('sheet.savingThrows') }}</small>
    </div>
    <div class="skills">
      <div class="values">
        <div v-for="(value, name) in character.skills" :key="name" class="stat">
          <span class="proficient">
            <i v-if="value.proficiency" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <small class="label">{{ $t(`skills.${skills.getName(name)}`) }}</small>
          </span>
          <span class="bonus">{{ value.bonus | sign }}</span>
        </div>
      </div>
      <small class="label">{{ $t('sheet.skills') }}</small>
    </div>
    <div class="passive">
      <small class="label">{{ $t('sheet.passiveWisdom') }}</small>
      <span class="value">{{ character.passiveWisdom }}</span>
    </div>
    <div class="other-proficiencies">
      <p class="text" v-fit-text><span v-html="otherProficiencies"></span></p>
      <small class="label">{{ $t('sheet.proficiencies') }}</small>
    </div>
    <div class="combat">
      <div class="top-blocks">
        <div class="armor-class">
          <span class="value">{{ character.armorClass }}</span>
          <small class="label">{{ $t('sheet.armorClass') }}</small>
        </div>
        <div class="initiative">
          <span class="value">{{ character.initiative | sign }}</span>
          <small class="label">{{ $t('sheet.initiative') }}</small>
        </div>
        <div class="armor-class">
          <span class="value">{{ character.speed }}</span>
          <small class="label">{{ $t('sheet.speed') }}</small>
        </div>
      </div>
      <div class="hit-points">
        <div class="maximum">
          <small class="label">{{ $t('sheet.maximumHitPoints') }}</small>
          <span class="value">{{ character.hitPointMaximum }}</span>
        </div>
        <div class="current">
          <small class="label">{{ $t('sheet.hitPoints') }}</small>
          <span class="value">{{ character.currentHitPoints }}</span>
        </div>
        <div class="temporary">
          <small class="label">{{ $t('sheet.temporaryHitPoints') }}</small>
          <span class="value">{{ character.temporaryHitPoints | sign }}</span>
        </div>
      </div>
      <div class="bottom-blocks">
        <div class="hit-dice">
          <div class="value">
            <span v-for="(count, die) in character.remainingHitDice" :key="die" class="die">{{ `${count}/${character.totalHitDice[die]} &times; 1d${die}` }}</span>
          </div>
          <small class="label">{{ $t('sheet.hitDice') }}</small>
        </div>
        <div class="death-saves">
          <div class="successes">
            <small class="label">{{ $t('sheet.successes') }}</small>
            <i v-if="character.deathSaveSuccesses > 0" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="character.deathSaveSuccesses > 1" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="character.deathSaveSuccesses > 2" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
          </div>
          <div class="failures">
            <small class="label">{{ $t('sheet.failures') }}</small>
            <i v-if="character.deathSaveFailures > 0" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="character.deathSaveFailures > 1" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="character.deathSaveFailures > 2" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
          </div>
          <small class="label">{{ $t('sheet.deathSaves') }}</small>
        </div>
      </div>
    </div>
    <div class="attacks">
      <div class="labels">
        <small class="label">{{ $t('sheet.attackName') }}</small>
        <small class="label">{{ $t('sheet.attackBonus') }}</small>
        <small class="label">{{ $t('sheet.attackDamage') }}</small>
      </div>
      <div v-for="(attack, id) in character.attacks" :key="id" class="attack">
        <span class="name">{{ attack.name }}</span>
        <span class="bonus">{{ attack.attackBonus | sign }}</span>
        <span class="damage">{{ attack | damage }}</span>
      </div>
      <p class="text" v-fit-text><span v-html="character.spellcasting"></span></p>
      <small class="label">{{ $t('sheet.attacks') }}</small>
    </div>
    <div class="treasure">
      <div class="currency">
        <div v-for="(amount, coin) in coins" :key="coin" class="coin">
          <small class="label">{{ coin }}</small>
          <span class="amount">{{ amount }}</span>
        </div>
      </div>
      <ul v-if="equipmentList" class="equipment">
        <li v-for="(item, name) in equipmentList.Items" :key="name">{{ item > 1 ? `${item}x ${name}` : name }}</li>
      </ul>
      <p v-else class="equipment" v-fit-text="247"><span v-html="character.equipment"></span></p>
      <small class="label">{{ $t('sheet.treasure') }}</small>
    </div>
    <div class="description">
      <div class="section">
        <p class="text" v-fit-text><span v-html="character.personality"></span></p>
        <small class="label">{{ $t('sheet.personality') }}</small>
      </div>
      <div class="section">
        <p class="text" v-fit-text><span v-html="character.ideals"></span></p>
        <small class="label">{{ $t('sheet.ideals') }}</small>
      </div>
      <div class="section">
        <p class="text" v-fit-text><span v-html="character.bonds"></span></p>
        <small class="label">{{ $t('sheet.bonds') }}</small>
      </div>
      <div class="section">
        <p class="text" v-fit-text><span v-html="character.flaws"></span></p>
        <small class="label">{{ $t('sheet.flaws') }}</small>
      </div>
    </div>
    <div class="features">
      <p class="text" v-fit-text><span v-html="character.features"></span></p>
      <small class="label">{{ $t('sheet.features') }}</small>
    </div>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import skills from '@/enums/skills'
import stats from '@/enums/stats'
import CharacterSheet from '@/models/characterSheet'

export default {
  props: {
    character: {
      type: CharacterSheet,
      required: true
    }
  },
  data: () => ({
    alignments,
    skills,
    stats
  }),
  computed: {
    classes () {
      return Object.entries(this.character.classes).reduce((acc, [key, val]) => `${acc}${key} ${val} `, '')
    },
    equipmentList () {
      if (!this.character.equipment) {
        return { Items: null }
      }

      try {
        return JSON.parse(this.character.equipment)
      } catch (error) {
        return null
      }
    },
    coins () {
      if (!this.equipment) {
        return []
      }

      const { Items: _, ...coins } = this.equipment
      return coins
    },
    otherProficiencies () {
      const languages = this.character.languages.join(', ')
      const proficiencies = this.character.otherProficiencies
      return (languages ? `${this.$t('sheet.languages')} ${languages}\n` : '') + (proficiencies || '')
    }
  },
  filters: {
    sign (value) {
      return value > 0 ? ('+' + value) : ('' + value)
    },
    damage (value) {
      const hitDice = `${value.hitDice}d${value.hitDie}`
      const type = `${value.damageType.substring(0, 5)}.`

      if (value.damageBonus < 0) {
        return `${hitDice} - ${Math.abs(value.damageBonus)} ${type}`
      } else if (value.damageBonus > 0) {
        return `${hitDice} + ${value.damageBonus} ${type}`
      } else {
        return `${hitDice} ${type}`
      }
    }
  },
  methods: {
    firstThree (value) {
      return value.toLowerCase().substring(0, 3)
    }
  }
}
</script>

<style lang="less" scoped>
.character {
  display: grid;
  max-width: 8.5in;
  max-height: 11in;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(23, 1fr);
  grid-template-areas: "info info info info info info info info info"
                       "info info info info info info info info info"
                       "stat insp insp comb comb comb desc desc desc"
                       "stat prof prof comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat skil skil comb comb comb desc desc desc"
                       "stat skil skil comb comb comb desc desc desc"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "pass pass pass trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat";

  .information {
    grid-area: info;
    background: var(--panel-1-hover);
    display: flex;
    align-items: center;

    .information-name {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      font-size: 24px;
      flex: 1;
    }

    .information-detail {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      flex: 2;

      .classes, .background, .player, .race, .alignment, .experience {
        display: flex;
        flex-direction: column;
      }

      .classes .value {
        font-size: 13px;
      }
    }
  }

  .stats {
    grid-area: stat;
    background: var(--panel-1);
    display: grid;

    .stat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top: 1px solid var(--panel-2);

      .label {
        text-transform: uppercase;
        font-size: 10px;
      }

      .big-value {
        font-size: 32px;
        padding: .5rem;
      }
    }
  }

  .inspiration {
    grid-area: insp;
    background: var(--panel-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .value {
      font-size: 24px;
    }
  }

  .languages {
    padding: 1rem 1rem 0 1rem;
    ul {
      list-style-type: disc;
      list-style-position: inside;
      padding-left: 1rem;
    }
  }
  .proficiency {
    grid-area: prof;
    background: var(--panel-2);
    border-top: 1px solid var(--panel-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .saving-throws {
    grid-area: save;
    background: var(--panel-2);
    border-top: 1px solid var(--panel-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .5rem;

    & > .label {
      align-self: center;
      margin-bottom: .5rem;
    }

    .values {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;

      .stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        .proficient .label {
          margin-left: .5rem;
        }
      }
    }
  }

  .skills {
    grid-area: skil;
    background: var(--panel-2);
    border-top: 1px solid var(--panel-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .5rem;

    & > .label {
      align-self: center;
      margin-bottom: .5rem;
    }

    .values {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;

      .stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        .proficient .label {
          margin-left: .5rem;
        }
      }
    }
  }

  .passive {
    grid-area: pass;
    background: var(--panel-1);
    border-top: 1px solid var(--panel-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .other-proficiencies {
    grid-area: othe;
    background: var(--panel-1);
    border-top: 1px solid var(--panel-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text {
      flex: 1 1 1px;
      padding: 1rem;
      white-space: pre-wrap;
      overflow-y: auto;
    }

    .label {
      align-self: center;
      margin-bottom: .5rem;
    }
  }

  .combat {
    grid-area: comb;
    background: var(--panel-1);
    display: flex;
    flex-direction: column;

    .top-blocks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid var(--panel-2);

      & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        text-align: center;

        &:not(:first-of-type) {
          border-left: 1px solid var(--panel-2);
        }

        .value {
          font-size: 24px;
        }
      }
    }

    .hit-points {
      display: flex;
      flex-direction: column;
      flex: 1;

      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem 2rem;
        border-top: 1px solid var(--panel-2);

        .value {
          font-size: 24px;
        }
      }
    }

    .bottom-blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid var(--panel-2);

      .hit-dice {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem .75rem 1rem;

        .value {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      .death-saves {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-left: 1px solid var(--panel-2);

        .successes, .failures {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: .5rem;

          .label {
            margin-right: .5rem;
          }
        }
      }
    }
  }

  .attacks {
    grid-area: attk;
    background: var(--panel-1);
    border-top: 1px solid var(--panel-2);
    display: flex;
    flex-direction: column;
    padding: .5rem;

    .labels {
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      gap: .5rem;

      .label {
        font-size: 10px;
      }
    }

    .attack {
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      gap: .5rem;
      margin-top: .5rem;

      & > span {
        background: var(--panel-1-hover);
        padding: .25rem;
        font-size: 14px;
        border-radius: 5px 0;
      }
    }

    .text {
      margin-top: .5rem;
      white-space: pre-wrap;
      flex: 1;
      overflow-y: auto;
    }

    & > .label {
      text-align: center;
    }
  }

  .treasure {
    grid-area: trea;
    background: var(--panel-2);
    border-right: 1px solid var(--panel-1);
    display: flex;
    flex-direction: column;
    padding: .5rem;

    .currency {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .coin {
        display: flex;
        align-items: center;
        justify-content: center;

        .amount {
          padding-left: .25rem;
        }
      }
    }

    .equipment {
      padding: .5rem;
      flex: 1;
    }

    p.equipment {
      white-space: pre-wrap;
      overflow-y: auto;
    }

    & > .label {
      text-align: center;
    }
  }

  .description {
    grid-area: desc;
    background: var(--panel-2);
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    .section {
      display: flex;
      flex-direction: column;
      padding: .5rem;
      max-height: 83px;

      &:not(:first-child) {
        border-top: 1px solid var(--panel-1);
      }

      .text {
        white-space: pre-wrap;
        flex: 1;
        padding: .5rem;
        overflow-y: auto;
      }

      .label {
        text-align: center;
      }
    }
  }

  .features {
    grid-area: feat;
    background: var(--panel-2);
    border-top: 1px solid var(--panel-1);
    display: flex;
    flex-direction: column;
    padding: .5rem;

    .text {
      white-space: pre-wrap;
      flex: 1;
      padding: .5rem;
      overflow-y: auto;
    }

    .label {
      text-align: center;
    }
  }

  .label {
    font-size: 13px;
    font-variant: small-caps;
  }
}

@media only screen and (max-width: 896px) {
  .character {
    max-width: unset;
    max-height: unset;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(36, 1fr);
    grid-template-areas: "info info info info info info"
                        "info info info info info info"
                        "info info info info info info"
                        "stat insp insp comb comb comb"
                        "stat prof prof comb comb comb"
                        "stat save save comb comb comb"
                        "stat save save comb comb comb"
                        "stat save save comb comb comb"
                        "stat save save comb comb comb"
                        "stat skil skil comb comb comb"
                        "stat skil skil comb comb comb"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "pass pass pass trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat";

    .treasure {
      border-right: none;
    }

    .features {
      background: var(--panel-1);
      border-top: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .character {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(37, 1fr);
    grid-template-areas: "info info info info info info"
                        "info info info info info info"
                        "info info info info info info"
                        "info info info info info info"
                        "stat insp insp comb comb comb"
                        "stat prof prof comb comb comb"
                        "stat save save comb comb comb"
                        "stat save save comb comb comb"
                        "stat save save comb comb comb"
                        "stat save save comb comb comb"
                        "stat skil skil comb comb comb"
                        "stat skil skil comb comb comb"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "stat skil skil attk attk attk"
                        "pass pass pass trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "othe othe othe trea trea trea"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat"
                        "desc desc desc feat feat feat";

    .information .information-detail {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 600px) {
  .character {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(63, 1fr);
    grid-template-areas: "info info info"
                        "info info info"
                        "info info info"
                        "info info info"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "stat insp insp"
                        "stat prof prof"
                        "stat save save"
                        "stat save save"
                        "stat save save"
                        "stat save save"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "pass pass pass"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "othe othe othe"
                        "othe othe othe"
                        "othe othe othe"
                        "othe othe othe"
                        "othe othe othe"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat";

    .information {
      flex-direction: column;
      padding: 1rem;
      text-align: center;

      .information-name {
        margin: 0;
      }

      .information-detail {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .character {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(64, 1fr);
    grid-template-areas: "info info info"
                        "info info info"
                        "info info info"
                        "info info info"
                        "info info info"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "comb comb comb"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "attk attk attk"
                        "stat insp insp"
                        "stat prof prof"
                        "stat save save"
                        "stat save save"
                        "stat save save"
                        "stat save save"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "stat skil skil"
                        "pass pass pass"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "trea trea trea"
                        "othe othe othe"
                        "othe othe othe"
                        "othe othe othe"
                        "othe othe othe"
                        "othe othe othe"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "desc desc desc"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat"
                        "feat feat feat";

    .information .information-detail {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.character.small {
  max-width: 600px;
  max-height: unset;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(37, 1fr);
  grid-template-areas: "info info info info info info"
                      "info info info info info info"
                      "info info info info info info"
                      "info info info info info info"
                      "stat insp insp comb comb comb"
                      "stat prof prof comb comb comb"
                      "stat save save comb comb comb"
                      "stat save save comb comb comb"
                      "stat save save comb comb comb"
                      "stat save save comb comb comb"
                      "stat skil skil comb comb comb"
                      "stat skil skil comb comb comb"
                      "stat skil skil attk attk attk"
                      "stat skil skil attk attk attk"
                      "stat skil skil attk attk attk"
                      "stat skil skil attk attk attk"
                      "stat skil skil attk attk attk"
                      "stat skil skil attk attk attk"
                      "stat skil skil attk attk attk"
                      "pass pass pass trea trea trea"
                      "othe othe othe trea trea trea"
                      "othe othe othe trea trea trea"
                      "othe othe othe trea trea trea"
                      "othe othe othe trea trea trea"
                      "othe othe othe trea trea trea"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat"
                      "desc desc desc feat feat feat";

  .information .information-detail {
    grid-template-columns: repeat(2, 1fr);
  }

  .treasure {
    border-right: none;
  }

  .features {
    background: var(--panel-1);
    border-top: none;
  }

  .description .section {
    max-height: 118px;
  }
}
</style>
