<template>
  <div class="step3">
    <h2>{{ $t('simpleCharacter.determineYourAbilityScores') }}</h2>
    <div class="form">
      <div class="choice">
        <label :class="{ selected: mode === 'manual' }">
          {{ $t('simpleCharacter.manualEntry') }}
          <input type="radio" value="manual" v-model="mode">
        </label>
        <label :class="{ selected: mode === 'standard' }">
          {{ $t('simpleCharacter.standardArray') }}
          <input type="radio" value="standard" v-model="mode">
        </label>
      </div>
      <form-field-set :legend="$t('simpleCharacter.abilityScores')">
        <div class="stats">
          <form-field :name="$t('simpleStats.str')" :is-select="mode === 'standard'">
            <input v-if="mode === 'manual'" type="number" v-model.number="_value.abilities[stats.strength]" />
            <select v-if="mode === 'standard'" v-model="_value.abilities[stats.strength]">
              <option v-if="_value.abilities[stats.strength]"></option>
              <option :value="_value.abilities[stats.strength]">{{ _value.abilities[stats.strength] }}</option>
              <option v-for="value in standardArrayAvailable" :key="value" :value="value">{{ value }}</option>
            </select>
          </form-field>
          <form-field :name="$t('simpleStats.dex')" :is-select="mode === 'standard'">
            <input v-if="mode === 'manual'" type="number" v-model.number="_value.abilities[stats.dexterity]" />
            <select v-if="mode === 'standard'" v-model="_value.abilities[stats.dexterity]">
              <option v-if="_value.abilities[stats.dexterity]"></option>
              <option :value="_value.abilities[stats.dexterity]">{{ _value.abilities[stats.dexterity] }}</option>
              <option v-for="value in standardArrayAvailable" :key="value" :value="value">{{ value }}</option>
            </select>
          </form-field>
          <form-field :name="$t('simpleStats.con')" :is-select="mode === 'standard'">
            <input v-if="mode === 'manual'" type="number" v-model.number="_value.abilities[stats.constitution]" />
            <select v-if="mode === 'standard'" v-model="_value.abilities[stats.constitution]">
              <option v-if="_value.abilities[stats.constitution]"></option>
              <option :value="_value.abilities[stats.constitution]">{{ _value.abilities[stats.constitution] }}</option>
              <option v-for="value in standardArrayAvailable" :key="value" :value="value">{{ value }}</option>
            </select>
          </form-field>
          <form-field :name="$t('simpleStats.int')" :is-select="mode === 'standard'">
            <input v-if="mode === 'manual'" type="number" v-model.number="_value.abilities[stats.intelligence]" />
            <select v-if="mode === 'standard'" v-model="_value.abilities[stats.intelligence]">
              <option v-if="_value.abilities[stats.intelligence]"></option>
              <option :value="_value.abilities[stats.intelligence]">{{ _value.abilities[stats.intelligence] }}</option>
              <option v-for="value in standardArrayAvailable" :key="value" :value="value">{{ value }}</option>
            </select>
          </form-field>
          <form-field :name="$t('simpleStats.wis')" :is-select="mode === 'standard'">
            <input v-if="mode === 'manual'" type="number" v-model.number="_value.abilities[stats.wisdom]" />
            <select v-if="mode === 'standard'" v-model="_value.abilities[stats.wisdom]">
              <option v-if="_value.abilities[stats.wisdom]"></option>
              <option :value="_value.abilities[stats.wisdom]">{{ _value.abilities[stats.wisdom] }}</option>
              <option v-for="value in standardArrayAvailable" :key="value" :value="value">{{ value }}</option>
            </select>
          </form-field>
          <form-field :name="$t('simpleStats.cha')" :is-select="mode === 'standard'">
            <input v-if="mode === 'manual'" type="number" v-model.number="_value.abilities[stats.charisma]" />
            <select v-if="mode === 'standard'" v-model="_value.abilities[stats.charisma]">
              <option v-if="_value.abilities[stats.charisma]"></option>
              <option :value="_value.abilities[stats.charisma]">{{ _value.abilities[stats.charisma] }}</option>
              <option v-for="value in standardArrayAvailable" :key="value" :value="value">{{ value }}</option>
            </select>
          </form-field>
        </div>
      </form-field-set>
      <form-field-set :legend="$t('simpleCharacter.racialBonus')">
        <div class="bonus">
          <form-field :name="$t('simpleStats.str')">
            <span>{{ race.abilities[stats.strength] }}</span>
          </form-field>
          <form-field :name="$t('simpleStats.dex')">
            <span>{{ race.abilities[stats.dexterity] }}</span>
          </form-field>
          <form-field :name="$t('simpleStats.con')">
            <span>{{ race.abilities[stats.constitution] }}</span>
          </form-field>
          <form-field :name="$t('simpleStats.int')">
            <span>{{ race.abilities[stats.intelligence] }}</span>
          </form-field>
          <form-field :name="$t('simpleStats.wis')">
            <span>{{ race.abilities[stats.wisdom] }}</span>
          </form-field>
          <form-field :name="$t('simpleStats.cha')">
            <span>{{ race.abilities[stats.charisma] }}</span>
          </form-field>
        </div>
      </form-field-set>
      <form-field-set v-if="race.extraAbilities" :legend="$t('simpleCharacter.extraAbilities', { value: race.extraAbilities })">
        <div class="stats">
          <form-field :name="$t('simpleStats.str')">
            <input type="number" v-model.number="_extraAbilities[stats.strength]" />
          </form-field>
          <form-field :name="$t('simpleStats.dex')">
            <input type="number" v-model.number="_extraAbilities[stats.dexterity]" />
          </form-field>
          <form-field :name="$t('simpleStats.con')">
            <input type="number" v-model.number="_extraAbilities[stats.constitution]" />
          </form-field>
          <form-field :name="$t('simpleStats.int')">
            <input type="number" v-model.number="_extraAbilities[stats.intelligence]" />
          </form-field>
          <form-field :name="$t('simpleStats.wis')">
            <input type="number" v-model.number="_extraAbilities[stats.wisdom]" />
          </form-field>
          <form-field :name="$t('simpleStats.cha')">
            <input type="number" v-model.number="_extraAbilities[stats.charisma]" />
          </form-field>
        </div>
      </form-field-set>
      <form-field-set :legend="$t('simpleCharacter.total')">
        <div class="total">
          <form-field :name="$t('simpleStats.str')">
            <span>{{ total(stats.strength) }}</span>
            <span class="small">({{ modifier(stats.strength) | sign }})</span>
          </form-field>
          <form-field :name="$t('simpleStats.dex')">
            <span>{{ total(stats.dexterity) }}</span>
            <span class="small">({{ modifier(stats.dexterity) | sign }})</span>
          </form-field>
          <form-field :name="$t('simpleStats.con')">
            <span>{{ total(stats.constitution) }}</span>
            <span class="small">({{ modifier(stats.constitution) | sign }})</span>
          </form-field>
          <form-field :name="$t('simpleStats.int')">
            <span>{{ total(stats.intelligence) }}</span>
            <span class="small">({{ modifier(stats.intelligence) | sign }})</span>
          </form-field>
          <form-field :name="$t('simpleStats.wis')">
            <span>{{ total(stats.wisdom) }}</span>
            <span class="small">({{ modifier(stats.wisdom) | sign }})</span>
          </form-field>
          <form-field :name="$t('simpleStats.cha')">
            <span>{{ total(stats.charisma) }}</span>
            <span class="small">({{ modifier(stats.charisma) | sign }})</span>
          </form-field>
        </div>
      </form-field-set>
    </div>
    <div class="buttons">
      <button class="button-back" @click="previous">{{ $t('simpleCharacter.back') }}</button>
      <button class="button-save" @click="next">{{ $t('simpleCharacter.next') }}</button>
    </div>
  </div>
</template>

<script>
import stats from '@/enums/stats'
import FormField from '@/components/FormField.vue'
import FormFieldSet from '@/components/FormFieldSet.vue'
import Character from '@/models/character'
import Race from '@/models/race'

const standardArray = [15, 14, 13, 12, 10, 8]

export default {
  components: {
    FormField,
    FormFieldSet
  },
  props: {
    value: {
      type: Character
    },
    race: {
      type: Race
    },
    extraAbilities: {
      type: Object
    }
  },
  data: () => ({
    stats,
    mode: 'manual'
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    standardArrayAvailable () {
      return standardArray.filter(x => !Object.values(this._value.abilities).includes(x))
    },
    _extraAbilities: {
      get () {
        return this.extraAbilities
      },
      set (value) {
        this.$emit('extra-abilities-changed', value)
      }
    }
  },
  filters: {
    sign (value) {
      return value > 0 ? ('+' + value) : ('' + value)
    }
  },
  methods: {
    previous () {
      this.$emit('previous')
    },
    next () {
      this.$emit('next')
    },
    modifier (value) {
      return this.roundModifier(this.total(value))
    },
    total (value) {
      return (+this._value.abilities[value] || 0) + (+this.race.abilities[value] || 0) + (+this.extraAbilities[value] || 0)
    },
    roundModifier (value) {
      return Math.floor(((value ?? 10) - 10) / 2)
    }
  }
}
</script>

<style lang="less" scoped>
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.form {
  .choice {
    margin-bottom: 8px;

    label {
      display: inline-block;
      border: 0;
      background: var(--panel-1);
      color: var(--text-color);
      padding: 16px;
      margin-right: 8px;

      input {
        display: none;
      }

      &:hover {
        cursor: pointer;
        background: var(--panel-1-hover);
      }

      &.selected {
        background: var(--panel-1-active);
      }
    }
  }

  .stats, .bonus, .total {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }

  .bonus, .total {
    margin-bottom: 8px;

    span.small {
      font-size: 0.75rem;
    }
  }
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}
</style>
