<template>
  <div>
    <form-field :name="$t('character.class')" :right-label="_value.primary ? $t('character.primaryClass') : null">
      <!-- NOTE(binarmorker): v-model does not want to work here 🤔 -->
      <auto-suggest :data="classes" :value="$class" @input="updateClass" />
    </form-field>
    <div class="inner-flex">
      <form-field :name="$t('character.classLevel')">
        <clamped-number-input :min="1" :max="20" v-model="_value.level" />
      </form-field>
      <form-field :name="$t('character.classHitDice')">
        <clamped-number-input :min="0" :max="_value.level" v-model="_value.remainingHitDice" />
      </form-field>
    </div>
  </div>
</template>

<script>
import AutoSuggest from '@/components/AutoSuggest.vue'
import ClampedNumberInput from '@/components/ClampedNumberInput.vue'
import FormField from '@/components/FormField.vue'

export default {
  components: {
    AutoSuggest,
    ClampedNumberInput,
    FormField
  },
  props: {
    classes: {
      type: Array
    },
    value: {
      type: Object
    }
  },
  data: () => ({
    $class: null
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  created () {
    this.$class = this.classes.find(x => x.id === this._value.classId) || { name: '' }
  },
  methods: {
    updateClass (value) {
      if (value.id) {
        this._value = { ...this._value, classId: value.id }
      } else {
        this._value = { ...this._value, classId: null, name: value.name }
      }
    }
  }
}
</script>
