<template>
  <div class="class-dialog">
    <form-field :name="$t('character.classes')">
      <draggable :list="_value" handle=".handle">
        <inner-form v-for="(_, index) in _value" :key="index" @remove="removeClass(index)" drag>
          <character-form-classes-item :classes="classes" v-model="_value[index]" />
        </inner-form>
      </draggable>
      <inner-form-add @click="addClass" />
    </form-field>
  </div>
</template>

<script>
import { arrayRemove } from '@/utils'
import Draggable from 'vuedraggable'
import CharacterClass from '@/models/characterClass'
import FormField from '@/components/FormField.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import InnerForm from '@/components/InnerForm.vue'
import CharacterFormClassesItem from '@/components/CharacterFormClassesItem.vue'

export default {
  components: {
    Draggable,
    FormField,
    InnerFormAdd,
    InnerForm,
    CharacterFormClassesItem
  },
  props: {
    classes: {
      type: Array
    },
    value: {
      type: Array
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      }
    }
  },
  methods: {
    addClass () {
      this.$emit('input', [...this._value, new CharacterClass()])
    },
    removeClass (index) {
      this.$emit('input', arrayRemove(this._value, index))
    }
  },
  watch: {
    _value (value) {
      for (const characterClass of value) {
        characterClass.primary = false
      }

      if (value.length) {
        value[0].primary = true
      }

      this.$emit('input', value)
    }
  }
}
</script>

<style lang="less" scoped>
.class-dialog {
  width: 600px;

  .inner-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .class-dialog {
    width: 240px;

    .inner-flex {
      grid-template-columns: 1fr;
    }
  }
}
</style>
