<template>
  <input :min="min" :max="max" type="number" v-model.number="_value" />
</template>

<script>
import { clamp } from '@/utils'

export default {
  props: {
    max: {
      type: Number,
      default: 100
    },
    min: {
      type: Number,
      default: 0
    },
    value: {
      type: Number,
      required: true
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', clamp(value, this.min, this.max))
      }
    }
  }
}
</script>
