<template>
  <div v-if="_value" class="class">
    <div class="class-section">
      <form-field :name="$t('class.name')" required>
        <input class="class-name" v-model="_value.name" />
      </form-field>
      <form-field class="class-description" :name="$t('class.description')">
        <text-editor v-model="_value.description" />
      </form-field>
      <form-field class="class-hit-dice" :name="$t('class.hitDie')">
        <template v-for="(dice, diceType) in hitDieSelection">
          <input
            :key="`${dice}_input`"
            :id="diceType"
            :value="diceType"
            type="radio"
            class="class-hit-die"
            v-model="_value.hitDie"
          />
          <label
            :key="`${dice}_label`"
            :for="diceType"
            class="class-hit-die-label"
          >{{ dice }}</label>
        </template>
      </form-field>
      <form-field :name="$t('class.armor')">
        <input v-model="_value.armorProficiencies" />
      </form-field>
      <form-field :name="$t('class.tools')">
        <input v-model="_value.toolProficiencies" />
      </form-field>
      <form-field :name="$t('class.weapons')">
        <input v-model="_value.weaponProficiencies" />
      </form-field>
      <form-field :name="$t('class.savingThrows')" class="class-saving-throws">
        <template v-for="(stat, statValue) in stats">
          <input
            :key="`${statValue}_input`"
            :id="statValue"
            :value="stat"
            type="checkbox"
            class="class-proficiency"
            v-model="_value.saveProficiencies"
          />
          <label
            :key="`${statValue}_label`"
            :for="statValue"
            class="class-proficiency-label"
          >{{ $t(`stats.${statValue}`) }}</label>
        </template>
      </form-field>
    </div>
    <div class="class-section">
      <form-field-set :legend="$t('class.skills')">
        <form-field class="class-skills" :name="$t('class.skillCount')" required>
          <input type="number" min="1" v-model.number="_value.skillCount" />
        </form-field>
        <form-field :name="$t('class.skillChoices')" class="class-proficiencies">
          <template v-for="(skill, skillValue) in skills">
            <input
              :key="`${skillValue}_input`"
              :id="skillValue"
              :value="skill"
              type="checkbox"
              class="class-proficiency"
              v-model="_value.skillChoices"
            />
            <label
              :key="`${skillValue}_label`"
              :for="skillValue"
              class="class-proficiency-label"
            >{{ $t(`skills.${skillValue}`) }}</label>
          </template>
        </form-field>
      </form-field-set>
      <form-field :name="$t('class.wealth')">
        <input v-model="_value.startingWealth" />
      </form-field>
      <form-field :name="$t('class.equipment')" class="class-equipment">
        <inner-form v-for="(_, index) in _value.equipment" :key="index" @remove="removeEquipment(index)">
          <autosize-textarea class="no-bottom-margin" v-model="_value.equipment[index]" />
        </inner-form>
        <inner-form-add @click="addEquipment" />
      </form-field>
      <!-- <form-field name="Features" class="class-features">
        <draggable v-model="_value.traits" handle=".handle">
          <inner-form v-for="(item, index) in _value.features" :key="index" @remove="removeFeature(index)" drag>
            <div class="feature-section">
              <form-field name="Level" required>
                <input class="feature-level" v-model="item.level" />
              </form-field>
              <form-field name="Feature name" required>
                <input class="feature-name" v-model="item.name" />
              </form-field>
            </div>
            <form-field class="feature-description" name="Description">
              <text-editor v-model="item.description" />
            </form-field>
          </inner-form>
        </draggable>
        <inner-form-add @click="addFeature" />
      </form-field> -->
    </div>
  </div>
</template>

<script>
// import Draggable from 'vuedraggable'
import stats from '@/enums/stats'
import skills from '@/enums/skills'
import AutosizeTextarea from '@/components/AutosizeTextarea.vue'
import FormField from '@/components/FormField.vue'
import FormFieldSet from '@/components/FormFieldSet.vue'
import InnerForm from '@/components/InnerForm.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    // Draggable,
    AutosizeTextarea,
    FormField,
    FormFieldSet,
    InnerForm,
    InnerFormAdd,
    TextEditor
  },
  props: {
    value: {
      type: Object
    }
  },
  data: () => ({
    stats,
    skills,
    hitDieSelection: {
      4: 'd4',
      6: 'd6',
      8: 'd8',
      10: 'd10',
      12: 'd12'
    }
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    addEquipment () {
      this._value.equipment.push('')
    },
    removeEquipment (index) {
      this._value.equipment.splice(index, 1)
    },
    addFeature () {
      this._value.features.push({
        name: '',
        description: '',
        level: 0
      })
    },
    removeFeature (index) {
      this._value.features.splice(index, 1)
    }
  }
}
</script>

<style lang="less" scoped>
.class {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .class-hit-dice {
    margin-bottom: 8px;

    /deep/ .inner-form-field {
      display: flex;
    }

    .class-hit-die {
      display: none;
    }

    .class-hit-die-label {
      font-size: .75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      width: 36px;
      height: 36px;
      background: var(--check-button);
      text-align: center;
    }

    .class-hit-die-label:hover {
      background: var(--check-button-hover);
      cursor: pointer;
    }

    .class-hit-die:checked + .class-hit-die-label {
      background: var(--check-button-clicked);

      &:hover {
        background: var(--check-button-clicked-hover);
      }
    }
  }

  .class-saving-throws {
    margin-bottom: 8px;

    /deep/ .inner-form-field {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }

    .class-proficiency {
      display: none;
    }

    .class-proficiency-label {
      font-size: .75rem;
      display: block;
      padding: 8px 0;
      width: 100%;
      background: var(--check-button);
      text-align: center;
    }

    .class-proficiency-label:hover {
      background: var(--check-button-hover);
      cursor: pointer;
    }

    .class-proficiency:checked + .class-proficiency-label {
      background: var(--check-button-clicked);

      &:hover {
        background: var(--check-button-clicked-hover);
      }
    }
  }

  .class-proficiencies {
    margin-bottom: 8px;

    /deep/ .inner-form-field {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 8px;
    }

    .class-proficiency {
      display: none;
    }

    .class-proficiency-label {
      font-size: .75rem;
      display: block;
      padding: 8px 0;
      width: 100%;
      background: var(--check-button);
      text-align: center;
    }

    .class-proficiency-label:hover {
      background: var(--check-button-hover);
      cursor: pointer;
    }

    .class-proficiency:checked + .class-proficiency-label {
      background: var(--check-button-clicked);

      &:hover {
        background: var(--check-button-clicked-hover);
      }
    }
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.feature-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 8px;
}

.feature-abilities .inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

@media only screen and (max-width: 1440px) {
  .class .class-proficiencies /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .class {
    grid-template-columns: 1fr;

    .class-proficiencies /deep/ .inner-form-field {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  .class .class-proficiencies /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .class .class-proficiencies /deep/ .inner-form-field {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .class .class-proficiencies /deep/ .inner-form-field {
    grid-template-columns: 1fr;
  }
}
</style>
