<template>
  <input type="text" v-model="input" :disabled="disabled" />
</template>

<script>
export default {
  props: {
    value: {
      type: String
    },
    disabled: {
      type: Boolean
    }
  },
  data: () => ({
    timeout: null
  }),
  computed: {
    input: {
      get () {
        return this.value
      },
      set (val) {
        if (this.timeout) {
          clearTimeout(this.timeout)
        }

        this.timeout = setTimeout(() => {
          this.$emit('input', val)
        }, 1000)
      }
    }
  }
}
</script>
