<template>
  <dialog-window
    v-if="show"
    :buttons="[{ text: $t('dialog.cancel'), action: cancel },
              { text: $t('dialog.confirm'), action: confirm, class: 'delete' }]"
    @close="cancel"
  >
    <p>{{ message }}</p>
  </dialog-window>
</template>

<script>
import DialogWindow from '@/components/DialogWindow.vue'

export default {
  components: {
    DialogWindow
  },
  props: {
    message: {
      type: String,
      required: true
    }
  },
  data: () => ({
    show: false
  }),
  methods: {
    open () {
      this.show = true
    },
    cancel () {
      this.show = false
    },
    confirm () {
      this.show = false
      this.$emit('confirm')
    }
  }
}
</script>
