<template>
  <div class="character-list-item" @click.stop="toggle">
    <div class="checkbox">
      <input ref="input" type="checkbox" :value="character.id" v-model="_value">
      <i v-if="_value.includes(character.id)" class="la la-check-circle"></i>
      <i v-else class="la la-circle"></i>
    </div>
    <div class="section-top">
      <strong class="name">{{ character.name }}</strong>
    </div>
  </div>
</template>

<script>
import CharacterSheet from '@/models/characterSheet'

export default {
  props: {
    value: {
      type: Array
    },
    character: {
      type: CharacterSheet,
      required: true
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    toggle () {
      this.$refs.input.click()
    }
  }
}
</script>

<style lang="less" scoped>
.character-list-item {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  background: var(--panel-2);
  padding: 16px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  .section-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .name {
      font-size: 1.25rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1rem;
      height: 1.5rem;
    }
  }

  &:hover {
    background: var(--panel-2-hover);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: -8px;
  margin-right: 8px;

  input {
    display: none;
  }

  .la {
    margin-left: 8px;
    font-size: 24px;
  }
}
</style>
