<template>
  <div class="filters">
    <form-field :name="$t('list.search')" class="search">
      <input type="search" v-model="filter.search" />
    </form-field>
    <form-field :name="$t('list.sortBy')" class="sort" is-select>
      <select v-model="filter.sort">
        <option v-for="option in sortOptions" :key="option.name" :value="option">{{ option.name }}</option>
      </select>
    </form-field>
    <slot :filter="filter" />
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'

export default {
  components: {
    FormField
  },
  props: {
    additionalSortOptions: {
      type: Array,
      default: () => []
    },
    additionalState: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      filter: {
        sort: {
          name: this.$t('list.nameAsc'),
          value: 'Name',
          desc: false
        }
      },
      sortOptions: [
        {
          name: this.$t('list.nameAsc'),
          value: 'Name',
          desc: false
        },
        {
          name: this.$t('list.nameDesc'),
          value: 'Name',
          desc: true
        },
        {
          name: this.$t('list.dateDesc'),
          value: 'Updated',
          desc: true
        },
        {
          name: this.$t('list.dateAsc'),
          value: 'Updated',
          desc: false
        }
      ]
    }
  },
  created () {
    this.sortOptions = [
      ...this.sortOptions,
      ...this.additionalSortOptions
    ]
    this.filter = {
      ...this.filter,
      ...this.additionalState
    }
    this.$store.commit('game/setFilter', this.filter)
  },
  watch: {
    filter: {
      deep: true,
      handler (value) {
        this.$store.commit('game/setFilter', value)
        this.$emit('update')
      }
    }
  }
}
</script>

<style lang="less" scoped>
.filters {
  display: grid;
  gap: 0 16px;
  grid-template-columns: repeat(4, 1fr);

  .search {
    grid-column: span 3;
  }
}

@media only screen and (max-width: 900px) {
  .filters {
    grid-template-columns: repeat(2, 1fr);

    .search {
      grid-column: span 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .filters {
    grid-template-columns: 1fr;
  }
}
</style>
