<template>
  <router-link v-if="to" :to="to" :target="target" :class="[ 'floating-button', type ]">
    <i :class="['la', icon]"></i>
  </router-link>
  <a href="#" v-else @click.prevent="click" :class="[ 'floating-button', type ]">
    <i :class="['la', icon]"></i>
  </a>
</template>

<script>
export default {
  props: {
    to: {
      type: [String, Object]
    },
    target: {
      type: String,
      default: '_self'
    },
    icon: {
      type: String,
      default: 'la-plus'
    },
    type: {
      type: String,
      validation: type => ['confirm', 'delete', ''].includes(type)
    }
  },
  methods: {
    click (event) {
      this.$emit('click', event)
    }
  }
}
</script>

<style lang="less" scoped>
.floating-button {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--panel-1);
  right: 32px;
  bottom: 32px;
  width: 64px;
  height: 64px;
  font-size: 2.5rem;
  text-decoration: none;
  color: inherit;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    background: var(--panel-1-hover);
  }

  &.confirm {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }

  &.delete {
    border: 2px solid var(--delete-button);

    &:hover {
      border-color: var(--delete-button-hover);
      background: var(--delete-button-hover);
    }
  }
}

.floating-button + .floating-button {
  right: 40px;
  bottom: 112px;
  width: 48px;
  height: 48px;
  font-size: 1.75rem;
}

@media only screen and (max-width: 600px) {
  .floating-button {
    bottom: 32px;
    width: 48px;
    height: 48px;
    font-size: 2rem;
  }

  .floating-button + .floating-button {
    bottom: 96px;
    right: 32px;
  }
}

@media print {
  .floating-button {
    display: none !important;
  }
}
</style>
