<template>
  <div :class="['form-field', { error }]">
    <h2 v-if="name" :title="required ? 'Required' : ''">{{ name }}<small v-if="required" class="required">*</small></h2>
    <h3 v-if="rightLabel" class="right-label">{{ rightLabel }}</h3>
    <slot name="button" />
    <div :class="['inner-form-field', { 'is-select': isSelect }]">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String
    },
    required: {
      type: Boolean,
      default: false
    },
    rightLabel: {
      type: String
    },
    error: {
      type: Boolean
    },
    isSelect: {
      type: Boolean
    }
  }
}
</script>

<style lang="less" scoped>
.form-field {
  position: relative;

  h2 {
    font-size: .75rem;
    color: var(--text-muted);
  }

  .right-label {
    font-size: .75rem;
    color: var(--text-muted);
    position: absolute;
    top: 0;
    right: 0;
  }

  .inner-form-field {
    margin-top: 8px;

    span {
      padding: 4px;
      display: inline-block;
    }

    input,
    textarea,
    select {
      padding: 4px 0;
      box-sizing: border-box;
      font-size: 14px;
      border: 0;
      appearance: none;
      border-bottom: 2px solid var(--form-field-border);
      margin: 0 0 8px;
      width: 100%;
      color: var(--text-color);
      background: inherit;
    }

    &.is-select::before {
      position: absolute;
      color: #999;
      right: 8px;
      bottom: 20px;
      margin-top: 3px;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #999999 transparent transparent transparent;
      content: "";
      pointer-events: none;
    }

    option {
      background: var(--background);
    }
  }

  .required {
    color: var(--text-muted);
    padding-left: 4px;
  }

  &.error {
    h2, .right-label {
      color: var(--form-field-border-error);
    }
  }
}
</style>
