<template>
  <div class="form-footer">
    <div v-if="value.id" class="form-footer-information">
      <span>{{ $t('form.created') }}{{ value.createdAt | date }}</span>
      <span v-if="value.updatedAt !== value.createdAt">{{ $t('form.modified') }}{{ value.updatedAt | date }}</span>
    </div>
    <div v-else></div>
    <div class="form-footer-actions">
      <router-link class="form-footer-actions-back" :to="backRoute"><i class="la la-arrow-left"></i> {{ $t('form.back') }}</router-link>
      <button v-if="code" class="form-footer-actions-code" @click.prevent="openCode"><i class="la la-code"></i></button>
      <button v-if="hasDelete && value.id" class="form-footer-actions-delete" @click.prevent="$refs['delete-confirm'].open"><i class="la la-trash"></i> {{ $t('form.delete') }}</button>
      <button :disabled="!saveEnabled" class="form-footer-actions-save" @click.prevent="save">
        <template v-if="saving"><i class="la la-sync spinner"></i> {{ $t('form.saving') }}</template>
        <template v-else><i class="la la-save"></i> {{ $t('form.save') }}</template>
      </button>
    </div>
    <delete-confirmation ref="delete-confirm" :message="message" @confirm="$emit('delete')" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { state, moduleName } from '@/store/game/names'
import { isTrue } from '@/utils'
import { format } from 'date-fns'
import { getDateLocale } from '@/i18n'
import DeleteConfirmation from '@/components/DeleteConfirmation.vue'

const { mapState } = createNamespacedHelpers(moduleName)

export default {
  components: {
    DeleteConfirmation
  },
  props: {
    value: {
      type: Object,
      required: true
    },
    code: {
      type: Boolean
    },
    hasDelete: {
      type: Boolean
    },
    message: {
      type: String,
      required: true
    },
    backRoute: {
      type: [String, Object],
      required: true
    },
    requirements: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapState([
      state.saving
    ]),
    saveEnabled () {
      return !this.saving && this.requirements.every(isTrue)
    }
  },
  filters: {
    date: value => format(new Date(value), 'yyyy-MM-dd HH:mm:ss', { locale: getDateLocale() })
  },
  mounted () {
    this._keyListener = event => {
      if (event.key === 's' && (event.ctrlKey || event.metaKey)) {
        event.preventDefault()

        if (this.saveEnabled) {
          this.save()
        }
      }
    }

    document.addEventListener('keydown', this._keyListener.bind(this))
  },
  beforeDestroy () {
    document.removeEventListener('keydown', this._keyListener)
  },
  methods: {
    save () {
      this.$emit('save')
    },
    openCode () {
      this.$emit('open-code')
    }
  }
}
</script>

<style lang="less" scoped>
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 16px;

  .form-footer-information {
    box-sizing: border-box;
    display: flex;
    width: 50%;
    flex-direction: column;
    background: var(--panel-2);
    margin-top: 16px;
    padding: 16px;
    text-decoration: none;
    color: inherit;
  }

  .form-footer-actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: 16px;
      padding: 8px 16px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      background: var(--background);

      &[disabled] {
        cursor: not-allowed;
        color: var(--text-muted);
        background: var(--button-hover) !important;
      }
    }

    .la {
      font-size: 1.5rem;
      vertical-align: middle;
    }

    .form-footer-actions-back {
      background: var(--button);
      box-sizing: border-box;

      &:hover {
        background: var(--button-hover);
      }
    }

    .form-footer-actions-code {
      background: var(--button);
      box-sizing: border-box;
      width: 40px;
      padding: 8px;

      &:hover {
        background: var(--button-hover);
      }
    }

    .form-footer-actions-save {
      background: var(--confirm-button);

      .spinner {
        animation: spinner 1.4s infinite linear;
      }

      &:hover {
        background: var(--confirm-button-hover);
      }
    }

    .form-footer-actions-delete {
      border: 2px solid var(--delete-button);

      &:hover {
        border-color: var(--delete-button-hover);
        background: var(--delete-button-hover);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .form-footer {
    flex-direction: column;
    align-items: stretch;

    .form-footer-information {
      width: 100%;
    }

    .form-footer-actions {
      justify-content: space-between;

      & > * {
        width: 100% !important;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .form-footer .form-footer-actions {
    flex-direction: column-reverse;

     & > * {
      margin-left: 0;
      margin-bottom: 16px;
      justify-content: center;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
