<template>
  <fieldset>
    <legend v-if="legend">{{ legend }}</legend>
    <slot />
  </fieldset>
</template>

<script>
export default {
  props: {
    legend: {
      type: String
    }
  }
}
</script>

<style lang="less" scoped>
fieldset {
  background: var(--background-2);
  padding: 8px 8px 0;
  margin-bottom: 8px;
}

legend {
  color: var(--text-muted);
  font-size: .75rem;
  text-transform: uppercase;
}
</style>
