<template>
  <button class="button" :disabled="disabled" @click="click">
    <slot/>
  </button>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean
    }
  },
  methods: {
    click (event) {
      this.$emit('click', event)
    }
  }
}
</script>

<style lang="less" scoped>
.button {
  font-size: 2rem;
  margin-left: 16px;
  background: var(--button);
  border: none;
  cursor: pointer;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  color: var(--text-color);

  &[disabled] {
    cursor: not-allowed;
    color: var(--text-muted);
  }

  &:hover {
    background: var(--button-hover);
  }
}
</style>
