<template>
  <button class="inner-form-add" @click="click">
    <i class="la la-plus"></i>
  </button>
</template>

<script>
export default {
  methods: {
    click () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="less" scoped>
.inner-form-add {
  display: block;
  width: 100%;
  height: 24px;
  background: transparent;
  border: 2px dotted var(--form-field-border);
  color: var(--form-field-border);
  margin-bottom: 8px;

  &:hover {
    cursor: pointer;
    border-color: var(--panel-1-hover);
    color: var(--panel-1-link);
  }
}
</style>
