<template>
  <div class="inner-form" ref="inner-form">
    <button v-if="removable" class="remove" @click="remove">
      <i class="la la-times"></i>
    </button>
    <button class="handle" v-if="drag">
      <i class="la la-grip-lines"></i>
    </button>
    <button v-if="contextMenu.length" class="context" @click="toggleContext" v-on-clickaway="closeContext">
      <i class="la la-ellipsis-v"></i>
    </button>
    <ul v-if="contextMenuVisible" class="context-menu">
      <li v-for="(item, index) in contextMenu" :key="index" @click="item.action">{{ item.name }}</li>
    </ul>
    <slot />
  </div>
</template>

<script>
import { directive as onClickaway } from 'vue-clickaway'

export default {
  directives: {
    onClickaway
  },
  props: {
    contextMenu: {
      type: Array,
      default: () => []
    },
    drag: {
      type: Boolean
    },
    removable: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    contextMenuVisible: false
  }),
  methods: {
    remove () {
      this.$emit('remove')
    },
    toggleContext () {
      this.contextMenuVisible = !this.contextMenuVisible
    },
    closeContext () {
      this.contextMenuVisible = false
    }
  },
  mounted () {
    const childNodes = this.$refs['inner-form'].childNodes
    if (childNodes.length - 4 === 1 && this.contextMenu.length === 0) {
      childNodes[0].style.height = '100%'
    }
  }
}
</script>

<style lang="less" scoped>
.inner-form {
  padding-left: 8px;
  margin-bottom: 8px;
  border-left: 24px solid var(--form-field-border);
  position: relative;

  .remove {
    position: absolute;
    left: -24px;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    color: var(--panel-1-link);

    &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
    }
  }

  input,
  textarea,
  select {
    padding: 4px 0;
    box-sizing: border-box;
    background: none;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid var(--form-field-border);
    margin: 0 0 8px;
    width: 100%;
    color: var(--text-color);
    background: inherit;
    display: block;
  }

  .handle {
    position: absolute;
    left: -24px;
    top: calc(50% - 12px);
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    color: var(--panel-1-link);
  }

  .context {
    position: absolute;
    left: -24px;
    bottom: 0;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    color: var(--panel-1-link);

    &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
    }
  }

  .context-menu {
    position: absolute;
    top: calc(100% - 24px);
    left: 0;
    z-index: 999;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);

    li {
      background: var(--panel-1);
      color: var(--panel-1-link);
      padding: 8px;
      list-style: none;

      &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
      }
    }
  }
}
</style>
