<template>
  <div @click="toggle" class="language-changer">
    <span v-if="language === 'fr'">{{ $t('global.english') }}</span>
    <span v-if="language === 'en'">{{ $t('global.french') }}</span>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { state, actions, moduleName } from '@/store/global/names'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  computed: {
    ...mapState([
      state.language
    ])
  },
  methods: {
    ...mapActions([
      actions.toggleLanguage
    ]),
    async toggle () {
      await this.toggleLanguage(this.language === 'fr' ? 'en' : 'fr')
    }
  }
}
</script>

<style lang="less" scoped>
.language-changer {
  display: block;
  height: 48px;
  line-height: 48px;
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: lighter;
  text-decoration: none;
  padding: 0 16px;
  color: var(--panel-1-link);

  &:hover {
    cursor: pointer;
    background: var(--panel-1-hover);
    color: var(--panel-1-link-hover);
  }

  .icon {
    width: 16px;
    margin-right: 8px;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .language-changer {
    padding: 0 12px;

    .la {
      display: none;
    }
  }
}
</style>
