<template>
  <div v-if="_value" class="language">
    <div class="language-section">
      <form-field :name="$t('language.name')" required>
        <input v-model="_value.name"/>
      </form-field>
      <form-field :name="$t('language.script')">
        <input v-model="_value.script"/>
      </form-field>
    </div>
    <div class="language-section">
      <form-field :name="$t('language.description')">
        <text-editor v-model="_value.description" />
      </form-field>
      <form-field :name="$t('language.speakers')">
        <text-editor v-model="_value.typicalSpeakers"/>
      </form-field>
      <label class="checkbox">
        <small>{{ $t('language.exotic') }}</small>
        <input type="checkbox" v-model="_value.exotic">
        <i v-if="_value.exotic" class="la la-check-circle"></i>
        <i v-else class="la la-circle"></i>
      </label>
    </div>
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'

export default {
  components: {
    FormField,
    TextEditor
  },
  props: {
    value: {
      type: Object
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="less" scoped>

.language {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .text-editor .editor-content {
    min-height: 19px;
  }
}

.checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  .la {
    margin-left: 8px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .language {
    grid-template-columns: 1fr;
  }
}
</style>
