<template>
<div class="levelupForm">
  <h2>{{ `${_value.name} ${$t('levelUp.title')}` }}</h2>
  <div class="form">
    <form-field :name="$t('levelUp.select')" class="classes">
      <template v-for="(characterClass, index) in classes">
        <input
          :key="`${index}_input`"
          :id="`${characterClass.name}_${index}_input`"
          :value="index"
          type="radio"
          class="class-option"
          v-model="selectedClassIndex"
          @change="selectClass($event)"
        />
        <label
          :key="`${index}_label`"
          :for="`${characterClass.name}_${index}_input`"
          :class="['class-option-label', {'class-option-leveled': alreadySelectedClasses.hasOwnProperty(`${characterClass.id}`)}]"
        >
          <span>{{ characterClass.name }}</span>
          <span>lvl {{ alreadySelectedClasses.hasOwnProperty(`${characterClass.id}`) ? alreadySelectedClasses[characterClass.id] : '0' }}</span>
        </label>
      </template>
    </form-field>
    <form-field :name="`${$t('levelUp.Hpbonus')}${selectedClassIndex !== null && classes[selectedClassIndex].hitDie !== null ? `(d${classes[selectedClassIndex].hitDie})`:''}`" class="classes">
      <input type="number" v-model.number="bonusHp" min="1" :max="selectedClassIndex !== null ? classes[selectedClassIndex].hitDie : null" :disabled="selectedClassIndex === null && selectedClassIndex >= 0 && selectedClassIndex < classes.length" @change="setHpBonusFeature($event.target.value)"/>
    </form-field>
    <div>
      <h3>{{$t('levelUp.NewFeatures')}}</h3>
      <character-form-features v-model="newFeatures" :defaultBonus="newFeatures.hitpointBonus"/>
    </div>  
  </div>
  <div class="buttons">
    <button class="button" @click="$emit('close')">{{ $t('dialog.close') }}</button>
    <button class="button-save" :disabled="selectedClassIndex === null && selectedClassIndex >= 0 && selectedClassIndex < classes.length" @click="applyChanges">{{ $t('dialog.confirm') }}</button>
  </div>
</div>
</template>

<script>
import FormField from '@/components/FormField.vue'
import Character from '@/models/character'
import CharacterFormFeatures from '@/components/CharacterFormFeatures.vue'
import CharacterClass from '@/models/characterClass'

export default {
  components: {
    FormField,
    CharacterFormFeatures
  },
  data: () =>  ({
    selectedClassIndex: null,
    bonusHp: 1,
    newFeatures: { hitpointBonus: [{description: '', target: 'HitPoints', type: 'Other', value: 1}],  bonuses: [], features: '' }
  }),
  props: {
    value: {
      type: [Character, Object]
    },
    characterClasses: {
      type: Array
    },
    classes: {
      type: Array
    },
    character: {
      type: Object
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    _characterClasses: {
      get () {
        return this.characterClasses
      },
      set (characterClasses) {
        this.$emit('classes-changed', characterClasses)
      }
    },
    alreadySelectedClasses () {
      return this._characterClasses.reduce((acc, val) => ({...acc, [val.classId]: val.level}), {})
    }
  },
  methods: {
    selectClass(e) {
      const radioFields = Array.from(e.path[1].children)
      let i = 1
      for(i; i < radioFields.length; i+=2){
        if(radioFields[i].classList.contains('selected')) {
          radioFields[i].classList.remove('selected')
          let oldLvlText = radioFields[i].children[1].innerText.split(" ")
          oldLvlText[1] = (parseInt(oldLvlText[1]) - 1).toString()
          radioFields[i].children[1].innerText = oldLvlText.join(" ")
          break
        }
      }
      const selectedLabel = radioFields[2*this.selectedClassIndex  + 1]
      selectedLabel.classList.add('selected')
      let newLvlText = selectedLabel.children[1].innerText.split(" ")
      newLvlText[1] = (parseInt(newLvlText[1]) + 1).toString()
      selectedLabel.children[1].innerText = newLvlText.join(" ") 

      this.bonusHp = this.classes[this.selectedClassIndex].hitDie !== null ? Math.floor(this.classes[this.selectedClassIndex].hitDie / 2) + 1 : 1
      this.setHpBonusFeature(this.bonusHp)
    },
    setHpBonusFeature (val) {
      const selectedClassId = this.classes[this.selectedClassIndex].id
      const description = `${this.classes[this.selectedClassIndex].name} level ${this.alreadySelectedClasses.hasOwnProperty(selectedClassId) ? this.alreadySelectedClasses[selectedClassId] + 1 : 1}`
      this.newFeatures.hitpointBonus = [{description: description, target: 'HitPoints', type: 'Other', value: parseInt(val)}]   
    },
    applyChanges () {
      const selectedClassId = this.classes[this.selectedClassIndex].id
      if (!this.alreadySelectedClasses.hasOwnProperty(selectedClassId)) {
        const newCharacterClass = CharacterClass.from({ classId:selectedClassId, level:1,  primary:false, remainingHitDice:1 })
        this._characterClasses = [...this._characterClasses, newCharacterClass]
      }
      else {
        this._characterClasses = Array.from(this._characterClasses).map((val) => {
          if(val.classId === selectedClassId) {
            val.level += 1
            val.remainingHitDice += 1
          }
          return val
        })
      }

      let totalLevel = 0
      for(let characterClass of this.characterClasses){
        totalLevel += characterClass.level
      }
      let temp = {...this.newFeatur}
      temp.bonuses = [...this._value.bonuses, ...this.newFeatures.bonuses, this.newFeatures.hitpointBonus[0]]
      temp.features = this._value.features !== null ? this._value.features : ''
      for(let feature of this.newFeatures.features.split(/<p>|<\/p>|¤/)) {
        if(feature !== "") {
          temp.features += `<p>${totalLevel}: ${feature}</p>`
        }
      }
      delete temp.hitpointBonus
      this.$emit('confirm', temp)
    }
  }
}
</script>

<style lang="less" scoped>
h2{
  font-size: 20px;
  margin-bottom: 20px;
}
h3{
  margin-bottom: 10px;
}
.classes {
  margin-bottom: 8px;

  /deep/ .inner-form-field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  
  .class-option {
    display: none;
  }

  .class-option-label {
    font-size: .75rem;
    display: block;
    padding: 8px 0;
    width: 100%;
    background: var(--check-button);
    text-align: center;

    &:hover {
      background: var(--check-button-hover);
      cursor: pointer;
    }

    &.selected {
      background: var(--confirm-button);
      font-weight: 700;
      &:hover {
        background: var(--confirm-button);
        cursor: default;
      }
    }
  }

  .class-option-leveled {
    background: var(--check-button-clicked);

    &:hover {
      background: var(--check-button-clicked-hover);
    }
  }
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--background);

    &[disabled] {
      cursor: not-allowed;
      color: var(--text-muted);
      background: var(--button-hover) !important;
    }
  }

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .button-back {
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }

  .button-save {
    background: var(--confirm-button);

    &:hover {
      background: var(--confirm-button-hover);
    }
  }
}


@media only screen and (max-width: 1024px) {
  .classes /deep/ .inner-form-field {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .classes /deep/ .inner-form-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .classes /deep/ .inner-form-field {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .classes /deep/ .inner-form-field {
    grid-template-columns: 1fr;
  }
}
</style>