<template>
  <div>
    <portal v-if="loading" to="loading">
      <div class="loader-animation">
        <div class="solid">
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>

          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>

          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>

          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
        </div>
        <span class="text">{{ $t('global.loading') }}</span>
      </div>
    </portal>
    <slot v-if="loadingFinished" />
  </div>
</template>

<script>
export default {
  data: () => ({
    finished: false,
    error: false
  }),
  props: {
    value: {
      type: Function,
      required: true
    }
  },
  computed: {
    loading () {
      return !this.finished
    },
    loadingFinished () {
      return this.finished && !this.error
    }
  },
  async created () {
    try {
      await this.value()
    } catch (error) {
      console.error(`Loader error: ${error}`)
      this.error = true
    }

    this.finished = true
  }
}
</script>

<style lang="less" scoped>
.loader-animation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--loader-background);

  .text {
    font-size: 1.25rem;
    margin-top: 50px;
  }
}

@triwidth: 50px;

@sqrt3: 1.732;
@tilt: 52.62deg; // asin(tan(54deg)/sqrt(3))
@capheight: -1.051 * @triwidth; // sqrt(3-tan(54deg) ^2 )
@triheight: @triwidth * @sqrt3;
@vshift: @capheight + @triheight / 2;

@innerradius: 1.376 * @triwidth; // tan(54deg)
@outerradius: 1.701 * @triwidth; // 1/cos(54deg)
@sidetilt: 10.81deg; // asin( (sec(54deg)-tan(54deg))/sqrt(3) )
@sideheight: @outerradius; // !!! sqrt(3-(sec(54deg)-tan(54deg))^2)
@vshift2: @sideheight + @triheight - @vshift;

.solid {
  position: relative;
  width: @triwidth * 2;
  height: @triwidth * 2;
  animation: spin 16s infinite linear;
  transform-style: preserve-3d;

  .side {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform-origin: 50% 0%;
    height: @triheight;
    width: @triwidth * 2;
    background-image: var(--loader-image);
  }

  .side:first-child:after {
    content: '20';
    color: var(--loader-color);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: @triheight + 25%;
    width: @triwidth * 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  each(range(1, 6), { // top
    @vshift2: @vshift;
    .side:nth-child(@{value}) {
      transform:
        translateY(@vshift2)
        rotateY(@value * 72deg)
        rotateX(@tilt);
      border-bottom-color: rgba(random(255),random(255),random(255),0.4);
    }
  })
  each(range(6, 11), { // bottom
    .side:nth-child(@{value}) {
      transform:
        translateY(@vshift2)
        rotateY(@value * 72deg + 36deg)
        rotateX(180deg - @tilt);
      border-bottom-color: rgba(random(255),random(255),random(255),0.4);
    }
  })
  each(range(11, 16), {  // bottom sides
    .side:nth-child(@{value}) {
      transform:
        translateY(@triheight / 2)
        rotateY(@value * 72deg + 36deg)
        translateZ(@outerradius)
        rotateX(-@sidetilt);
      border-bottom-color: rgba(random(255),random(255),random(255),0.4);
    }
  })
  each(range(16, 21), {  // top sides
    .side:nth-child(@{value}) {
      transform:
        translateY(@triheight / 2 + @sideheight)
        rotateY(@value * 72deg)
        rotateZ(180deg)
        translateZ(@outerradius)
        rotateX(-@sidetilt);
      border-bottom-color: rgba(random(255),random(255),random(255),0.4);
    }
  })
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(1080deg);
  }
}
</style>
