<template>
  <span :class="{ rainbow: isProd && isJune, dev: !isProd }">{{ $t('global.name') }} <i class="la la-dungeon"></i></span>
</template>

<script>
export default {
  data: () => ({
    isProd: process.env.NODE_ENV === 'production',
    isJune: new Date().getMonth() === 5 // Months start at zero
  })
}
</script>

<style scoped>
span {
  font-family: var(--font-title);
  white-space: nowrap;
}

.rainbow {
  color: transparent;
  background: linear-gradient(45deg,red,#ff7300,#fffb00,#48ff00,#2affdc,#7c92ff,#d2a7ff,#ff4dd8,#ff3131);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: slide 8s linear infinite;
  transition: .2s linear;
}

.dev::after {
  content: 'DEV';
  font-size: 0.3em;
  margin-left: -2.825em;
  background: var(--text-color);
  color: var(--background);
  padding: 0 0.225em;
}

@keyframes slide {
  0% {
    background-position: 0 0
  }
  to {
    background-position: 200% 0
  }
}
</style>
