<template>
  <div>
    <nav class="navigation">
      <div class="left">
        <button v-if="isAuthenticated" class="hamburger" @click="toggleDropdown" v-on-clickaway="closeDropdown"><i class="la la-bars"></i></button>
        <router-link class="router-link home" :to="homeLink"><main-title /></router-link>
        <router-link v-if="isAuthenticated" class="desktop router-link" :to="{ name: 'Characters' }"><i class="icon la la-id-card"></i> {{ $t('global.characters') }}</router-link>
        <router-link :disabled="!hasWorld" v-if="isAuthenticated" class="desktop router-link" :to="{ name: 'Parties' }"><i class="icon la la-users"></i> {{ $t('global.parties') }}</router-link>
      </div>
      <div v-if="isAuthenticated" class="desktop right">
        <router-link class="router-link" :to="{ name: 'Account' }"><i class="la la-user-circle"></i> {{ $t('global.account') }}</router-link>
        <router-link class="router-link" :to="{ name: 'Logout' }"><i class="la la-sign-out-alt"></i> {{ $t('global.logout') }}</router-link>
      </div>
      <div v-else class="right">
        <router-link class="router-link" :to="{ name: 'Login' }"><i class="la la-sign-in-alt"></i> {{ $t('global.login') }}</router-link>
        <router-link class="router-link" :to="{ name: 'Register' }"><i class="la la-book"></i> {{ $t('global.register') }}</router-link>
      </div>
    </nav>
    <div v-if="isAuthenticated" :class="['dropdown', { active: dropdownActive }]">
      <div class="section">
        <router-link class="mobile router-link" :to="{ name: 'Characters' }"><i class="la la-id-card"></i>{{ $t('global.characters') }}</router-link>
        <router-link :disabled="!hasWorld" class="mobile router-link" :to="{ name: 'Parties' }"><i class="la la-users"></i>{{ $t('global.parties') }}</router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Races' }"><i class="la la-paw"></i>{{ $t('global.races') }}</router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Classes' }"><i class="la la-user-ninja"></i>{{ $t('global.classes') }}</router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Backgrounds' }"><i class="la la-user-secret"></i>{{ $t('global.backgrounds') }}</router-link>
        <router-link :disabled="!hasWorld" class="router-link" :to="{ name: 'Languages' }"><i class="icon la la-language"></i>{{ $t('global.languages') }}</router-link>
        <theme-changer />
      </div>
      <div class="mobile section">
        <router-link class="router-link" :to="{ name: 'Account' }"><i class="la la-user-circle"></i>{{ $t('global.account') }}</router-link>
        <router-link class="router-link" :to="{ name: 'Logout' }"><i class="la la-sign-out-alt"></i>{{ $t('global.logout') }}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { state, getters, moduleName } from '@/store/global/names'
import { directive as onClickaway } from 'vue-clickaway'
import MainTitle from '@/components/MainTitle.vue'
import ThemeChanger from '@/components/ThemeChanger.vue'

const { mapState, mapGetters } = createNamespacedHelpers(moduleName)

export default {
  components: {
    MainTitle,
    ThemeChanger
  },
  directives: {
    onClickaway
  },
  data: () => ({
    dropdownActive: false
  }),
  computed: {
    ...mapState([
      state.selectedWorld
    ]),
    ...mapGetters([
      getters.isAuthenticated
    ]),
    homeLink () {
      return this.isAuthenticated ? { name: 'Home' } : { name: 'Login' }
    },
    hasWorld () {
      return this.selectedWorld !== null
    }
  },
  methods: {
    toggleDropdown () {
      this.dropdownActive = !this.dropdownActive
    },
    closeDropdown () {
      this.dropdownActive = false
    }
  }
}
</script>

<style scoped lang="less">
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background: var(--panel-1);

  .left, .right {
    display: flex;
  }
}

.router-link {
  display: block;
  height: 48px;
  line-height: 48px;
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: lighter;
  text-decoration: none;
  padding: 0 16px;
  color: var(--panel-1-link);

  &.home {
    font-weight: normal;
    font-size: 1.25rem;
  }

  &:not(.home).router-link-active {
    background: var(--panel-1-active);
    color: var(--panel-1-link-hover);
  }

  &[disabled] {
    color: var(--panel-1-hover);
    cursor: default;
    pointer-events: none;
  }

  &:not([disabled]):hover {
    background: var(--panel-1-hover);
    color: var(--panel-1-link-hover);
  }
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 48px;
  left: 0;
  background: var(--panel-2);
  z-index: 999;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);

  ::v-deep .la {
    width: 16px;
    margin-right: 32px !important;
    text-align: center;
  }

  &.active {
    display: flex;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .section + .section {
    border-top: 1px dashed var(--panel-1-hover);
    padding-top: 8px;
    margin-top: 8px;
  }
}

.hamburger {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 24px;
  width: 48px;
  cursor: pointer;
  color: var(--panel-1-link);

  &:hover {
    background: var(--panel-1-hover);
  }
}

@media only screen and (min-width: 901px) {
  .mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .desktop {
    display: none !important;
  }

  .navigation {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 400px) {
  .router-link {
    font-size: 1rem;
    padding: 0 12px;

    .la {
      display: none;
    }
  }
}
</style>
