<template>
  <div class="character-list-item">
    <router-link :to="{ name: 'Edit Character', params: { id: character.id } }" class="content">
      <div class="section-top">
        <strong class="name">{{ character.name }}</strong>
        <small class="player">{{ character.player }}</small>
      </div>
      <div class="section-bottom">
        <span class="info">{{ `${character.race || ''} ${character.background || ''}` }}</span>
        <div class="classes">
          <small v-for="(classLevel, className) in character.classes" :key="className" class="class">{{ `${className} ${classLevel}` }}</small>
        </div>
      </div>
    </router-link>
    <button v-if="contextMenu.length" class="context" @click="toggleContext" v-on-clickaway="closeContext">
      <i class="la la-ellipsis-v"></i>
    </button>
    <ul v-if="contextMenuVisible" class="context-menu">
      <li v-for="(item, index) in contextMenu" :key="index" @click="item.action">{{ item.name }}</li>
    </ul>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/game/names'
import { directive as onClickaway } from 'vue-clickaway'
import alignments from '@/enums/alignments'
import CharacterSummary from '@/models/characterSummary'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  directives: {
    onClickaway
  },
  data () {
    return {
      alignments,
      contextMenuVisible: false,
      contextMenu: [
        {
          name: this.$t('list.view'),
          action: () => this.$router.push({ name: 'View Character', params: { id: this.character.id } })
        },
        {
          name: this.$t('list.print'),
          action: () => this.$router.push({ name: 'Print Character', params: { id: this.character.id } })
        },
        {
          name: this.$t('list.edit'),
          action: () => this.$router.push({ name: 'Edit Character', params: { id: this.character.id } })
        },
        {
          name: this.$t('list.remove'),
          action: () => this.deletePartyCharacter(this.character)
        }
      ]
    }
  },
  props: {
    character: {
      type: CharacterSummary,
      required: true
    }
  },
  methods: {
    ...mapActions([
      actions.duplicateCharacter,
      actions.deleteCharacter,
      actions.deletePartyCharacter
    ]),
    toggleContext () {
      this.contextMenuVisible = !this.contextMenuVisible
    },
    closeContext () {
      this.contextMenuVisible = false
    }
  }
}
</script>

<style lang="less" scoped>
.character-list-item {
  position: relative;

  .content {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--panel-2);
    padding: 16px;
    text-decoration: none;
    color: inherit;

    .section-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .name {
        font-size: 1.25rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1rem;
        height: 1.5rem;
      }

      .player {
        font-size: .75rem;
        color: var(--text-muted);
        margin-right: 24px;
      }
    }

    .section-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 32px;
      margin-top: -8px;

      .info {
        font-size: 1rem;
        color: var(--text-muted);
      }

      .classes {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-size: 1rem;
      }
    }

    &:hover {
      background: var(--panel-2-hover);
    }
  }

  .context {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    color: var(--panel-1-link);

    &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
    }
  }

  .context-menu {
    position: absolute;
    top: 0;
    right: 32px;
    z-index: 999;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);

    li {
      background: var(--panel-1);
      color: var(--panel-1-link);
      padding: 8px;
      list-style: none;

      &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .character-list-item .content {
    position: relative;
    padding: 8px;

    .section-top, .section-bottom {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;

      & > * {
        margin-bottom: 4px;
      }

      .classes {
        position: absolute;
        top: 40px;
        right: 8px;
      }
    }
  }
}
</style>
