<template>
  <div v-if="_value" class="party">
    <form-field :name="$t('party.name')" required>
      <input v-model="_value.name" />
    </form-field>
    <form-field :name="$t('party.description')">
      <text-editor v-model="_value.description" />
    </form-field>
    <div class="span-two">
      <form-field :name="$t('party.characters')">
        <character-select v-model="partyCharacters" :characters="characters" />
      </form-field>
    </div>
  </div>
</template>

<script>
import { createHelpers } from 'vuex-map-fields'
import { state } from '@/store/game/names'
import CharacterSelect from '@/components/CharacterSelect.vue'
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'

const { mapFields } = createHelpers({
  getterType: 'game/getField',
  mutationType: 'game/updateField'
})

export default {
  components: {
    CharacterSelect,
    FormField,
    TextEditor
  },
  props: {
    value: {
      type: Object
    },
    characters: {
      type: Array
    },
    selectedCharacters: {
      type: Array
    }
  },
  computed: {
    ...mapFields([
      state.partyCharacters
    ]),
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.party {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .span-two {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 1024px) {
  .party {
    grid-template-columns: 1fr;

    .span-two {
      grid-column: span 1;
    }
  }
}
</style>
