<template>
  <div class="password-field">
    <input :type="type" v-model="_value">
    <a href="#" class="password-reveal" @click.prevent="toggle">
      <i v-if="type === 'password'" class="la la-eye"></i>
      <i v-else class="la la-eye-slash"></i>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data: () => ({
    type: 'password'
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    toggle () {
      this.type = this.type === 'password' ? 'text' : 'password'
    }
  }
}
</script>

<style lang="less" scoped>
.password-field {
  width: 100%;
  display: flex;

  input {
    padding: 4px 0;
    box-sizing: border-box;
    background: none;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid var(--form-field-border);
    margin: 0;
    width: 100%;
    color: var(--text-color);
    background: inherit;
  }

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  .password-reveal {
    width: 32px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-muted);
    box-sizing: border-box;
    background: none;
    border: 0;
    border-bottom: 2px solid var(--form-field-border);
  }
}

@media screen and (max-width: 768px) {
  .password-field {
    input {
      margin: 0;
      width: 100%;
    }
  }
}
</style>
