<template>
  <div class="character">
    <div class="information">
      <div class="information-name">
        <h2 class="value">{{ characterSheet.name }}</h2>
        <small class="label">{{ $t('sheet.name') }}</small>
      </div>
      <div class="information-detail">
        <div class="classes">
          <span class="value">{{ classes }}</span>
          <small class="label">{{ $t('sheet.class') }}</small>
        </div>
        <div class="background">
          <span class="value">{{ characterSheet.background }}</span>
          <small class="label">{{ $t('sheet.background') }}</small>
        </div>
        <div class="player">
          <span class="value">{{ characterSheet.player }}</span>
          <small class="label">{{ $t('sheet.player') }}</small>
        </div>
        <div class="race">
          <span class="value">{{ characterSheet.race }}</span>
          <small class="label">{{ $t('sheet.race') }}</small>
        </div>
        <div class="alignment">
          <span class="value">{{ $t(`alignment.${alignments.getName(characterSheet.alignment)}`) }}</span>
          <small class="label">{{ $t('sheet.alignment') }}</small>
        </div>
        <div class="experience">
          <span class="value">{{ characterSheet.experience }}</span>
          <small class="label">{{ $t('sheet.experience') }}</small>
        </div>
      </div>
    </div>
    <div class="stats">
      <div v-for="(value, name) in characterSheet.abilities" :key="name" class="stat">
        <small class="label">{{ $t(`simpleStats.${firstThree(name)}`) }}</small>
        <span class="big-value">{{ value.score }}</span>
        <span class="small-value">{{ value.modifier | sign }}</span>
      </div>
    </div>
    <div class="inspiration">
      <span class="value">
        <i v-if="characterSheet.inspiration" class="la la-check"></i>
      </span>
      <small class="label">{{ $t('sheet.inspiration') }}</small>
    </div>
    <div class="proficiency">
      <span class="value">{{ characterSheet.proficiencyBonus | sign }}</span>
      <small class="label">{{ $t('sheet.proficiency') }}</small>
    </div>
    <div class="saving-throws">
      <div class="values">
        <div v-for="(value, name) in characterSheet.savingThrows" :key="name" class="stat">
          <span class="proficient">
            <i v-if="value.proficiency" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <small class="label">{{ $t(`stats.${stats.getName(name)}`) }}</small>
          </span>
          <span class="bonus">{{ value.bonus | sign }}</span>
        </div>
      </div>
      <small class="label">{{ $t('sheet.savingThrows') }}</small>
    </div>
    <div class="skills">
      <div class="values">
        <div v-for="(value, name) in characterSheet.skills" :key="name" class="stat">
          <span class="proficient">
            <i v-if="value.proficiency" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <small class="label">{{ $t(`skills.${skills.getName(name)}`) }}</small>
          </span>
          <span class="bonus">{{ value.bonus | sign }}</span>
        </div>
      </div>
      <small class="label">{{ $t('sheet.skills') }}</small>
    </div>
    <div class="passive">
      <span class="value">{{ characterSheet.passiveWisdom }}</span>
      <small class="label">{{ $t('sheet.passiveWisdom') }}</small>
    </div>
    <div class="other-proficiencies">
      <p class="text" v-fit-text><span v-html="otherProficiencies"></span></p>
      <small class="label">{{ $t('sheet.proficiencies') }}</small>
    </div>
    <div class="combat">
      <div class="top-blocks">
        <div class="armor-class">
          <span class="value">{{ characterSheet.armorClass }}</span>
          <small class="label">{{ $t('sheet.armorClass') }}</small>
        </div>
        <div class="initiative">
          <span class="value">{{ characterSheet.initiative | sign }}</span>
          <small class="label">{{ $t('sheet.initiative') }}</small>
        </div>
        <div class="armor-class">
          <span class="value">{{ characterSheet.speed }}</span>
          <small class="label">{{ $t('sheet.speed') }}</small>
        </div>
      </div>
      <div class="hit-points">
        <div class="maximum">
          <small class="label">{{ $t('sheet.maximumHitPoints') }}</small>
          <span class="value">{{ characterSheet.hitPointMaximum }}</span>
        </div>
        <div class="current">
          <small class="label">{{ $t('sheet.hitPoints') }}</small>
        </div>
        <div class="temporary">
          <small class="label">{{ $t('sheet.temporaryHitPoints') }}</small>
        </div>
      </div>
      <div class="bottom-blocks">
        <div class="hit-dice">
          <div class="value">
            <span v-for="(count, die) in characterSheet.remainingHitDice" :key="die" class="die">{{ `${count}/${characterSheet.totalHitDice[die]} &times; 1d${die}` }}</span>
          </div>
          <small class="label">{{ $t('sheet.hitDice') }}</small>
        </div>
        <div class="death-saves">
          <div class="successes">
            <small class="label">{{ $t('sheet.successes') }}</small>
            <i v-if="characterSheet.deathSaveSuccesses > 0" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="characterSheet.deathSaveSuccesses > 1" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="characterSheet.deathSaveSuccesses > 2" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
          </div>
          <div class="failures">
            <small class="label">{{ $t('sheet.failures') }}</small>
            <i v-if="characterSheet.deathSaveFailures > 0" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="characterSheet.deathSaveFailures > 1" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
            <i v-if="characterSheet.deathSaveFailures > 2" class="la la-check-circle"></i>
            <i v-else class="la la-circle"></i>
          </div>
          <small class="label">{{ $t('sheet.deathSaves') }}</small>
        </div>
      </div>
    </div>
    <div class="attacks">
      <div class="labels">
        <small class="label">{{ $t('sheet.attackName') }}</small>
        <small class="label">{{ $t('sheet.attackBonus') }}</small>
        <small class="label">{{ $t('sheet.attackDamage') }}</small>
      </div>
      <div v-for="(attack, id) in characterSheet.attacks" :key="id" class="attack">
        <span class="name">{{ attack.name }}</span>
        <span class="bonus">{{ attack.attackBonus | sign }}</span>
        <span class="damage">{{ attack | damage }}</span>
      </div>
      <p class="text" v-fit-text><span v-html="characterSheet.spellcasting"></span></p>
      <small class="label">{{ $t('sheet.attacks') }}</small>
    </div>
    <div class="treasure">
      <div class="currency">
        <div v-for="(amount, coin) in coins" :key="coin" class="coin">
          <small class="label">{{ coin }}</small>
          <span class="amount">{{ amount }}</span>
        </div>
      </div>
      <ul v-if="equipmentList" class="equipment">
        <li v-for="(item, name) in equipmentList.Items" :key="name">{{ item > 1 ? `${item}x ${name}` : name }}</li>
      </ul>
      <p v-else class="equipment" v-fit-text><span v-html="characterSheet.equipment"></span></p>
      <small class="label">{{ $t('sheet.treasure') }}</small>
    </div>
    <div class="description">
      <div class="section">
        <p class="text" v-fit-text><span v-html="characterSheet.personality"></span></p>
        <small class="label">{{ $t('sheet.personality') }}</small>
      </div>
      <div class="section">
        <p class="text" v-fit-text><span v-html="characterSheet.ideals"></span></p>
        <small class="label">{{ $t('sheet.ideals') }}</small>
      </div>
      <div class="section">
        <p class="text" v-fit-text><span v-html="characterSheet.bonds"></span></p>
        <small class="label">{{ $t('sheet.bonds') }}</small>
      </div>
      <div class="section">
        <p class="text" v-fit-text><span v-html="characterSheet.flaws"></span></p>
        <small class="label">{{ $t('sheet.flaws') }}</small>
      </div>
    </div>
    <div class="features">
      <p class="text" v-fit-text><span v-html="characterSheet.features"></span></p>
      <small class="label">{{ $t('sheet.features') }}</small>
    </div>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import skills from '@/enums/skills'
import stats from '@/enums/stats'
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/game/names'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  data: () => ({
    alignments,
    skills,
    stats
  }),
  computed: {
    ...mapState([
      state.characterSheet
    ]),
    classes () {
      return Object.entries(this.characterSheet.classes).reduce((acc, [key, val]) => `${acc}${key} ${val} `, '')
    },
    equipmentList () {
      if (!this.characterSheet.equipment) {
        return { Items: null }
      }

      try {
        return JSON.parse(this.characterSheet.equipment)
      } catch (error) {
        return null
      }
    },
    coins () {
      if (!this.equipment) {
        return []
      }

      const { Items: _, ...coins } = this.equipment
      return coins
    },
    otherProficiencies () {
      const languages = this.characterSheet.languages.join(', ') ?? ''
      return (languages ? `${this.$t('sheet.languages')} ${languages}\n` : '') + this.characterSheet.otherProficiencies
    }
  },
  filters: {
    sign (value) {
      return value > 0 ? ('+' + value) : ('' + value)
    },
    damage (value) {
      const hitDice = `${value.hitDice}d${value.hitDie}`
      const type = `${value.damageType.substring(0, 5)}.`

      if (value.damageBonus < 0) {
        return `${hitDice} - ${Math.abs(value.damageBonus)} ${type}`
      } else if (value.damageBonus > 0) {
        return `${hitDice} + ${value.damageBonus} ${type}`
      } else {
        return `${hitDice} ${type}`
      }
    }
  },
  methods: {
    ...mapActions([
      actions.getCharacterSheet,
      actions.getSharedCharacterSheet
    ]),
    firstThree (value) {
      return value.toLowerCase().substring(0, 3)
    }
  },
  watch: {
    characterSheet () {
      this.show = true
    }
  }
}
</script>

<style lang="less" scoped>
.label {
  font-size: 12px !important;
}

.character {
  background: url('~@/assets/sheet.png');
  background-size: contain;
  color: #222222;
  box-sizing: border-box;
  padding: 45px 30px 20px;
  display: grid;
  width: 8.5in;
  height: 11in;
  font-size: 14px;
  color: #000000;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-template-areas: "info info info info info info info info info"
                       "info info info info info info info info info"
                       "info info info info info info info info info"
                       "stat insp insp comb comb comb desc desc desc"
                       "stat prof prof comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat save save comb comb comb desc desc desc"
                       "stat skil skil comb comb comb desc desc desc"
                       "stat skil skil comb comb comb desc desc desc"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "stat skil skil attk attk attk feat feat feat"
                       "pass pass pass trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat"
                       "othe othe othe trea trea trea feat feat feat";

  .information {
    grid-area: info;
    display: flex;
    align-items: center;

    .information-name {
      margin-top: .25rem;
      margin-left: 2.5rem;
      display: flex;
      flex-direction: column;
      font-size: 24px;
      flex: 2;

      .label {
        margin-top: .75rem;
        margin-left: 1.75rem;
      }
    }

    .information-detail {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: .5rem;
      flex: 3;
      margin-bottom: 1.25rem;

      .classes, .background, .player, .race, .alignment, .experience {
        display: flex;
        flex-direction: column;
      }

      .classes .value {
        font-size: 13px;
      }
    }
  }

  .stats {
    grid-area: stat;
    display: grid;
    padding: 1rem 0 2rem .5rem;

    .stat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .label {
        text-transform: uppercase;
        font-size: 10px !important;
      }

      .big-value {
        font-size: 28px;
        padding: .25rem;
        margin-bottom: .5rem;
      }
    }
  }

  .inspiration {
    grid-area: insp;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    margin-top: -.5rem;

    .label {
      margin-left: 1.25rem;
    }

    .value {
      font-size: 18px;
      width: 18px;
    }
  }

  .proficiency {
    grid-area: prof;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    margin-top: .75rem;
    font-size: 16px;

    .label {
      margin-left: 1.25rem;
    }
  }

  .saving-throws {
    grid-area: save;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.25rem;

    & > .label {
      align-self: center;
      margin-bottom: 1.25rem;
    }

    .values {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;

      .stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        .proficient .label {
          margin-left: .5rem;
          font-size: 11px;
        }

        .bonus {
          font-size: 13px;
        }
      }
    }
  }

  .skills {
    grid-area: skil;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .25rem;

    & > .label {
      align-self: center;
      margin-bottom: 1.25rem;
    }

    .values {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;

      .stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        .proficient .label {
          margin-left: .5rem;
          font-size: 11px;
        }

        .bonus {
          font-size: 13px;
        }
      }
    }
  }

  .passive {
    grid-area: pass;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-top: -1.25rem;
    font-size: 16px;

    .label {
      margin-left: 2rem;
    }
  }

  .other-proficiencies {
    grid-area: othe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -.5rem;

    .text {
      flex: 1;
      padding: 1rem;
      white-space: pre-wrap;
      overflow-y: auto;
    }

    .label {
      align-self: center;
      margin-bottom: 1.25rem;
    }

    .languages {
      white-space: normal;
      .label {
        margin-bottom: 0.5rem;
      }
      ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 1rem;
      }
    }
  }

  .combat {
    grid-area: comb;
    display: flex;
    flex-direction: column;

    .top-blocks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: .25rem .875rem 0 .625rem;

      & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        text-align: center;

        .value {
          font-size: 24px;
        }
      }
    }

    .hit-points {
      display: flex;
      flex-direction: column;
      flex: 1;

      .maximum {
        padding: .5rem 1.5rem;

        .value {
          margin-left: 1rem;
        }
      }

      .current {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.25rem 1rem;
      }

      .temporary {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 1rem 0;
      }
    }

    .bottom-blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: -5rem;
      padding: .75rem;

      .hit-dice {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;

        .value {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          font-size: 13px;
        }
      }

      .death-saves {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5rem .75rem;
        margin-top: .5rem;

        .successes, .failures {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: .25rem;

          .label {
            margin-right: .125rem;
            font-size: 10px !important;
          }
        }
      }
    }
  }

  .attacks {
    grid-area: attk;
    display: flex;
    flex-direction: column;
    padding: .5rem .75rem;

    .labels {
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      gap: .25rem;
      margin-top: .25rem;

      .label {
        font-size: 10px !important;
      }
    }

    .attack {
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      gap: .25rem;
      margin-top: .25rem;

      & > span {
        background: #cdcdcd;
        padding: .25rem;
        font-size: 12px;
        border-radius: 5px 0;
      }
    }

    .text {
      margin-top: .5rem;
      white-space: pre-wrap;
      flex: 1;
      overflow-y: auto;
    }

    & > .label {
      margin-bottom: .75rem;
      text-align: center;
    }
  }

  .treasure {
    grid-area: trea;
    display: grid;
    grid-template-columns: 4.5rem 3fr;
    grid-template-rows: 13rem 1fr;
    grid-template-areas: "curr item item item"
                         "labe labe labe labe";
    padding: .5rem;

    .currency {
      grid-area: curr;
      display: grid;
      margin-top: -.25rem;
      grid-template-rows: repeat(5, 2.15rem);

      .coin {
        display: flex;
        align-items: center;
        margin-left: -.25rem;

        .label {
          font-size: 9px;
        }

        .amount {
          padding-left: 1rem;
        }
      }
    }

    .equipment {
      grid-area: item;
      flex: 1;
    }

    p.equipment {
      white-space: pre-wrap;
      overflow-y: auto;
    }

    & > .label {
      grid-area: labe;
      text-align: center;
    }
  }

  .description {
    grid-area: desc;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 1.5rem;

    .section {
      display: flex;
      flex-direction: column;
      padding: .5rem;
      height: 57px;

      &:first-of-type {
        height: 85px;
      }

      .text {
        white-space: pre-wrap;
        flex: 1;
        padding: .5rem 1rem;
        overflow-y: auto;
      }

      .label {
        text-align: center;
      }
    }
  }

  .features {
    grid-area: feat;
    display: flex;
    flex-direction: column;
    padding: .5rem;

    .text {
      white-space: pre-wrap;
      flex: 1;
      padding: .5rem;
      overflow-y: auto;
    }

    .label {
      text-align: center;
      margin-bottom: .75rem;
    }
  }

  .label {
    font-size: 13px;
    font-variant: small-caps;
  }
}

@page {
  margin: 0;
}
</style>
