<template>
  <div :class="['proficiency-field', { disabled: alreadyProficient && !allowExpertise }]">
    <template v-if="alreadyProficient && allowExpertise">
      <label :class="{ hidden: _value !== proficiencies.expertise }">
        <input type="radio" v-model="_value" :value="null">
        <i class="la la-check-double"></i>
      </label>
      <label :class="{ hidden: _value !== null }">
        <input type="radio" v-model="_value" :value="proficiencies.expertise">
        <i class="la la-check-circle"></i>
      </label>
      <small>BG</small>
    </template>
    <template v-else-if="alreadyProficient">
      <label>
        <i class="la la-check-circle"></i>
      </label>
      <small>C</small>
    </template>
    <template v-else>
      <label :class="{ hidden: allowExpertise ? _value !== proficiencies.expertise : _value !== proficiencies.proficiency }">
        <input type="radio" v-model="_value" :value="null">
        <i v-if="allowExpertise" class="la la-check-double"></i>
        <i v-else class="la la-check-circle"></i>
      </label>
      <label :class="{ hidden: _value !== null }">
        <input type="radio" v-model="_value" :value="proficiencies.half">
        <i class="la la-circle"></i>
      </label>
      <label :class="{ hidden: _value !== proficiencies.half }">
        <input type="radio" v-model="_value" :value="proficiencies.proficiency">
        <i class="la la-adjust"></i>
      </label>
      <label v-if="allowExpertise" :class="{ hidden: _value !== proficiencies.proficiency }">
        <input type="radio" v-model="_value" :value="proficiencies.expertise">
        <i class="la la-check-circle"></i>
      </label>
    </template>
  </div>
</template>

<script>
import proficiencies from '@/enums/proficiencies'

export default {
  props: {
    value: {
      required: true,
      default: null
    },
    allowExpertise: {
      type: Boolean
    },
    alreadyProficient: {
      type: Boolean
    }
  },
  data: () => ({
    proficiencies
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.proficiency-field {
  width: 100%;
  font-size: 24px;
  text-align: center;

  label {
    cursor: pointer;
  }

  small {
    font-size: 10px;
    position: absolute;
  }

  input {
    display: none;
  }

  &.disabled {
    label {
      cursor: unset;
    }

    .la {
      color: var(--text-muted);
    }
  }
}

.hidden {
  display: none;
}
</style>
