<template>
  <div v-if="_value" class="race">
    <div class="race-section">
      <form-field :name="$t('race.name')" required>
        <input v-model="_value.name" />
      </form-field>
      <form-field :name="$t('race.description')">
        <text-editor v-model="_value.description" />
      </form-field>
      <div class="race-extras">
        <form-field :name="$t('race.extraSkills')">
          <input type="number" min="0" v-model.number="_value.extraSkills">
        </form-field>
        <form-field :name="$t('race.extraFeats')">
          <input type="number" min="0" v-model.number="_value.extraFeats">
        </form-field>
      </div>
      <form-field-set :legend="$t('race.nameExamples')">
        <form-field :name="$t('race.namesDescription')">
          <text-editor v-model="_value.namesText" />
          <inner-form v-for="(item, index) in _value.names" :key="index" @remove="removeName(index)">
            <form-field :name="$t('race.nameCategory')" required>
              <input v-model="item.name" />
            </form-field>
            <form-field :name="$t('race.names')">
              <tag-input v-model="item.names" :placeholder="$t('race.namesPlaceholder')" />
            </form-field>
          </inner-form>
          <inner-form-add @click="addName" />
        </form-field>
      </form-field-set>
      <!-- <form-field name="Traits">
        <draggable v-model="_value.traits" handle=".handle">
          <inner-form v-for="(item, index) in _value.traits" :key="index" @remove="removeTrait(index)" :context-menu="traitsContextMenu(index)" drag>
            <form-field name="Trait name" required>
              <input v-model="item.name" />
            </form-field>
            <form-field name="Description">
              <text-editor v-model="item.description" />
            </form-field>
            <div class="trait-abilities" v-if="item.abilities">
              <form-field name="STR">
                <input type="number" min="0" v-model.number="item.abilities.strength">
              </form-field>
              <form-field name="DEX">
                <input type="number" min="0" v-model.number="item.abilities.dexterity">
              </form-field>
              <form-field name="CON">
                <input type="number" min="0" v-model.number="item.abilities.constitution">
              </form-field>
              <form-field name="INT">
                <input type="number" min="0" v-model.number="item.abilities.intelligence">
              </form-field>
              <form-field name="WIS">
                <input type="number" min="0" v-model.number="item.abilities.wisdom">
              </form-field>
              <form-field name="CHA">
                <input type="number" min="0" v-model.number="item.abilities.charisma">
              </form-field>
            </div>
            <form-field v-if="item.speeds" name="Walk Speed">
              <input type="number" min="5" step="5" max="120" v-model.number="item.speeds.value">
            </form-field>
          </inner-form>
        </draggable>
        <inner-form-add @click="addTrait" />
      </form-field> -->
    </div>
    <div class="race-section">
      <form-field-set :legend="$t('race.abilityScoreIncrease')">
        <form-field :name="$t('race.abilitiesDescription')">
          <text-editor v-model="_value.abilityScoreIncreaseText" />
        </form-field>
        <div class="asi-abilities">
          <form-field :name="$t('simpleStats.str')">
            <input type="number" min="0" v-model.number="_value.abilities.Strength">
          </form-field>
          <form-field :name="$t('simpleStats.dex')">
            <input type="number" min="0" v-model.number="_value.abilities.Dexterity">
          </form-field>
          <form-field :name="$t('simpleStats.con')">
            <input type="number" min="0" v-model.number="_value.abilities.Constitution">
          </form-field>
          <form-field :name="$t('simpleStats.int')">
            <input type="number" min="0" v-model.number="_value.abilities.Intelligence">
          </form-field>
          <form-field :name="$t('simpleStats.wis')">
            <input type="number" min="0" v-model.number="_value.abilities.Wisdom">
          </form-field>
          <form-field :name="$t('simpleStats.cha')">
            <input type="number" min="0" v-model.number="_value.abilities.Charisma">
          </form-field>
        </div>
        <form-field :name="$t('race.extraAbilities')">
          <input type="number" min="0" v-model.number="_value.extraAbilities">
        </form-field>
      </form-field-set>
      <form-field-set :legend="$t('race.age')">
        <form-field :name="$t('race.ageDescription')">
          <text-editor v-model="_value.ageText" />
        </form-field>
      </form-field-set>
      <form-field-set :legend="$t('race.alignment')">
        <form-field :name="$t('race.alignmentDescription')">
          <text-editor v-model="_value.alignmentText" />
        </form-field>
      </form-field-set>
      <form-field-set :legend="$t('race.languages')">
        <form-field :name="$t('race.languagesDescription')">
          <text-editor v-model="_value.languagesText" />
        </form-field>
        <tag-select :value="raceLanguages" @input="setLanguages" :options="Object.values(languageDict)"/>
        <form-field :name="$t('race.extraLanguages')">
          <input type="number" min="0" v-model.number="_value.extraLanguages">
        </form-field>
      </form-field-set>
      <form-field-set :legend="$t('race.size')">
        <form-field :name="$t('race.sizeDescription')">
          <text-editor v-model="_value.sizeText" />
        </form-field>
        <form-field :name="$t('race.sizeCategory')" is-select>
          <select v-model="_value.size">
            <option v-for="(size, sizeKey) in sizes" :key="sizeKey" :value="size">{{ $t(`sizes.${sizeKey}`) }}</option>
          </select>
        </form-field>
      </form-field-set>
      <form-field-set :legend="$t('race.speed')">
        <form-field :name="$t('race.speedDescription')">
          <text-editor v-model="_value.speedText" />
        </form-field>
        <form-field :name="$t('race.walkSpeed')">
          <input type="number" min="5" step="5" max="120" v-model.number="_value.speeds.Walk">
        </form-field>
      </form-field-set>
    </div>
  </div>
</template>

<script>
// import Draggable from 'vuedraggable'
import { equals } from '@/utils'
import sizes from '@/enums/sizes'
import stats from '@/enums/stats'
import FormField from '@/components/FormField.vue'
import FormFieldSet from '@/components/FormFieldSet.vue'
import InnerForm from '@/components/InnerForm.vue'
import InnerFormAdd from '@/components/InnerFormAdd.vue'
import TextEditor from '@/components/TextEditor.vue'
import TagInput from '@/components/TagInput.vue'
import TagSelect from '@/components/TagSelect.vue'

export default {
  components: {
    // Draggable,
    FormField,
    FormFieldSet,
    InnerForm,
    InnerFormAdd,
    TextEditor,
    TagInput,
    TagSelect
  },
  props: {
    value: {
      type: Object
    },
    languages: {
      type: Array
    }
  },
  data: () => ({
    sizes,
    stats,
    raceLanguages: []
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    languageDict () {
      return this.languages.reduce((acc, { id, name }) => ({ ...acc, [id]: name }), {})
    }
  },
  methods: {
    addName () {
      this._value.names.push({
        name: '',
        names: []
      })
    },
    removeName (index) {
      this._value.names.splice(index, 1)
    },
    setLanguages (value) {
      this.raceLanguages = value
      this._value.languageIds = value.map(x => this.getIdByName(this.languageDict, x))
    },
    getIdByName (object, name) {
      return Object.keys(object).find(key => object[key] === name)
    }
    /* addTrait () {
      this._value.traits.push({
        name: '',
        description: ''
      })
    },
    removeTrait (index) {
      this._value.traits.splice(index, 1)
    },
    traitsContextMenu (index) {
      const self = this
      return [
        {
          name: 'No Computed Property',
          action: () => {
            self.removeTraitProperties(index)
          }
        },
        {
          name: 'Ability Bonus',
          action: () => {
            self.addTraitPropertyAbility(index)
          }
        },
        {
          name: 'Walk Speed',
          action: () => {
            self.addTraitPropertySpeed(index)
          }
        }
      ]
    },
    removeTraitProperties (index) {
      const { id, name, description } = this._value.traits[index]
      this.$set(this._value.traits, index, { id, name, description })
    },
    addTraitPropertyAbility (index) {
      const { id, name, description } = this._value.traits[index]
      this.$set(this._value.traits, index, { id, name, description, abilities: { strength: 0, dexterity: 0, constitution: 0, wisdom: 0, intelligence: 0, charisma: 0 } })
    },
    addTraitPropertySpeed (index) {
      const { id, name, description } = this._value.traits[index]
      this.$set(this._value.traits, index, { id, name, description, speeds: { type: 'walking', value: 0 } })
    } */
  },
  mounted () {
    this.raceLanguages = this._value.languageIds.reduce((acc, val) => [...acc, this.languageDict[val]], []).sort()
  },
  watch: {
    'value.languageIds' (value) {
      const languageNames = value.map(x => this.languages.find(language => language.id === x).name)

      if (!equals(this.raceLanguages, languageNames)) {
        this.raceLanguages = languageNames
      }
    }
  }
}
</script>

<style lang="less" scoped>
.race {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.race-extras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.asi-abilities, .trait-abilities {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

@media only screen and (max-width: 1024px) {
  .race {
    grid-template-columns: 1fr;
  }
}
</style>
