<template>
  <div class="race-list-item">
    <router-link :to="{ name: 'Edit Race', params: { id: race.id } }" class="race-list-item-inner">
      <strong class="name">{{ race.name }}</strong>
      <small class="modified">{{ $t('list.modified') }}{{ race.updatedAt | timeAgo }}</small>
    </router-link>
    <button v-if="contextMenu.length" class="context" @click="toggleContext" v-on-clickaway="closeContext">
      <i class="la la-ellipsis-v"></i>
    </button>
    <ul v-if="contextMenuVisible" class="context-menu">
      <li v-for="(item, index) in contextMenu" :key="index" @click="item.action">{{ item.name }}</li>
    </ul>
    <delete-confirmation ref="delete-confirm" :message="$t('race.deletePrompt')" @confirm="deleteRace(race.id)" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, moduleName } from '@/store/game/names'
import { directive as onClickaway } from 'vue-clickaway'
import { formatDistanceToNow } from 'date-fns'
import { getDateLocale } from '@/i18n'
import RaceSummary from '@/models/raceSummary'
import DeleteConfirmation from '@/components/DeleteConfirmation.vue'

const { mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    DeleteConfirmation
  },
  directives: {
    onClickaway
  },
  props: {
    race: {
      type: RaceSummary,
      required: true
    }
  },
  data () {
    return {
      contextMenuVisible: false,
      contextMenu: [
        {
          name: this.$t('list.edit'),
          action: () => this.$router.push({ name: 'Edit Race', params: { id: this.race.id } })
        },
        {
          name: this.$t('list.duplicate'),
          action: () => this.duplicateRace(this.race.id)
        },
        {
          name: this.$t('list.delete'),
          action: () => this.$refs['delete-confirm'].open()
        }
      ]
    }
  },
  filters: {
    timeAgo: value => formatDistanceToNow(value, { addSuffix: true, locale: getDateLocale() })
  },
  methods: {
    ...mapActions([
      actions.duplicateRace,
      actions.deleteRace
    ]),
    toggleContext () {
      this.contextMenuVisible = !this.contextMenuVisible
    },
    closeContext () {
      this.contextMenuVisible = false
    }
  }
}
</script>

<style lang="less" scoped>
.race-list-item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  background: var(--panel-2);

  .race-list-item-inner {
    padding: 16px;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 1.25rem;
    }

    .modified {
      font-size: .75rem;
      color: var(--text-muted);
    }

    &:hover {
      background: var(--panel-2-hover);
    }
  }

  .context {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    color: var(--panel-1-link);

    &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
    }
  }

  .context-menu {
    position: absolute;
    top: 0;
    right: 32px;
    z-index: 999;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);

    li {
      background: var(--panel-1);
      color: var(--panel-1-link);
      padding: 8px;
      list-style: none;

      &:hover {
      background: var(--panel-1-hover);
      cursor: pointer;
      }
    }
  }
}
</style>
