<template>
  <loader class="section" v-model="load">
    <div class="inner" v-if="worlds.length">
      <div class="top">
        <p>{{ $t('world.welcome') }}</p>
        <form-field class="select" is-select>
          <select v-model="selectedWorldId">
            <option v-for="world in worlds" :key="world.alias" :value="world.alias">{{ world.name }}</option>
          </select>
        </form-field>
      </div>
      <div class="bottom">
        <router-link class="router-link" :to="{ name: 'New World' }">{{ $t('world.create') }}</router-link>
        <router-link class="router-link" :to="{ name: 'Edit World', params: { id: selectedWorldId } }">{{ $t('world.view') }}</router-link>
      </div>
    </div>
    <div class="inner" v-else>
      <div class="bottom single">
        <router-link class="router-link" :to="{ name: 'New World' }">{{ $t('world.first') }}</router-link>
      </div>
    </div>
  </loader>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/global/names'
import FormField from '@/components/FormField.vue'
import Loader from '@/components/Loader.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FormField,
    Loader
  },
  computed: {
    ...mapState([
      state.worlds,
      state.selectedWorld
    ]),
    selectedWorldId: {
      get () {
        return this.selectedWorld?.alias
      },
      async set (value) {
        await this.selectWorld(value)
      }
    }
  },
  methods: {
    ...mapActions([
      actions.getWorldList,
      actions.selectWorld
    ]),
    async load () {
      await this.getWorldList()

      if (this.worlds.length && !this.selectedWorldId) {
        await this.selectWorld(this.worlds[0].alias)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.section {
  padding: 0;

  .inner {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 100%;
    background: var(--panel-1);
    color: var(--panel-1-link);

    .top {
      display: flex;
      align-items: center;
      margin: -16px;

      .select {
        margin-left: 16px;
        width: 150px;
      }
    }

    .bottom .router-link {
      display: inline-block;
      padding: 16px;
      color: inherit;
    }

    .single {
      margin-top: -16px;
    }
  }
}

@media screen and (max-width: 425px) {
  .section {
    padding: 0 16px;
    box-sizing: border-box;

    .inner {
      .top {
        flex-direction: column;
        padding: 16px;
      }

      .bottom .router-link {
        padding: 0 16px 16px;
      }
    }
  }
}
</style>
