<template>
  <div v-if="_value" class="character">
    <div class="character-section">
      <form-field :name="$t('character.name')" required>
        <input v-model="_value.name" />
      </form-field>
      <form-field :name="$t('character.player')">
        <input v-model="_value.player" />
      </form-field>
      <form-field :name="$t('character.alignment')" is-select>
        <select v-model="_value.alignment">
          <option :value="null"></option>
          <option v-for="(alignment, alignmentValue) in alignments" :key="alignment" :value="alignment">{{ $t(`alignment.${alignmentValue}`) }}</option>
        </select>
      </form-field>
    </div>
    <div class="character-section">
      <form-field :name="$t('character.experience')">
        <input type="number" min="0" v-model.number="_value.experience" />
      </form-field>
      <form-field :name="$t('character.race')" is-select>
        <select v-model="_value.raceId">
          <option :value="null"></option>
          <option v-for="race in races" :key="race.id" :value="race.id">{{ race.name }}</option>
        </select>
      </form-field>
      <form-field :name="$t('character.background')" is-select>
        <select v-model="_value.backgroundId">
          <option :value="null"></option>
          <option v-for="background in backgrounds" :key="background.id" :value="background.id">{{ background.name }}</option>
        </select>
      </form-field>
    </div>
    <div class="character-section double-size">
      <simple-character-form-classes :classes="classes" v-model="_characterClasses" />
    </div>
    <tabs class="full-size">
      <tab :title="$t('character.attributes')">
        <character-form-attributes
          :proficiency="proficiency"
          :background-proficiencies="backgroundInfo && backgroundInfo.skillProficiencies || []"
          :class-proficiencies="classInfo && classInfo.saveProficiencies || []"
          :character-level="characterLevel"
          :first-hit-dice="firstHitDice"
          :race-modifiers="raceInfo && raceInfo.abilities || {}"
          :character-languages="_characterLanguages || []"
          :languages="extraLanguageOptions || []"
          :race-languages="raceLanguages || []"
          :n-extra-languages="nExtraLanguages"
          @languages-changed="languagesChanged"
          hide-archived
          v-model="_value"
        />
      </tab>
      <tab :title="$t('character.inventory')">
        <character-form-inventory v-model="_value" />
      </tab>
      <tab :title="$t('character.features')">
        <character-form-features v-model="_value" />
      </tab>
      <tab :title="$t('character.spellcasting')">
        <character-form-spellcasting v-model="_value" />
      </tab>
      <tab :title="$t('character.biography')">
        <character-form-biography v-model="_value" />
      </tab>
    </tabs>
  </div>
</template>

<script>
import alignments from '@/enums/alignments'
import Background from '@/models/background'
import Class from '@/models/class'
import Race from '@/models/race'
import CharacterFormAttributes from '@/components/CharacterFormAttributes.vue'
import CharacterFormBiography from '@/components/CharacterFormBiography.vue'
import SimpleCharacterFormClasses from '@/components/SimpleCharacterFormClasses.vue'
import CharacterFormFeatures from '@/components/CharacterFormFeatures.vue'
import CharacterFormInventory from '@/components/CharacterFormInventory.vue'
import CharacterFormSpellcasting from '@/components/CharacterFormSpellcasting.vue'
import FormField from '@/components/FormField.vue'
import Tabs from '@/components/Tabs.vue'
import Tab from '@/components/Tab.vue'

export default {
  components: {
    CharacterFormAttributes,
    CharacterFormBiography,
    SimpleCharacterFormClasses,
    CharacterFormFeatures,
    CharacterFormInventory,
    CharacterFormSpellcasting,
    FormField,
    Tabs,
    Tab
  },
  props: {
    value: {
      type: Object
    },
    backgrounds: {
      type: Array
    },
    classes: {
      type: Array
    },
    characterClasses: {
      type: Array
    },
    races: {
      type: Array
    },
    languages: {
      type: Array
    },
    backgroundInfo: {
      type: [Background, Object]
    },
    classInfo: {
      type: [Class, Object]
    },
    raceInfo: {
      type: Race
    }
  },
  data: () => ({
    alignments,
    characterLanguages: null,
    showClasses: false
  }),
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    _characterClasses: {
      get () {
        return this.characterClasses
      },
      set (value) {
        this.$emit('classes-changed', value)
      }
    },
    _characterLanguages: {
      get () {
        const langArr = []
        const notRaceLanguages = this.raceInfo ? [...this._value.languageIds].filter(id => this.raceInfo.languageIds.indexOf(id) < 0) : [...this._value.languageIds]
        for (const id of notRaceLanguages) {
          langArr.push(this.languageDict[id])
        }
        return langArr
      },
      set (value) {
        let ids = []
        for (const lang of value) {
          ids.push(this.getLanguageId(lang))
        }
        ids = Array.from([...ids, ...this.raceInfo.languageIds])
        this.character.languageIds = ids
      }
    },
    raceLanguages () {
      const langArr = []
      if (this.raceInfo) {
        for (const id of this.raceInfo.languageIds) {
          langArr.push(this.languageDict[id])
        }
      }
      return langArr
    },
    nExtraLanguages () {
      let temp = this.raceInfo ? this.raceInfo.extraLanguages : 0
      temp += this.backgroundInfo ? this.backgroundInfo.extraLanguages : 0
      return temp
    },
    extraLanguageOptions () {
      return Object.values(this.languageDict).filter(lang => this.raceLanguages.indexOf(lang) < 0)
    },
    languageDict () {
      const obj = {}
      for (const lang of this.languages) {
        obj[lang.id] = lang.name
      }
      return obj
    },
    displayClasses () {
      return this._characterClasses.reduce((acc, _charClass) => {
        const tempClass = _charClass.name
        const _class = this.classes.find(__class => __class.id === _charClass.classId)

        if (!_class && !tempClass) {
          return ''
        }

        return acc
          ? acc + `, ${_class?.name ?? tempClass} ${_charClass.level}`
          : `${_class?.name ?? tempClass} ${_charClass.level}`
      }, '')
    },
    firstHitDice () {
      return this.classInfo ? this.classInfo.hitDie : 0
    },
    characterLevel () {
      return this._characterClasses.reduce((acc, _class) => acc + _class.level, 0)
    },
    proficiency () {
      return Math.floor((this.characterLevel - 1) / 4) + 2
    }
  },
  methods: {
    openClasses () {
      this.showClasses = true
    },
    closeClasses () {
      this.showClasses = false
    },
    languagesChanged (value) {
      this._characterLanguages = value
    },
    getLanguageId (name) {
      return Object.keys(this.languageDict).find(id => this.languageDict[id] === name)
    }
  }
}
</script>

<style lang="less" scoped>
.character {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}

.double-size {
  grid-column-end: span 2;
}

.full-size {
  grid-column-end: span 4;
}

@media only screen and (max-width: 768px) {
  .character {
    grid-template-columns: 100%;
  }

  .double-size {
    grid-column-end: span 1;
  }

  .full-size {
    grid-column-end: span 1;
  }
}
</style>
