<template>
  <div>
    <div class="inner-flex">
      <form-field :name="$t('character.class')">
        <span>{{ classes.find(x => x.id === _value.classId).name }}</span>
      </form-field>
      <form-field :name="$t('character.classLevel')">
        <clamped-number-input :min="1" :max="20" v-model="_value.level" />
      </form-field>
      <form-field :name="$t('character.classHitDice')">
        <clamped-number-input :min="0" :max="_value.level" v-model="_value.remainingHitDice" />
      </form-field>
    </div>
  </div>
</template>

<script>
import ClampedNumberInput from '@/components/ClampedNumberInput.vue'
import FormField from '@/components/FormField.vue'

export default {
  components: {
    ClampedNumberInput,
    FormField
  },
  props: {
    classes: {
      type: Array
    },
    value: {
      type: Object
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.inner-flex {
  display: grid;
  grid-template-columns: 150px repeat(2, 1fr);
  gap: 16px;
}
</style>
