<template>
  <div class="class-dialog">
    <simple-character-form-classes-item v-for="(_, index) in _value" :key="index" :classes="classes" v-model="_value[index]" />
  </div>
</template>

<script>
import SimpleCharacterFormClassesItem from '@/components/SimpleCharacterFormClassesItem.vue'

export default {
  components: {
    SimpleCharacterFormClassesItem
  },
  props: {
    classes: {
      type: Array
    },
    value: {
      type: Array
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      }
    }
  },
  watch: {
    _value (value) {
      for (const characterClass of value) {
        characterClass.primary = false
      }

      if (value.length) {
        value[0].primary = true
      }

      this.$emit('input', value)
    }
  }
}
</script>
