<template>
  <div class="tabs">
    <ul>
      <li v-for="(tab, index) in tabs"
        :key="tab.title"
        @click="selectTab(index)"
        :class="{ selected: index === selectedIndex }"
      >{{ tab.title }}</li>
    </ul>
    <slot></slot>
  </div>
</template>

<script>
export default {
  data: () => ({
    selectedIndex: 0,
    tabs: []
  }),
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i

      this.tabs.forEach((tab, index) => {
        tab.isActive = index === i
      })
    }
  }
}
</script>

<style lang="less" scoped>
.tabs {
  width: 100%;
}

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1;
  padding: 8px 16px;
  background: var(--panel-1);
  cursor: pointer;

  &.selected {
    background: var(--panel-1-active);
  }

  &:hover {
    background: var(--panel-1-hover);
  }
}
</style>
