<template>
  <div class='tag-input'>
    <div v-for='(tag, index) in _value' :key='tag' class='tag-input-tag'>
      <span @click='removeTag(index)'>
        <i class="la la-times"></i>
      </span>
      {{ tag }}
    </div>
    <input
      type='text'
      :placeholder="placeholder"
      class='tag-input-text'
      @keydown.enter='addTag'
      @keydown.188='addTag'
      @keydown.delete='removeLastTag'
    />
  </div>
</template>

<script>
// @keydown.188 is the key ","

export default {
  props: {
    placeholder: {
      type: String,
      default: 'Enter a tag'
    },
    value: {
      type: Array,
      required: true
    }
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    addTag (event) {
      event.preventDefault()
      const trimmedValue = event.target.value.trim()
      if (trimmedValue.length > 0) {
        this._value = Array
          .from(new Set([...this._value, trimmedValue]))
          .sort()
        event.target.value = ''
      }
    },
    removeTag (index) {
      this._value.splice(index, 1)
    },
    removeLastTag (event) {
      if (event.target.value.length === 0) {
        this.removeTag(this._value.length - 1)
      }
    }
  }
}
</script>

<style scoped>
.tag-input {
  padding: 0;
  box-sizing: border-box;
  background: none;
  font-size: 14px;
  border: 0;
  border-bottom: 2px solid var(--form-field-border);
  margin: 0;
  width: 100%;
  color: var(--text-color);
  background: inherit;
}

.tag-input-tag {
  height: 24px;
  float: left;
  margin-right: 8px;
  background-color: var(--panel-1);
  margin-top: 8px;
  line-height: 24px;
  padding: 0 4px;
  border-radius: 4px;
}

.tag-input-tag > span {
  cursor: pointer;
  opacity: 0.75;
}

.tag-input-text {
  border: none;
  outline: none;
  line-height: 40px;
  background: none;
  color: var(--text-color);
}
</style>
