<template>
  <div class='tag-list'>
    <h2 v-if="name !== ''">{{name}}</h2>
    <div class="tag-list-tags">
      <div v-for='(tag, index) in tagValues' :key='index' class='tag-list-tag'>
        {{ tag }}
      </div>
      <div v-if="tagValues.length === 0">-</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tagValues: {
      type: Array,
      required: true
    },
    name: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="less" scoped>
.tag-list {
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  border: 0;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
  color: var(--text-color);
  background: inherit;

  h2 {
    font-size: .75rem;
    color: var(--text-muted);
  } 

  .tag-list-tags {
    background: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.tag-list-tag {
  height: 24px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--panel-1);
  line-height: 24px;
  padding: 0 4px;
  border-radius: 4px;
}

.tag-list-tag > span {
  cursor: pointer;
  opacity: 0.75;
}
</style>
