<template>
  <div class='tag-input'>
    <h2 v-if="name !== ''">{{name}}</h2>
    <div class="tag-input-tags">
      <div v-for='(tag, index) in _value' :key='tag' class='tag-input-tag'>
        <span @click='removeTag(index, tag)'>
          <i class="la la-times"></i>
        </span>
        {{ tag }}
      </div>
    </div>
    <div class="form-field" v-if="displaySelect">
      <select @change="addTag">
          <option value="">-</option>
          <option v-for="option in notSelectedOptions" :key="option" :value="option">{{ option }}</option>
      </select>
    </div>
  </div>
</template>

<script>
import FormField from '@/components/FormField.vue'

export default {
  props: {
    value: {
      type: Array,
      required: true
    },
    options: {
      type: Array,
      required: true
    },
    choiceLimit: {
      type: Number
    },
    name: {
      type: String,
      default: ''
    }
  },
  components: {
    FormField
  },
  computed: {
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    notSelectedOptions () {
      let temp = new Set([...this.options])
      if (this._value.length !== temp.length) {
        for (let i = 0; i < this._value.length; i++) {
          if (temp.has(this._value[i])) {
            temp.delete(this._value[i])
          }
        }
      } else {
        temp = []
      }
      return Array.from(temp)
    },
    displaySelect () {
      let temp = true
      if (this.choiceLimit && this.choiceLimit <= this._value.length) {
        temp = false
      } else if (this.notSelectedOptions.length <= 0) {
        temp = false
      }
      return temp
    }
  },
  methods: {
    addTag (event) {
      event.preventDefault()
      this._value = Array.from([...this._value, event.target.value]).sort()
      event.target.value = ''
    },
    removeTag (index, tag) {
      let temp = [...this._value]
      temp.splice(index, 1)
      this._value = temp
    }
  }
}
</script>

<style lang="less" scoped>
.tag-input {
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  border: 0;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
  color: var(--text-color);
  background: inherit;

  h2 {
    font-size: .75rem;
    color: var(--text-muted);
  } 

  .tag-input-tags {
    background: none;
    display: flex;
    flex-wrap: wrap;
  }
  .form-field {
    margin-top: 3px;
    width: 100%;
    position: relative;
    select {
      padding: 4px 0;
      box-sizing: border-box;
      font-size: 14px;
      border: 0;
      appearance: none;
      border-bottom: 2px solid var(--form-field-border);
      margin: 0 0 8px;
      width: 100%;
      color: var(--text-color);
      background: inherit;
    }
    option {
      background: var(--background);
    }
  }
}
.form-field::before {
      position: absolute;
      color: #999;
      right: 8px;
      top: 50%;
      margin-top: 3px;
      transform: translateY(-150%);
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #999999 transparent transparent transparent;
      content: "";
      pointer-events: none;
    }

.tag-input-tag {
  height: 24px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--panel-1);
  line-height: 24px;
  padding: 0 4px;
  border-radius: 4px;
}


.tag-input-tag > span {
  cursor: pointer;
  opacity: 0.75;
}
</style>
