<template>
  <div class="temporary-world-warning">
    <p>{{ $t('world.currently') }} {{ value.name }}</p>
    <router-link class="form-footer-actions-back" :to="{ name: 'Home' }"><i class="la la-arrow-left"></i> {{ $t('form.back') }}</router-link>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="less" scoped>
.temporary-world-warning {
  background: var(--panel-warning);
  padding: 3px;
  height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .la {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .form-footer-actions-back {
    margin-left: 16px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background: var(--button);
    box-sizing: border-box;

    &:hover {
      background: var(--button-hover);
    }
  }
}
</style>
