<template>
  <div @click="copyText" class="content"><small>{{ isCopied ? $t('dialog.copied') : $t('dialog.clickToCopy') }}</small>{{ value }}</div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    }
  },
  data: () => ({
    isCopied: false
  }),
  methods: {
    copyText () {
      this.$copyText(this.value)
      this.isCopied = true
      setTimeout(() => {
        this.isCopied = false
      }, 1500)
    }
  }
}
</script>

<style lang="less" scoped>
.content {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: var(--text-color);
  color: var(--panel-1);
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 8px;

  small {
    font-size: .75rem;
    display: block;
    padding-bottom: 4px;
  }
}
</style>
