<template>
  <div class="text-editor">
    <bubble-menu
      class="menububble"
      :tippy-options="{ duration: 100 }"
      :editor="editor"
      v-if="editor"
    >
      <button @click="editor.chain().focus().toggleBold().run()" class="menububble-button" :class="{ 'is-active': editor.isActive('bold') }">
        <i class="la la-bold"></i>
      </button>
      <button @click="editor.chain().focus().toggleItalic().run()" class="menububble-button" :class="{ 'is-active': editor.isActive('italic') }">
        <i class="la la-italic"></i>
      </button>
      <button @click="editor.chain().focus().toggleUnderline().run()" class="menububble-button" :class="{ 'is-active': editor.isActive('underline') }">
        <i class="la la-underline"></i>
      </button>
    </bubble-menu>
    <editor-content class="editor-content" :editor="editor" />
  </div>
</template>

<script>
import { Editor, EditorContent, BubbleMenu } from '@tiptap/vue-2'
import StarterKit from '@tiptap/starter-kit'

export default {
  components: {
    EditorContent,
    BubbleMenu
  },
  props: {
    value: {
      type: String
    }
  },
  data: () => ({
    editor: null
  }),
  mounted () {
    this.editor = new Editor({
      content: this.value,
      extensions: [
        StarterKit
      ],
      onUpdate: () => {
        this.$emit('input', this.editor.getHTML())
      }
    })
  },
  beforeDestroy () {
    this.editor.destroy()
  },
  watch: {
    value (value) {
      if (this.editor.getHTML() === value) {
        return
      }

      this.editor.commands.setContent(this.value, false)
    }
  }
}
</script>

<style lang="less" scoped>
.text-editor {
  border-bottom: 2px solid var(--form-field-border);
  margin: 0 0 8px;
}
</style>

<style lang="less">
.text-editor {
  .editor-content {
    padding: 4px 0;
    font-size: 14px;
  }

  .menububble {
    position: absolute;
    display: flex;
    z-index: 20;
    background: var(--panel-1);
    padding: 4px;
    margin-bottom: 8px;
    transform: translateX(-50%) translateY(-100%);
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    &-button {
      display: inline-flex;
      background: transparent;
      border: 0;
      font-size: 24px;
      color: var(--panel-1-link);
      padding: 2px 4px;
      margin-right: 4px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: var(--panel-1-hover);
      }

      &.is-active {
        background: var(--panel-1-active);
      }
    }
  }

  strong {
    font-weight: bold !important;
  }

  em {
    font-style: italic !important;
  }

  u {
    text-decoration: underline !important;
  }
}
</style>
