<template>
  <div @click="toggle" class="theme-changer">
    <span v-if="theme === 'theme-dark'"><i class="icon la la-sun"></i>{{ $t('global.light') }}</span>
    <span v-if="theme === 'theme-light'"><i class="icon la la-moon"></i>{{ $t('global.dark') }}</span>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { state, actions, moduleName } from '@/store/global/names'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  computed: {
    ...mapState([
      state.theme
    ])
  },
  methods: {
    ...mapActions([
      actions.toggleTheme
    ]),
    toggle () {
      if (this.theme) {
        this.toggleTheme(this.theme === 'theme-light' ? 'theme-dark' : 'theme-light')
      } else {
        const theme = document.querySelector('html').dataset.theme
        this.toggleTheme(theme === 'theme-light' ? 'theme-dark' : 'theme-light')
      }
    }
  }
}
</script>

<style lang="less" scoped>
.theme-changer {
  display: block;
  height: 48px;
  line-height: 48px;
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: lighter;
  text-decoration: none;
  padding: 0 16px;
  color: var(--panel-1-link);

  &:hover {
    cursor: pointer;
    background: var(--panel-1-hover);
    color: var(--panel-1-link-hover);
  }

  .icon {
    width: 16px;
    margin-right: 8px;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .theme-changer {
    padding: 0 12px;

    .la {
      display: none;
    }
  }
}
</style>
