<template>
  <div v-if="_value" class="world">
    <div class="world-section">
      <form-field :name="$t('world.name')" required>
        <input v-model="_value.name"/>
      </form-field>
      <form-field :name="$t('world.alias')" required :right-label="worldExists ? $t('world.chooseAnotherAlias') : ''" :error="worldExists">
        <debounce-input v-model="alias" :disabled="!!initialAlias"/>
      </form-field>
    </div>
    <div class="world-section">
      <form-field :name="$t('world.description')">
        <text-editor v-model="_value.description" />
      </form-field>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { actions, state, moduleName } from '@/store/global/names'
import FormField from '@/components/FormField.vue'
import TextEditor from '@/components/TextEditor.vue'
import DebounceInput from '@/components/DebounceInput.vue'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  components: {
    FormField,
    TextEditor,
    DebounceInput
  },
  props: {
    value: {
      type: Object,
      required: true
    },
    initialAlias: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapState([
      state.worldExists
    ]),
    _value: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    alias: {
      get () {
        return this._value.alias
      },
      set (value) {
        this._value.alias = value.toLowerCase().replace(/\W/g, '')
      }
    }
  },
  methods: {
    ...mapActions([
      actions.checkIfWorldExists
    ])
  },
  watch: {
    '_value.alias': {
      async handler (value) {
        await this.checkIfWorldExists({ alias: value, initialAlias: this.initialAlias })
      },
      immediate: true
    }
  }
}
</script>

<style lang="less" scoped>
.world {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .text-editor .editor-content {
    min-height: 19px;
  }
}

@media only screen and (max-width: 1024px) {
  .world {
    grid-template-columns: 1fr;
  }
}
</style>
