@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@font-face {
  font-family: 'Blank';
  src: url('~@/assets/AdobeBlank.ttf');
}
@font-face {
  font-family: 'Infernal';
  src: url('~@/assets/DND5EDraconicScript.ttf');
}

:root {
  --font-title: 'Poppins', Helvetica, Arial, sans-serif;
  --font-sans-serif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root[data-theme="theme-light"] {
  --background-accent: #efefef;
  --background: #ebebeb;
  --background-2: #e5e5e5;
  --text-color: #232323;
  --text-muted: #5c5c5c;
  --text-footer: #878787;
  --panel-1: #cdcdcd;
  --panel-1-hover: #a9a9a9;
  --panel-1-active: #bababa;
  --panel-1-link: #232323;
  --panel-1-link-hover: #111111;
  --panel-2: #e0e0e0;
  --panel-2-hover: #d1d1d1;
  --panel-warning: #00b8ff;
  --form-field-border: #bababa;
  --form-field-border-error: #e22121;
  --button: transparent;
  --button-hover: #dfdfdf;
  --check-button: #dfdfdf;
  --check-button-hover: #cdcdcd;
  --check-button-clicked: #a9a9a9;
  --check-button-disabled: transparent;
  --check-button-clicked-hover: #bababa;
  --confirm-button: #35e95c;
  --confirm-button-hover: #52f375;
  --delete-button: #db3636;
  --delete-button-hover: #e74d4d;
  --loader-color: #ffffff;
  --loader-background: rgba(255, 255, 255, .5);
  --loader-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0idHJpYW5nbGUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMzNi45MiAyOTEuNzUiPgoJPHBvbHlnb24gcG9pbnRzPSIzMzQuNzUgMjkwLjUgMi4xNyAyOTAuNSAxNjguNDcgMi41IDMzNC43NSAyOTAuNSIgZmlsbD0iMDAwIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMTUiLz4KPC9zdmc+');
}

:root[data-theme="theme-dark"] {
  --background-accent: #101010;
  --background: #141414;
  --background-2: #1a1a1a;
  --text-color: #dcdcdc;
  --text-muted: #a3a3a3;
  --text-footer: #787878;
  --panel-1: #323232;
  --panel-1-hover: #565656;
  --panel-1-active: #454545;
  --panel-1-link: #dcdcdc;
  --panel-1-link-hover: #eeeeee;
  --panel-2: #1f1f1f;
  --panel-2-hover: #2e2e2e;
  --panel-warning: #00719c;
  --form-field-border: #454545;
  --form-field-border-error: #ad0a0a;
  --button: transparent;
  --button-hover: #202020;
  --check-button: #202020;
  --check-button-hover: #323232;
  --check-button-clicked: #565656;
  --check-button-disabled: transparent;
  --check-button-clicked-hover: #454545;
  --confirm-button: #11972e;
  --confirm-button-hover: #2aa745;
  --delete-button: #961616;
  --delete-button-hover: #b93030;
  --loader-color: #000000;
  --loader-background: rgba(0, 0, 0, .5);
  --loader-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0idHJpYW5nbGUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMzNi45MiAyOTEuNzUiPgoJPHBvbHlnb24gcG9pbnRzPSIzMzQuNzUgMjkwLjUgMi4xNyAyOTAuNSAxNjguNDcgMi41IDMzNC43NSAyOTAuNSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjE1Ii8+Cjwvc3ZnPg==');
}

:root[data-theme="theme-pink"] {
  --font-title: 'Infernal', 'Blank', 'Poppins', Helvetica, Arial, sans-serif;
  --font-sans-serif: 'Infernal', 'Blank', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --background-accent: #efcfcf;
  --background: #ebcbcb;
  --background-2: #e5c5c5;
  --text-color: #232323;
  --text-muted: #5c5c5c;
  --text-footer: #878787;
  --panel-1: #cdadad;
  --panel-1-hover: #a98989;
  --panel-1-active: #ba9a9a;
  --panel-1-link: #232323;
  --panel-1-link-hover: #111111;
  --panel-2: #e0c0c0;
  --panel-2-hover: #d1b1b1;
  --form-field-border: #ba9a9a;
  --form-field-border-error: #e22121;
  --button: transparent;
  --button-hover: #dfbfbf;
  --check-button: #dfbfbf;
  --check-button-hover: #cdadad;
  --check-button-clicked: #a98989;
  --check-button-disabled: transparent;
  --check-button-clicked-hover: #ba9a9a;
  --confirm-button: #35e95c;
  --confirm-button-hover: #52f375;
  --delete-button: #db3636;
  --delete-button-hover: #e74d4d;
  --loader-color: #ffffff;
  --loader-background: rgba(255, 255, 255, .5);
  --loader-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0idHJpYW5nbGUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMzNi45MiAyOTEuNzUiPgoJPHBvbHlnb24gcG9pbnRzPSIzMzQuNzUgMjkwLjUgMi4xNyAyOTAuNSAxNjguNDcgMi41IDMzNC43NSAyOTAuNSIgZmlsbD0iMDAwIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMTUiLz4KPC9zdmc+');
}
