<template>
  <div id="app">
    <div class="container-background"></div>
    <router-view class="main" />
    <portal-target name="footer" />
    <portal-target name="popup" />
    <portal-target name="loading" />
  </div>
</template>

<script>
import Konami from 'konami'
import { shuffle } from '@/utils'
import { createNamespacedHelpers } from 'vuex'
import { state, actions, moduleName } from '@/store/global/names'

const { mapState, mapActions } = createNamespacedHelpers(moduleName)

export default {
  data: () => ({
    easterEgg: null
  }),
  computed: {
    ...mapState([
      state.theme
    ])
  },
  async created () {
    const mediaQueryList = window.matchMedia('(prefers-color-scheme: dark)')
    const isOsDark = mediaQueryList.matches

    if (this.theme) {
      this.changeTheme(this.theme)
    } else {
      this.toggleTheme(isOsDark ? 'theme-dark' : 'theme-light')
    }

    this.easterEgg = new Konami(() => {
      this.changeTheme('theme-pink')
      setInterval(() => {
        const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT)
        while (walker.nextNode()) {
          walker.currentNode.nodeValue = shuffle(walker.currentNode.nodeValue)
        }
      }, 5000)
    })
  },
  methods: {
    ...mapActions([
      actions.toggleTheme
    ]),
    changeTheme (theme) {
      const html = document.querySelector('html')

      if (theme) {
        html.dataset.theme = theme
      }
    }
  },
  watch: {
    [state.theme] (value) {
      this.changeTheme(value)
    },
    [`$store.state.${moduleName}.${state.language}`]: {
      handler (value) {
        this.$root.$i18n.locale = value
      },
      immediate: true
    }
  }
}
</script>

<style lang="less">
@import '~@/assets/colors.css';

* {
  outline: none;
  font-family: var(--font-sans-serif);
}

input, textarea {
  font-family: var(--font-sans-serif) !important;
}

html, body, #app {
  font-size: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-accent);
  font-family: var(--font-sans-serif);
}

.container-background {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: -1;
  height: calc(50vh + 150px);
  width: 100%;
  transform: skewY(5deg);
  background: var(--background);
}

#app {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
  padding: 1rem 0;
  color: var(--text-footer);
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 48px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    height: 32px;
    font-size: .75rem;
  }
}

@media print {
  @page {
    size: "letter";
  }

  nav {
    display: none !important;
  }

  body {
    background: #fff;
    max-width: 8.5in;
    max-height: 11in;
  }

  footer {
    display: none;
  }
}
</style>
